---
openapi: 3.0.0
info:
  title: Wenmar Pro API
  version: 1.0.0
servers:
- url: https://app.wenmarpro.com
paths:
  "/account":
    delete:
      summary: destroy
      tags:
      - account
      responses:
        '204':
          description: DELETE /account -> 204
        '403':
          description: DELETE /account -> 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
        '422':
          description: DELETE /account -> 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      description: Delete a account by ID.
      operationId: delete_account
      x-curl-example: 'curl -X DELETE -H "User-Agent: wenmar-cli/0.2" -H "Authorization:
        Bearer $WENMAR_TOKEN" https://app.wenmarpro.com/account.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
    get:
      summary: show
      tags:
      - account
      responses:
        '200':
          description: GET /account -> 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  slug:
                    type: string
                  billing_email:
                    type: string
                  website:
                    nullable: true
                    type: string
                  business_type:
                    nullable: true
                    type: string
                  tax_id:
                    nullable: true
                    type: string
                  created_at:
                    type: string
                  updated_at:
                    type: string
                  url:
                    type: string
                  app_url:
                    type: string
                  formatted_join_code:
                    type: string
                  station_login_url:
                    type: string
                  deletion_scheduled_at:
                    nullable: true
                    type: string
                  locations:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        url:
                          type: string
                        app_url:
                          type: string
                      required:
                      - id
                      - name
                      - url
                      - app_url
                required:
                - id
                - name
                - slug
                - billing_email
                - website
                - business_type
                - tax_id
                - created_at
                - updated_at
                - url
                - app_url
                - formatted_join_code
                - station_login_url
                - deletion_scheduled_at
                - locations
        '401':
          description: GET /account -> 401
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      description: List all account, paginated via the Link header.
      operationId: list_account
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/account.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
    patch:
      summary: update
      tags:
      - account
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/UpdateAccountRequest"
      responses:
        '200':
          description: PATCH /account -> 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  slug:
                    type: string
                  billing_email:
                    type: string
                  website:
                    nullable: true
                    type: string
                  business_type:
                    nullable: true
                    type: string
                  tax_id:
                    nullable: true
                    type: string
                  created_at:
                    type: string
                  updated_at:
                    type: string
                  url:
                    type: string
                  app_url:
                    type: string
                  formatted_join_code:
                    type: string
                  station_login_url:
                    type: string
                  deletion_scheduled_at:
                    nullable: true
                    type: string
                  locations:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        url:
                          type: string
                        app_url:
                          type: string
                      required:
                      - id
                      - name
                      - url
                      - app_url
                required:
                - id
                - name
                - slug
                - billing_email
                - website
                - business_type
                - tax_id
                - created_at
                - updated_at
                - url
                - app_url
                - formatted_join_code
                - station_login_url
                - deletion_scheduled_at
                - locations
        '403':
          description: PATCH /account -> 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      description: Update a account by ID.
      operationId: update_account
      x-curl-example: |-
        curl -X PATCH -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/account.json
      x-wenmar-request-schema: UpdateAccountRequest
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/account/station_link":
    get:
      summary: station_link
      tags:
      - account
      responses:
        '200':
          description: GET /account/station_link -> 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  join_code:
                    type: string
                  formatted_join_code:
                    type: string
                  station_login_url:
                    type: string
                  qr_code_url:
                    type: string
                required:
                - join_code
                - formatted_join_code
                - station_login_url
                - qr_code_url
      description: List all account station link, paginated via the Link header.
      operationId: list_account_station_link
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/account/station_link.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/account/station_link/regenerate":
    post:
      summary: regenerate
      tags:
      - account
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateAccountStationLinkRegenerateRequest"
      responses:
        '200':
          description: POST /account/station_link/regenerate -> 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  slug:
                    type: string
                  billing_email:
                    type: string
                  website:
                    nullable: true
                    type: string
                  business_type:
                    nullable: true
                    type: string
                  tax_id:
                    nullable: true
                    type: string
                  created_at:
                    type: string
                  updated_at:
                    type: string
                  url:
                    type: string
                  app_url:
                    type: string
                  formatted_join_code:
                    type: string
                  station_login_url:
                    type: string
                  deletion_scheduled_at:
                    nullable: true
                    type: string
                  locations:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        url:
                          type: string
                        app_url:
                          type: string
                      required:
                      - id
                      - name
                      - url
                      - app_url
                required:
                - id
                - name
                - slug
                - billing_email
                - website
                - business_type
                - tax_id
                - created_at
                - updated_at
                - url
                - app_url
                - formatted_join_code
                - station_login_url
                - deletion_scheduled_at
                - locations
      description: Create a account station link regenerate.
      operationId: create_account_station_link_regenerate
      x-curl-example: |-
        curl -X POST -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/account/station_link/regenerate.json
      x-wenmar-request-schema: CreateAccountStationLinkRegenerateRequest
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/ai_suggestions/{id}":
    patch:
      summary: update
      tags:
      - ai_suggestions
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: PATCH /ai_suggestions/{id} -> 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  status:
                    type: string
                required:
                - id
                - status
        '403':
          description: PATCH /ai_suggestions/{id} -> 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
        '422':
          description: PATCH /ai_suggestions/{id} -> 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/UpdateAiSuggestionRequest"
      description: Update a ai suggestion by ID.
      operationId: update_ai_suggestion
      x-curl-example: |-
        curl -X PATCH -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/ai_suggestions/<id>.json
      x-wenmar-request-schema: UpdateAiSuggestionRequest
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/appointments":
    get:
      summary: index
      tags:
      - appointments
      responses:
        '200':
          description: GET /appointments -> 200
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    type:
                      type: string
                    status:
                      type: string
                    appointment_type:
                      type: string
                    appointment_source:
                      nullable: true
                    intake_method:
                      type: string
                    all_day:
                      type: boolean
                    starts_at:
                      type: string
                    ends_at:
                      type: string
                    estimated_duration_minutes:
                      type: integer
                    customer_name:
                      type: string
                    customer_email:
                      type: string
                    customer_phone:
                      type: string
                    customer_concern:
                      nullable: true
                    follow_up_reason:
                      nullable: true
                      type: string
                    year:
                      nullable: true
                    make:
                      nullable: true
                    model:
                      nullable: true
                      type: string
                    submodel:
                      nullable: true
                      type: string
                    vin:
                      nullable: true
                    license_plate:
                      nullable: true
                    url:
                      type: string
                    app_url:
                      type: string
                    customer:
                      nullable: true
                      type: object
                      properties:
                        id:
                          type: integer
                        full_name:
                          type: string
                        url:
                          type: string
                      required:
                      - id
                      - full_name
                      - url
                    vehicle:
                      nullable: true
                      type: object
                    service_advisor:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        url:
                          type: string
                      required:
                      - id
                      - name
                      - url
                    work_order:
                      nullable: true
                    location:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        url:
                          type: string
                      required:
                      - id
                      - name
                      - url
                    created_at:
                      type: string
                    updated_at:
                      type: string
                  required:
                  - id
                  - type
                  - status
                  - appointment_type
                  - appointment_source
                  - intake_method
                  - all_day
                  - starts_at
                  - ends_at
                  - estimated_duration_minutes
                  - customer_name
                  - customer_email
                  - customer_phone
                  - customer_concern
                  - follow_up_reason
                  - year
                  - make
                  - model
                  - submodel
                  - vin
                  - license_plate
                  - url
                  - app_url
                  - customer
                  - vehicle
                  - service_advisor
                  - work_order
                  - location
                  - created_at
                  - updated_at
          headers:
            Link:
              schema:
                type: string
              description: RFC 5988 pagination links
            X-Total-Count:
              schema:
                type: integer
              description: Total matching records
            X-Per-Page:
              schema:
                type: integer
              description: Records per page
      parameters:
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
      - name: q
        in: query
        required: false
        schema:
          type: string
      - name: status
        in: query
        required: false
        schema:
          type: string
      description: List all appointments, paginated via the Link header.
      operationId: list_appointments
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/appointments.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
    post:
      summary: create
      tags:
      - appointments
      responses:
        '201':
          description: POST /appointments -> 201
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  type:
                    type: string
                  status:
                    type: string
                  appointment_type:
                    type: string
                  appointment_source:
                    type: string
                  intake_method:
                    type: string
                  all_day:
                    type: boolean
                  starts_at:
                    type: string
                  ends_at:
                    type: string
                  estimated_duration_minutes:
                    type: integer
                  customer_name:
                    nullable: true
                    type: string
                  customer_email:
                    nullable: true
                  customer_phone:
                    nullable: true
                  customer_concern:
                    nullable: true
                  follow_up_reason:
                    nullable: true
                    type: string
                  year:
                    nullable: true
                  make:
                    nullable: true
                  model:
                    nullable: true
                    type: string
                  submodel:
                    nullable: true
                    type: string
                  vin:
                    nullable: true
                  license_plate:
                    nullable: true
                  url:
                    type: string
                  app_url:
                    type: string
                  customer:
                    type: object
                    properties:
                      id:
                        type: integer
                      full_name:
                        type: string
                      url:
                        type: string
                      app_url:
                        type: string
                      phones_count:
                        type: integer
                      emails_count:
                        type: integer
                    required:
                    - id
                    - full_name
                    - url
                    - app_url
                    - phones_count
                    - emails_count
                  vehicle:
                    type: object
                    properties:
                      id:
                        type: integer
                      display_name:
                        type: string
                      url:
                        type: string
                      app_url:
                        type: string
                    required:
                    - id
                    - display_name
                    - url
                    - app_url
                  service_advisor:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      url:
                        type: string
                    required:
                    - id
                    - name
                    - url
                  work_order:
                    nullable: true
                  location:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      url:
                        type: string
                    required:
                    - id
                    - name
                    - url
                  created_at:
                    type: string
                  updated_at:
                    type: string
                  customer_confirmed:
                    type: boolean
                  confirmation_sent_at:
                    nullable: true
                    type: string
                  reminder_sent_at:
                    nullable: true
                    type: string
                  customer_arrived_at:
                    nullable: true
                    type: string
                  customer_initiated:
                    type: boolean
                  rescheduled_from_id:
                    nullable: true
                    type: integer
                  latest_reschedule_id:
                    nullable: true
                    type: integer
                  messages_count:
                    type: integer
                  reschedules_count:
                    type: integer
                  approve_url:
                    type: string
                  reject_url:
                    type: string
                  cancel_url:
                    type: string
                  follow_up_url:
                    type: string
                  work_order_url:
                    type: string
                required:
                - id
                - type
                - status
                - appointment_type
                - appointment_source
                - intake_method
                - all_day
                - starts_at
                - ends_at
                - estimated_duration_minutes
                - customer_name
                - customer_email
                - customer_phone
                - customer_concern
                - follow_up_reason
                - year
                - make
                - model
                - submodel
                - vin
                - license_plate
                - url
                - app_url
                - customer
                - vehicle
                - service_advisor
                - work_order
                - location
                - created_at
                - updated_at
                - customer_confirmed
                - confirmation_sent_at
                - reminder_sent_at
                - customer_arrived_at
                - customer_initiated
                - rescheduled_from_id
                - latest_reschedule_id
                - messages_count
                - reschedules_count
                - approve_url
                - reject_url
                - cancel_url
                - follow_up_url
                - work_order_url
        '403':
          description: POST /appointments -> 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
        '422':
          description: POST /appointments -> 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateAppointmentRequest"
      description: Create a appointment.
      operationId: create_appointment
      x-curl-example: |-
        curl -X POST -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/appointments.json
      x-wenmar-request-schema: CreateAppointmentRequest
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/appointments/available_slots":
    get:
      summary: available_slots
      tags:
      - appointments
      parameters:
      - name: date
        in: query
        required: false
        schema:
          type: string
      - name: duration_minutes
        in: query
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: GET /appointments/available_slots -> 200
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    time:
                      type: string
                    booked:
                      type: integer
                    capacity:
                      type: integer
                    available:
                      type: boolean
                    blocked:
                      type: boolean
                    slots_needed:
                      type: integer
                  required:
                  - time
                  - booked
                  - capacity
                  - available
                  - blocked
                  - slots_needed
          headers:
            Link:
              schema:
                type: string
              description: RFC 5988 pagination links
            X-Total-Count:
              schema:
                type: integer
              description: Total matching records
            X-Per-Page:
              schema:
                type: integer
              description: Records per page
      description: List all appointments available slots, paginated via the Link header.
      operationId: list_appointments_available_slots
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/appointments/available_slots.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/appointments/{id}":
    delete:
      summary: destroy
      tags:
      - appointments
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '204':
          description: DELETE /appointments/{id} -> 204
      description: Delete a appointment by ID.
      operationId: delete_appointment
      x-curl-example: 'curl -X DELETE -H "User-Agent: wenmar-cli/0.2" -H "Authorization:
        Bearer $WENMAR_TOKEN" https://app.wenmarpro.com/appointments/<id>.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
    get:
      summary: show
      tags:
      - appointments
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: GET /appointments/{id} -> 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  type:
                    type: string
                  status:
                    type: string
                  appointment_type:
                    type: string
                  appointment_source:
                    nullable: true
                  intake_method:
                    type: string
                  all_day:
                    type: boolean
                  starts_at:
                    type: string
                  ends_at:
                    type: string
                  estimated_duration_minutes:
                    type: integer
                  customer_name:
                    type: string
                  customer_email:
                    type: string
                  customer_phone:
                    type: string
                  customer_concern:
                    nullable: true
                  follow_up_reason:
                    nullable: true
                    type: string
                  year:
                    nullable: true
                  make:
                    nullable: true
                  model:
                    nullable: true
                    type: string
                  submodel:
                    nullable: true
                    type: string
                  vin:
                    nullable: true
                  license_plate:
                    nullable: true
                  url:
                    type: string
                  app_url:
                    type: string
                  customer:
                    nullable: true
                    type: object
                  vehicle:
                    nullable: true
                    type: object
                  service_advisor:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      url:
                        type: string
                    required:
                    - id
                    - name
                    - url
                  work_order:
                    nullable: true
                  location:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      url:
                        type: string
                    required:
                    - id
                    - name
                    - url
                  created_at:
                    type: string
                  updated_at:
                    type: string
                  customer_confirmed:
                    type: boolean
                  confirmation_sent_at:
                    nullable: true
                    type: string
                  reminder_sent_at:
                    nullable: true
                    type: string
                  customer_arrived_at:
                    nullable: true
                    type: string
                  customer_initiated:
                    type: boolean
                  rescheduled_from_id:
                    nullable: true
                    type: integer
                  latest_reschedule_id:
                    nullable: true
                    type: integer
                  messages_count:
                    type: integer
                  reschedules_count:
                    type: integer
                  approve_url:
                    type: string
                  reject_url:
                    type: string
                  cancel_url:
                    type: string
                  follow_up_url:
                    type: string
                  work_order_url:
                    type: string
                  reconcile_vehicle_url:
                    type: string
                required:
                - id
                - type
                - status
                - appointment_type
                - appointment_source
                - intake_method
                - all_day
                - starts_at
                - ends_at
                - estimated_duration_minutes
                - customer_name
                - customer_email
                - customer_phone
                - customer_concern
                - follow_up_reason
                - year
                - make
                - model
                - submodel
                - vin
                - license_plate
                - url
                - app_url
                - customer
                - vehicle
                - service_advisor
                - work_order
                - location
                - created_at
                - updated_at
                - customer_confirmed
                - confirmation_sent_at
                - reminder_sent_at
                - customer_arrived_at
                - customer_initiated
                - rescheduled_from_id
                - latest_reschedule_id
                - messages_count
                - reschedules_count
                - approve_url
                - reject_url
                - cancel_url
                - follow_up_url
                - work_order_url
                - reconcile_vehicle_url
        '304':
          description: GET /appointments/{id} -> 304
      description: Show a appointment by ID.
      operationId: show_appointment
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/appointments/<id>.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
    patch:
      summary: update
      tags:
      - appointments
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/UpdateAppointmentRequest"
      responses:
        '200':
          description: PATCH /appointments/{id} -> 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  type:
                    type: string
                  status:
                    type: string
                  appointment_type:
                    type: string
                  appointment_source:
                    nullable: true
                  intake_method:
                    type: string
                  all_day:
                    type: boolean
                  starts_at:
                    type: string
                  ends_at:
                    type: string
                  estimated_duration_minutes:
                    type: integer
                  customer_name:
                    type: string
                  customer_email:
                    type: string
                  customer_phone:
                    type: string
                  customer_concern:
                    type: string
                  follow_up_reason:
                    nullable: true
                    type: string
                  year:
                    nullable: true
                  make:
                    nullable: true
                  model:
                    nullable: true
                    type: string
                  submodel:
                    nullable: true
                    type: string
                  vin:
                    nullable: true
                  license_plate:
                    nullable: true
                  url:
                    type: string
                  app_url:
                    type: string
                  customer:
                    nullable: true
                    type: object
                  vehicle:
                    nullable: true
                    type: object
                  service_advisor:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      url:
                        type: string
                    required:
                    - id
                    - name
                    - url
                  work_order:
                    nullable: true
                  location:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      url:
                        type: string
                    required:
                    - id
                    - name
                    - url
                  created_at:
                    type: string
                  updated_at:
                    type: string
                  customer_confirmed:
                    type: boolean
                  confirmation_sent_at:
                    nullable: true
                    type: string
                  reminder_sent_at:
                    nullable: true
                    type: string
                  customer_arrived_at:
                    nullable: true
                    type: string
                  customer_initiated:
                    type: boolean
                  rescheduled_from_id:
                    nullable: true
                    type: integer
                  latest_reschedule_id:
                    nullable: true
                    type: integer
                  messages_count:
                    type: integer
                  reschedules_count:
                    type: integer
                  approve_url:
                    type: string
                  reject_url:
                    type: string
                  cancel_url:
                    type: string
                  follow_up_url:
                    type: string
                  work_order_url:
                    type: string
                  reconcile_vehicle_url:
                    type: string
                required:
                - id
                - type
                - status
                - appointment_type
                - appointment_source
                - intake_method
                - all_day
                - starts_at
                - ends_at
                - estimated_duration_minutes
                - customer_name
                - customer_email
                - customer_phone
                - customer_concern
                - follow_up_reason
                - year
                - make
                - model
                - submodel
                - vin
                - license_plate
                - url
                - app_url
                - customer
                - vehicle
                - service_advisor
                - work_order
                - location
                - created_at
                - updated_at
                - customer_confirmed
                - confirmation_sent_at
                - reminder_sent_at
                - customer_arrived_at
                - customer_initiated
                - rescheduled_from_id
                - latest_reschedule_id
                - messages_count
                - reschedules_count
                - approve_url
                - reject_url
                - cancel_url
                - follow_up_url
                - work_order_url
                - reconcile_vehicle_url
      description: Update a appointment by ID.
      operationId: update_appointment
      x-curl-example: |-
        curl -X PATCH -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/appointments/<id>.json
      x-wenmar-request-schema: UpdateAppointmentRequest
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/appointments/{id}/approvals":
    post:
      summary: create
      tags:
      - appointments
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateAppointmentsApprovalRequest"
      responses:
        '200':
          description: POST /appointments/{id}/approvals -> 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  type:
                    type: string
                  status:
                    type: string
                  appointment_type:
                    type: string
                  appointment_source:
                    nullable: true
                  intake_method:
                    type: string
                  all_day:
                    type: boolean
                  starts_at:
                    type: string
                  ends_at:
                    type: string
                  estimated_duration_minutes:
                    type: integer
                  customer_name:
                    type: string
                  customer_email:
                    type: string
                  customer_phone:
                    type: string
                  customer_concern:
                    nullable: true
                  follow_up_reason:
                    nullable: true
                    type: string
                  year:
                    nullable: true
                  make:
                    nullable: true
                  model:
                    nullable: true
                    type: string
                  submodel:
                    nullable: true
                    type: string
                  vin:
                    nullable: true
                  license_plate:
                    nullable: true
                  url:
                    type: string
                  app_url:
                    type: string
                  customer:
                    nullable: true
                    type: object
                  vehicle:
                    nullable: true
                    type: object
                  service_advisor:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      url:
                        type: string
                    required:
                    - id
                    - name
                    - url
                  work_order:
                    nullable: true
                  location:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      url:
                        type: string
                    required:
                    - id
                    - name
                    - url
                  created_at:
                    type: string
                  updated_at:
                    type: string
                  customer_confirmed:
                    type: boolean
                  confirmation_sent_at:
                    nullable: true
                    type: string
                  reminder_sent_at:
                    nullable: true
                    type: string
                  customer_arrived_at:
                    nullable: true
                    type: string
                  customer_initiated:
                    type: boolean
                  rescheduled_from_id:
                    nullable: true
                    type: integer
                  latest_reschedule_id:
                    nullable: true
                    type: integer
                  messages_count:
                    type: integer
                  reschedules_count:
                    type: integer
                  approve_url:
                    type: string
                  reject_url:
                    type: string
                  cancel_url:
                    type: string
                  follow_up_url:
                    type: string
                  work_order_url:
                    type: string
                  reconcile_vehicle_url:
                    type: string
                required:
                - id
                - type
                - status
                - appointment_type
                - appointment_source
                - intake_method
                - all_day
                - starts_at
                - ends_at
                - estimated_duration_minutes
                - customer_name
                - customer_email
                - customer_phone
                - customer_concern
                - follow_up_reason
                - year
                - make
                - model
                - submodel
                - vin
                - license_plate
                - url
                - app_url
                - customer
                - vehicle
                - service_advisor
                - work_order
                - location
                - created_at
                - updated_at
                - customer_confirmed
                - confirmation_sent_at
                - reminder_sent_at
                - customer_arrived_at
                - customer_initiated
                - rescheduled_from_id
                - latest_reschedule_id
                - messages_count
                - reschedules_count
                - approve_url
                - reject_url
                - cancel_url
                - follow_up_url
                - work_order_url
                - reconcile_vehicle_url
      description: Create a appointments approval.
      operationId: create_appointments_approval
      x-curl-example: |-
        curl -X POST -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/appointments/<id>.json
      x-wenmar-request-schema: CreateAppointmentsApprovalRequest
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/appointments/{id}/cancellations":
    post:
      summary: create
      tags:
      - appointments
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateAppointmentsCancellationRequest"
      responses:
        '200':
          description: POST /appointments/{id}/cancellations -> 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  type:
                    type: string
                  status:
                    type: string
                  appointment_type:
                    type: string
                  appointment_source:
                    nullable: true
                  intake_method:
                    type: string
                  all_day:
                    type: boolean
                  starts_at:
                    type: string
                  ends_at:
                    type: string
                  estimated_duration_minutes:
                    type: integer
                  customer_name:
                    type: string
                  customer_email:
                    type: string
                  customer_phone:
                    type: string
                  customer_concern:
                    nullable: true
                  follow_up_reason:
                    nullable: true
                    type: string
                  year:
                    nullable: true
                  make:
                    nullable: true
                  model:
                    nullable: true
                    type: string
                  submodel:
                    nullable: true
                    type: string
                  vin:
                    nullable: true
                  license_plate:
                    nullable: true
                  url:
                    type: string
                  app_url:
                    type: string
                  customer:
                    nullable: true
                    type: object
                  vehicle:
                    nullable: true
                    type: object
                  service_advisor:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      url:
                        type: string
                    required:
                    - id
                    - name
                    - url
                  work_order:
                    nullable: true
                  location:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      url:
                        type: string
                    required:
                    - id
                    - name
                    - url
                  created_at:
                    type: string
                  updated_at:
                    type: string
                  customer_confirmed:
                    type: boolean
                  confirmation_sent_at:
                    nullable: true
                    type: string
                  reminder_sent_at:
                    nullable: true
                    type: string
                  customer_arrived_at:
                    nullable: true
                    type: string
                  customer_initiated:
                    type: boolean
                  rescheduled_from_id:
                    nullable: true
                    type: integer
                  latest_reschedule_id:
                    nullable: true
                    type: integer
                  messages_count:
                    type: integer
                  reschedules_count:
                    type: integer
                  approve_url:
                    type: string
                  reject_url:
                    type: string
                  cancel_url:
                    type: string
                  follow_up_url:
                    type: string
                  work_order_url:
                    type: string
                  reconcile_vehicle_url:
                    type: string
                required:
                - id
                - type
                - status
                - appointment_type
                - appointment_source
                - intake_method
                - all_day
                - starts_at
                - ends_at
                - estimated_duration_minutes
                - customer_name
                - customer_email
                - customer_phone
                - customer_concern
                - follow_up_reason
                - year
                - make
                - model
                - submodel
                - vin
                - license_plate
                - url
                - app_url
                - customer
                - vehicle
                - service_advisor
                - work_order
                - location
                - created_at
                - updated_at
                - customer_confirmed
                - confirmation_sent_at
                - reminder_sent_at
                - customer_arrived_at
                - customer_initiated
                - rescheduled_from_id
                - latest_reschedule_id
                - messages_count
                - reschedules_count
                - approve_url
                - reject_url
                - cancel_url
                - follow_up_url
                - work_order_url
                - reconcile_vehicle_url
      description: Create a appointments cancellation.
      operationId: create_appointments_cancellation
      x-curl-example: |-
        curl -X POST -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/appointments/<id>.json
      x-wenmar-request-schema: CreateAppointmentsCancellationRequest
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/appointments/{id}/follow_ups":
    post:
      summary: create
      tags:
      - appointments
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateAppointmentsFollowUpRequest"
      responses:
        '201':
          description: POST /appointments/{id}/follow_ups -> 201
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  type:
                    type: string
                  status:
                    type: string
                  appointment_type:
                    type: string
                  appointment_source:
                    type: string
                  intake_method:
                    type: string
                  all_day:
                    type: boolean
                  starts_at:
                    type: string
                  ends_at:
                    type: string
                  estimated_duration_minutes:
                    type: integer
                  customer_name:
                    type: string
                  customer_email:
                    type: string
                  customer_phone:
                    type: string
                  customer_concern:
                    nullable: true
                  follow_up_reason:
                    type: string
                  year:
                    type: integer
                  make:
                    type: string
                  model:
                    type: string
                  submodel:
                    nullable: true
                    type: string
                  vin:
                    type: string
                  license_plate:
                    type: string
                  url:
                    type: string
                  app_url:
                    type: string
                  customer:
                    type: object
                    properties:
                      id:
                        type: integer
                      full_name:
                        type: string
                      url:
                        type: string
                      app_url:
                        type: string
                      phones_count:
                        type: integer
                      emails_count:
                        type: integer
                    required:
                    - id
                    - full_name
                    - url
                    - app_url
                    - phones_count
                    - emails_count
                  vehicle:
                    type: object
                    properties:
                      id:
                        type: integer
                      display_name:
                        type: string
                      url:
                        type: string
                      app_url:
                        type: string
                    required:
                    - id
                    - display_name
                    - url
                    - app_url
                  service_advisor:
                    nullable: true
                  work_order:
                    type: object
                    properties:
                      id:
                        type: integer
                      status:
                        type: string
                      url:
                        type: string
                    required:
                    - id
                    - status
                    - url
                  location:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      url:
                        type: string
                    required:
                    - id
                    - name
                    - url
                  created_at:
                    type: string
                  updated_at:
                    type: string
                  customer_confirmed:
                    type: boolean
                  confirmation_sent_at:
                    nullable: true
                    type: string
                  reminder_sent_at:
                    nullable: true
                    type: string
                  customer_arrived_at:
                    nullable: true
                    type: string
                  customer_initiated:
                    type: boolean
                  rescheduled_from_id:
                    nullable: true
                    type: integer
                  latest_reschedule_id:
                    nullable: true
                    type: integer
                  messages_count:
                    type: integer
                  reschedules_count:
                    type: integer
                  approve_url:
                    type: string
                  reject_url:
                    type: string
                  cancel_url:
                    type: string
                  follow_up_url:
                    type: string
                required:
                - id
                - type
                - status
                - appointment_type
                - appointment_source
                - intake_method
                - all_day
                - starts_at
                - ends_at
                - estimated_duration_minutes
                - customer_name
                - customer_email
                - customer_phone
                - customer_concern
                - follow_up_reason
                - year
                - make
                - model
                - submodel
                - vin
                - license_plate
                - url
                - app_url
                - customer
                - vehicle
                - service_advisor
                - work_order
                - location
                - created_at
                - updated_at
                - customer_confirmed
                - confirmation_sent_at
                - reminder_sent_at
                - customer_arrived_at
                - customer_initiated
                - rescheduled_from_id
                - latest_reschedule_id
                - messages_count
                - reschedules_count
                - approve_url
                - reject_url
                - cancel_url
                - follow_up_url
      description: Create a appointments follow up.
      operationId: create_appointments_follow_up
      x-curl-example: |-
        curl -X POST -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/appointments/<id>.json
      x-wenmar-request-schema: CreateAppointmentsFollowUpRequest
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/appointments/{id}/rejections":
    post:
      summary: create
      tags:
      - appointments
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateAppointmentsRejectionRequest"
      responses:
        '200':
          description: POST /appointments/{id}/rejections -> 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  type:
                    type: string
                  status:
                    type: string
                  appointment_type:
                    type: string
                  appointment_source:
                    nullable: true
                  intake_method:
                    type: string
                  all_day:
                    type: boolean
                  starts_at:
                    type: string
                  ends_at:
                    type: string
                  estimated_duration_minutes:
                    type: integer
                  customer_name:
                    type: string
                  customer_email:
                    type: string
                  customer_phone:
                    type: string
                  customer_concern:
                    nullable: true
                  follow_up_reason:
                    nullable: true
                    type: string
                  year:
                    nullable: true
                  make:
                    nullable: true
                  model:
                    nullable: true
                    type: string
                  submodel:
                    nullable: true
                    type: string
                  vin:
                    nullable: true
                  license_plate:
                    nullable: true
                  url:
                    type: string
                  app_url:
                    type: string
                  customer:
                    nullable: true
                    type: object
                  vehicle:
                    nullable: true
                    type: object
                  service_advisor:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      url:
                        type: string
                    required:
                    - id
                    - name
                    - url
                  work_order:
                    nullable: true
                  location:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      url:
                        type: string
                    required:
                    - id
                    - name
                    - url
                  created_at:
                    type: string
                  updated_at:
                    type: string
                  customer_confirmed:
                    type: boolean
                  confirmation_sent_at:
                    nullable: true
                    type: string
                  reminder_sent_at:
                    nullable: true
                    type: string
                  customer_arrived_at:
                    nullable: true
                    type: string
                  customer_initiated:
                    type: boolean
                  rescheduled_from_id:
                    nullable: true
                    type: integer
                  latest_reschedule_id:
                    nullable: true
                    type: integer
                  messages_count:
                    type: integer
                  reschedules_count:
                    type: integer
                  approve_url:
                    type: string
                  reject_url:
                    type: string
                  cancel_url:
                    type: string
                  follow_up_url:
                    type: string
                  work_order_url:
                    type: string
                  reconcile_vehicle_url:
                    type: string
                required:
                - id
                - type
                - status
                - appointment_type
                - appointment_source
                - intake_method
                - all_day
                - starts_at
                - ends_at
                - estimated_duration_minutes
                - customer_name
                - customer_email
                - customer_phone
                - customer_concern
                - follow_up_reason
                - year
                - make
                - model
                - submodel
                - vin
                - license_plate
                - url
                - app_url
                - customer
                - vehicle
                - service_advisor
                - work_order
                - location
                - created_at
                - updated_at
                - customer_confirmed
                - confirmation_sent_at
                - reminder_sent_at
                - customer_arrived_at
                - customer_initiated
                - rescheduled_from_id
                - latest_reschedule_id
                - messages_count
                - reschedules_count
                - approve_url
                - reject_url
                - cancel_url
                - follow_up_url
                - work_order_url
                - reconcile_vehicle_url
      description: Create a appointments rejection.
      operationId: create_appointments_rejection
      x-curl-example: |-
        curl -X POST -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/appointments/<id>.json
      x-wenmar-request-schema: CreateAppointmentsRejectionRequest
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/appointments/{id}/vehicle_reconciliations":
    post:
      summary: create
      tags:
      - appointments
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateAppointmentsVehicleReconciliationRequest"
      responses:
        '200':
          description: POST /appointments/{id}/vehicle_reconciliations -> 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  type:
                    type: string
                  status:
                    type: string
                  appointment_type:
                    type: string
                  appointment_source:
                    nullable: true
                  intake_method:
                    type: string
                  all_day:
                    type: boolean
                  starts_at:
                    type: string
                  ends_at:
                    type: string
                  estimated_duration_minutes:
                    type: integer
                  customer_name:
                    type: string
                  customer_email:
                    type: string
                  customer_phone:
                    type: string
                  customer_concern:
                    nullable: true
                  follow_up_reason:
                    nullable: true
                    type: string
                  year:
                    nullable: true
                  make:
                    nullable: true
                  model:
                    nullable: true
                    type: string
                  submodel:
                    nullable: true
                    type: string
                  vin:
                    nullable: true
                  license_plate:
                    nullable: true
                  url:
                    type: string
                  app_url:
                    type: string
                  customer:
                    type: object
                    properties:
                      id:
                        type: integer
                      full_name:
                        type: string
                      url:
                        type: string
                      app_url:
                        type: string
                      phones_count:
                        type: integer
                      emails_count:
                        type: integer
                    required:
                    - id
                    - full_name
                    - url
                    - app_url
                    - phones_count
                    - emails_count
                  vehicle:
                    type: object
                    properties:
                      id:
                        type: integer
                      display_name:
                        type: string
                      url:
                        type: string
                      app_url:
                        type: string
                    required:
                    - id
                    - display_name
                    - url
                    - app_url
                  service_advisor:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      url:
                        type: string
                    required:
                    - id
                    - name
                    - url
                  work_order:
                    nullable: true
                  location:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      url:
                        type: string
                    required:
                    - id
                    - name
                    - url
                  created_at:
                    type: string
                  updated_at:
                    type: string
                  customer_confirmed:
                    type: boolean
                  confirmation_sent_at:
                    nullable: true
                    type: string
                  reminder_sent_at:
                    nullable: true
                    type: string
                  customer_arrived_at:
                    nullable: true
                    type: string
                  customer_initiated:
                    type: boolean
                  rescheduled_from_id:
                    nullable: true
                    type: integer
                  latest_reschedule_id:
                    nullable: true
                    type: integer
                  messages_count:
                    type: integer
                  reschedules_count:
                    type: integer
                  approve_url:
                    type: string
                  reject_url:
                    type: string
                  cancel_url:
                    type: string
                  follow_up_url:
                    type: string
                  work_order_url:
                    type: string
                required:
                - id
                - type
                - status
                - appointment_type
                - appointment_source
                - intake_method
                - all_day
                - starts_at
                - ends_at
                - estimated_duration_minutes
                - customer_name
                - customer_email
                - customer_phone
                - customer_concern
                - follow_up_reason
                - year
                - make
                - model
                - submodel
                - vin
                - license_plate
                - url
                - app_url
                - customer
                - vehicle
                - service_advisor
                - work_order
                - location
                - created_at
                - updated_at
                - customer_confirmed
                - confirmation_sent_at
                - reminder_sent_at
                - customer_arrived_at
                - customer_initiated
                - rescheduled_from_id
                - latest_reschedule_id
                - messages_count
                - reschedules_count
                - approve_url
                - reject_url
                - cancel_url
                - follow_up_url
                - work_order_url
      description: Create a appointments vehicle reconciliation.
      operationId: create_appointments_vehicle_reconciliation
      x-curl-example: |-
        curl -X POST -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/appointments/<id>.json
      x-wenmar-request-schema: CreateAppointmentsVehicleReconciliationRequest
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/appointments/{id}/work_orders":
    post:
      summary: create
      tags:
      - appointments
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateAppointmentsWorkOrderRequest"
      responses:
        '201':
          description: POST /appointments/{id}/work_orders -> 201
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/WorkOrder"
      description: Create a appointments work order.
      operationId: create_appointments_work_order
      x-curl-example: |-
        curl -X POST -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/appointments/<id>.json
      x-wenmar-request-schema: CreateAppointmentsWorkOrderRequest
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/campaigns":
    get:
      summary: index
      tags:
      - campaigns
      responses:
        '200':
          description: GET /campaigns -> 200
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/BroadcastCampaign"
          headers:
            Link:
              schema:
                type: string
              description: RFC 5988 pagination links
            X-Total-Count:
              schema:
                type: integer
              description: Total matching records
            X-Per-Page:
              schema:
                type: integer
              description: Records per page
      description: List all campaigns, paginated via the Link header.
      operationId: list_campaigns
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/campaigns.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
    post:
      summary: create
      tags:
      - campaigns
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateCampaignRequest"
      responses:
        '201':
          description: POST /campaigns -> 201
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/BroadcastCampaign"
        '403':
          description: POST /campaigns -> 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      description: Create a campaign.
      operationId: create_campaign
      x-curl-example: |-
        curl -X POST -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/campaigns.json
      x-wenmar-request-schema: CreateCampaignRequest
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/campaigns/{id}":
    get:
      summary: show
      tags:
      - campaigns
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: GET /campaigns/{id} -> 200
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/BroadcastCampaign"
      description: Show a campaign by ID.
      operationId: show_campaign
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/campaigns/<id>.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/campaigns/{id}/duplicate":
    post:
      summary: duplicate
      tags:
      - campaigns
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/DuplicateCampaignRequest"
      responses:
        '200':
          description: POST /campaigns/{id}/duplicate -> 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  type:
                    type: string
                  name:
                    type: string
                  status:
                    type: string
                  sms_body:
                    type: string
                  filters:
                    type: object
                    properties: {}
                  recipient_count:
                    type: integer
                  sent_count:
                    type: integer
                  failed_count:
                    type: integer
                  progress_percentage:
                    type: integer
                  sent_at:
                    nullable: true
                    type: string
                  created_at:
                    type: string
                  updated_at:
                    type: string
                  url:
                    type: string
                  app_url:
                    type: string
                  creator:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      url:
                        type: string
                    required:
                    - id
                    - name
                    - url
                  location:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      url:
                        type: string
                    required:
                    - id
                    - name
                    - url
                required:
                - id
                - type
                - name
                - status
                - sms_body
                - filters
                - recipient_count
                - sent_count
                - failed_count
                - progress_percentage
                - sent_at
                - created_at
                - updated_at
                - url
                - app_url
                - creator
                - location
      description:
      operationId: duplicate_campaign
      x-curl-example: |-
        curl -X POST -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/campaigns/<id>.json
      x-wenmar-request-schema: DuplicateCampaignRequest
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/campaigns/{id}/send_campaign":
    post:
      summary: send_campaign
      tags:
      - campaigns
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/SendCampaignRequest"
      responses:
        '200':
          description: POST /campaigns/{id}/send_campaign -> 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  type:
                    type: string
                  name:
                    type: string
                  status:
                    type: string
                  sms_body:
                    type: string
                  filters:
                    type: object
                    properties: {}
                  recipient_count:
                    type: integer
                  sent_count:
                    type: integer
                  failed_count:
                    type: integer
                  progress_percentage:
                    type: integer
                  sent_at:
                    type: string
                  created_at:
                    type: string
                  updated_at:
                    type: string
                  url:
                    type: string
                  app_url:
                    type: string
                  creator:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      url:
                        type: string
                    required:
                    - id
                    - name
                    - url
                  location:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      url:
                        type: string
                    required:
                    - id
                    - name
                    - url
                required:
                - id
                - type
                - name
                - status
                - sms_body
                - filters
                - recipient_count
                - sent_count
                - failed_count
                - progress_percentage
                - sent_at
                - created_at
                - updated_at
                - url
                - app_url
                - creator
                - location
      description:
      operationId: send_campaign
      x-curl-example: |-
        curl -X POST -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/campaigns/<id>.json
      x-wenmar-request-schema: SendCampaignRequest
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/cash_drawer_banner":
    patch:
      summary: update
      tags:
      - cash_drawer_banner
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/UpdateCashDrawerBannerRequest"
      responses:
        '204':
          description: PATCH /cash_drawer_banner -> 204
      description: Update a cash drawer banner by ID.
      operationId: update_cash_drawer_banner
      x-curl-example: |-
        curl -X PATCH -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/cash_drawer_banner.json
      x-wenmar-request-schema: UpdateCashDrawerBannerRequest
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/catalog_cleanups/{catalog_cleanup_id}/applications":
    post:
      summary: create
      tags:
      - catalog_cleanups
      parameters:
      - name: catalog_cleanup_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: POST /catalog_cleanups/{catalog_cleanup_id}/applications ->
            200
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  applied_count:
                    type: integer
                required:
                - status
                - applied_count
        '403':
          description: POST /catalog_cleanups/{catalog_cleanup_id}/applications ->
            403
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateCatalogCleanupsApplicationRequest"
      description: Create a catalog cleanups application.
      operationId: create_catalog_cleanups_application
      x-curl-example: |-
        curl -X POST -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/catalog_cleanups/{catalog_cleanup_id}/applications.json
      x-wenmar-request-schema: CreateCatalogCleanupsApplicationRequest
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/conversations":
    get:
      summary: index
      tags:
      - conversations
      responses:
        '200':
          description: GET /conversations -> 200
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    status:
                      type: string
                    reply_state:
                      type: string
                    channel:
                      type: string
                    customer:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        url:
                          type: string
                      required:
                      - id
                      - name
                      - url
                    unread_count:
                      type: integer
                    messages_url:
                      type: string
                    created_at:
                      type: string
                    updated_at:
                      type: string
                    url:
                      type: string
                    app_url:
                      type: string
                  required:
                  - id
                  - status
                  - reply_state
                  - channel
                  - customer
                  - unread_count
                  - messages_url
                  - created_at
                  - updated_at
                  - url
                  - app_url
          headers:
            Link:
              schema:
                type: string
              description: RFC 5988 pagination links
            X-Total-Count:
              schema:
                type: integer
              description: Total matching records
            X-Per-Page:
              schema:
                type: integer
              description: Records per page
        '302':
          description: GET /conversations -> 302
          content:
            text/html:
              schema:
                type: string
      description: List all conversations, paginated via the Link header.
      operationId: list_conversations
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/conversations.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/conversations/bulk_mark_read":
    post:
      summary: bulk_mark_read
      tags:
      - conversations
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateConversationsBulkMarkReadRequest"
      responses:
        '200':
          description: POST /conversations/bulk_mark_read -> 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  affected:
                    type: integer
                required:
                - ok
                - affected
      description: Create a conversations bulk mark read.
      operationId: create_conversations_bulk_mark_read
      x-curl-example: |-
        curl -X POST -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/conversations/bulk_mark_read.json
      x-wenmar-request-schema: CreateConversationsBulkMarkReadRequest
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/conversations/{conversation_id}/customer_links":
    post:
      summary: create
      tags:
      - conversations
      parameters:
      - name: conversation_id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateConversationsCustomerLinkRequest"
      responses:
        '200':
          description: POST /conversations/{conversation_id}/customer_links -> 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  status:
                    type: string
                  reply_state:
                    type: string
                  channel:
                    type: string
                  customer:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      url:
                        type: string
                    required:
                    - id
                    - name
                    - url
                  unread_count:
                    type: integer
                  messages_url:
                    type: string
                  created_at:
                    type: string
                  updated_at:
                    type: string
                  url:
                    type: string
                  app_url:
                    type: string
                required:
                - id
                - status
                - reply_state
                - channel
                - customer
                - unread_count
                - messages_url
                - created_at
                - updated_at
                - url
                - app_url
      description: Create a conversations customer link.
      operationId: create_conversations_customer_link
      x-curl-example: |-
        curl -X POST -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/conversations/{conversation_id}/customer_links.json
      x-wenmar-request-schema: CreateConversationsCustomerLinkRequest
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/conversations/{conversation_id}/ignores":
    post:
      summary: create
      tags:
      - conversations
      parameters:
      - name: conversation_id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateConversationsIgnoreRequest"
      responses:
        '200':
          description: POST /conversations/{conversation_id}/ignores -> 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  status:
                    type: string
                  reply_state:
                    type: string
                  channel:
                    type: string
                  customer:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      url:
                        type: string
                    required:
                    - id
                    - name
                    - url
                  unread_count:
                    type: integer
                  messages_url:
                    type: string
                  created_at:
                    type: string
                  updated_at:
[...]
