---
openapi: 3.0.0
info:
  title: Wenmar Pro API
  version: 1.0.0
servers:
- url: https://app.wenmarpro.com
paths:
  "/account":
    delete:
      summary: destroy
      tags:
      - account
      responses:
        '204':
          description: DELETE /account -> 204
        '403':
          description: DELETE /account -> 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
        '422':
          description: DELETE /account -> 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      description: Delete a account by ID.
      operationId: delete_account
      x-curl-example: 'curl -X DELETE -H "User-Agent: wenmar-cli/0.2" -H "Authorization:
        Bearer $WENMAR_TOKEN" https://app.wenmarpro.com/account.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
    get:
      summary: show
      tags:
      - account
      responses:
        '200':
          description: GET /account -> 200
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Account"
        '401':
          description: GET /account -> 401
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      description: List all account, paginated via the Link header.
      operationId: list_account
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/account.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
    patch:
      summary: update
      tags:
      - account
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/UpdateAccountRequest"
      responses:
        '200':
          description: PATCH /account -> 200
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Account"
        '403':
          description: PATCH /account -> 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      description: Update a account by ID.
      operationId: update_account
      x-curl-example: |-
        curl -X PATCH -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/account.json
      x-wenmar-request-schema: UpdateAccountRequest
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/account/api_tokens":
    get:
      summary: index
      tags:
      - account
      responses:
        '200':
          description: GET /account/api_tokens -> 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  api_tokens:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        created_at:
                          type: string
                        expires_at:
                          nullable: true
                          type: string
                        last_used_at:
                          type: string
                          nullable: true
                        location:
                          type: object
                          properties:
                            id:
                              type: integer
                            name:
                              type: string
                            url:
                              type: string
                          required:
                          - id
                          - name
                          - url
                        url:
                          type: string
                      required:
                      - id
                      - name
                      - created_at
                      - expires_at
                      - last_used_at
                      - location
                      - url
                required:
                - api_tokens
        '400':
          description: GET /account/api_tokens -> 400
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      description: List all account api tokens, paginated via the Link header.
      operationId: list_account_api_tokens
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/account/api_tokens.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
    post:
      summary: create
      tags:
      - account
      responses:
        '201':
          description: POST /account/api_tokens -> 201
          content:
            application/json:
              schema:
                type: object
                properties:
                  api_token:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      created_at:
                        type: string
                      expires_at:
                        nullable: true
                        type: string
                      location:
                        type: object
                        properties:
                          id:
                            type: integer
                          name:
                            type: string
                          url:
                            type: string
                        required:
                        - id
                        - name
                        - url
                      token:
                        type: string
                      token_preview:
                        type: string
                      url:
                        type: string
                    required:
                    - id
                    - name
                    - created_at
                    - expires_at
                    - location
                    - token
                    - token_preview
                    - url
                required:
                - api_token
        '403':
          description: POST /account/api_tokens -> 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateAccountApiTokenRequest"
      description: Create a account api token.
      operationId: create_account_api_token
      x-curl-example: |-
        curl -X POST -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/account/api_tokens.json
      x-wenmar-request-schema: CreateAccountApiTokenRequest
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/account/api_tokens/{id}":
    delete:
      summary: destroy
      tags:
      - account
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '204':
          description: DELETE /account/api_tokens/{id} -> 204
        '404':
          description: DELETE /account/api_tokens/{id} -> 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      description: Delete a account api token by ID.
      operationId: delete_account_api_token
      x-curl-example: 'curl -X DELETE -H "User-Agent: wenmar-cli/0.2" -H "Authorization:
        Bearer $WENMAR_TOKEN" https://app.wenmarpro.com/account/api_tokens/<id>.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/account/billing":
    get:
      summary: show
      tags:
      - account
      responses:
        '200':
          description: GET /account/billing -> 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  billing_email:
                    type: string
                  subscription_status:
                    type: string
                  next_billing_date:
                    type: string
                  work_orders_this_month:
                    type: integer
                  url:
                    type: string
                  app_url:
                    type: string
                required:
                - billing_email
                - subscription_status
                - next_billing_date
                - work_orders_this_month
                - url
                - app_url
        '403':
          description: GET /account/billing -> 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      description: List all account billing, paginated via the Link header.
      operationId: list_account_billing
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/account/billing.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/account/capabilities":
    get:
      summary: show
      tags:
      - account
      responses:
        '200':
          description: GET /account/capabilities -> 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  tier:
                    type: string
                    nullable: true
                  tier_display:
                    type: string
                    nullable: true
                  capabilities:
                    type: object
                    properties:
                      appointments:
                        type: boolean
                      payments:
                        type: boolean
                      inventory:
                        type: boolean
                      purchase_orders:
                        type: boolean
                      counter_sales:
                        type: boolean
                      cash_drawer:
                        type: boolean
                      courtesy_cars:
                        type: boolean
                      dealer_plates:
                        type: boolean
                      tire_management:
                        type: boolean
                      expenses:
                        type: boolean
                      phone_numbers:
                        type: boolean
                      integrations:
                        type: object
                        properties:
                          quickbooks:
                            type: boolean
                          driveon:
                            type: boolean
                        required:
                        - quickbooks
                        - driveon
                    required:
                    - appointments
                    - payments
                    - inventory
                    - purchase_orders
                    - counter_sales
                    - cash_drawer
                    - courtesy_cars
                    - dealer_plates
                    - tire_management
                    - expenses
                    - phone_numbers
                    - integrations
                  limits:
                    type: object
                    properties:
                      max_locations:
                        type: integer
                        nullable: true
                      max_users:
                        type: integer
                        nullable: true
                      max_work_orders_per_month:
                        nullable: true
                    required:
                    - max_locations
                    - max_users
                    - max_work_orders_per_month
                required:
                - tier
                - tier_display
                - capabilities
                - limits
      description: List all account capabilities, paginated via the Link header.
      operationId: list_account_capabilities
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/account/capabilities.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/account/driveon":
    get:
      summary: show
      tags:
      - account
      responses:
        '200':
          description: GET /account/driveon -> 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  default_starting_float_cents:
                    type: integer
                  driveon_station_number:
                    nullable: true
                    type: string
                  oil_change_reminders_enabled:
                    type: boolean
                  tire_swap_reminders_enabled:
                    type: boolean
                  brake_inspection_reminders_enabled:
                    type: boolean
                  battery_check_reminders_enabled:
                    type: boolean
                  close_requirements:
                    type: object
                    properties: {}
                  lead_source_requirements:
                    type: object
                    properties: {}
                  url:
                    type: string
                  app_url:
                    type: string
                required:
                - id
                - name
                - default_starting_float_cents
                - driveon_station_number
                - oil_change_reminders_enabled
                - tire_swap_reminders_enabled
                - brake_inspection_reminders_enabled
                - battery_check_reminders_enabled
                - close_requirements
                - lead_source_requirements
                - url
                - app_url
        '403':
          description: GET /account/driveon -> 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      description: List all account driveon, paginated via the Link header.
      operationId: list_account_driveon
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/account/driveon.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/account/payments":
    get:
      summary: show
      tags:
      - account
      responses:
        '200':
          description: GET /account/payments -> 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  processor_application_status:
                    nullable: true
                    type: string
                  processor_onboarded_at:
                    nullable: true
                    type: string
                  url:
                    type: string
                  app_url:
                    type: string
                required:
                - processor_application_status
                - processor_onboarded_at
                - url
                - app_url
        '403':
          description: GET /account/payments -> 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      description: List all account payments, paginated via the Link header.
      operationId: list_account_payments
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/account/payments.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/account/phone_numbers":
    get:
      summary: show
      tags:
      - account
      responses:
        '200':
          description: GET /account/phone_numbers -> 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  texting_phone:
                    nullable: true
                    type: string
                  phones:
                    type: array
                    items: {}
                  url:
                    type: string
                  app_url:
                    type: string
                required:
                - texting_phone
                - phones
                - url
                - app_url
        '403':
          description: GET /account/phone_numbers -> 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      description: List all account phone numbers, paginated via the Link header.
      operationId: list_account_phone_numbers
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/account/phone_numbers.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/account/quickbooks":
    get:
      summary: show
      tags:
      - account
      responses:
        '200':
          description: GET /account/quickbooks -> 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  connected:
                    type: boolean
                  qbo_company_id:
                    nullable: true
                    type: string
                  qbo_sync_mode:
                    type: string
                  url:
                    type: string
                  app_url:
                    type: string
                required:
                - connected
                - qbo_company_id
                - qbo_sync_mode
                - url
                - app_url
        '403':
          description: GET /account/quickbooks -> 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      description: List all account quickbooks, paginated via the Link header.
      operationId: list_account_quickbooks
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/account/quickbooks.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/account/station_link":
    get:
      summary: station_link
      tags:
      - account
      responses:
        '200':
          description: GET /account/station_link -> 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  join_code:
                    type: string
                  formatted_join_code:
                    type: string
                  station_login_url:
                    type: string
                  qr_code_url:
                    type: string
                required:
                - join_code
                - formatted_join_code
                - station_login_url
                - qr_code_url
      description: List all account station link, paginated via the Link header.
      operationId: list_account_station_link
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/account/station_link.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/account/station_link/regenerate":
    post:
      summary: regenerate
      tags:
      - account
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateAccountStationLinkRegenerateRequest"
      responses:
        '200':
          description: POST /account/station_link/regenerate -> 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  slug:
                    type: string
                  billing_email:
                    type: string
                  website:
                    nullable: true
                    type: string
                  business_type:
                    nullable: true
                    type: string
                  tax_id:
                    nullable: true
                    type: string
                  created_at:
                    type: string
                  updated_at:
                    type: string
                  url:
                    type: string
                  app_url:
                    type: string
                  formatted_join_code:
                    type: string
                  station_login_url:
                    type: string
                  deletion_scheduled_at:
                    nullable: true
                    type: string
                  locations:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        url:
                          type: string
                        app_url:
                          type: string
                      required:
                      - id
                      - name
                      - url
                      - app_url
                required:
                - id
                - name
                - slug
                - billing_email
                - website
                - business_type
                - tax_id
                - created_at
                - updated_at
                - url
                - app_url
                - formatted_join_code
                - station_login_url
                - deletion_scheduled_at
                - locations
      description: Create a account station link regenerate.
      operationId: create_account_station_link_regenerate
      x-curl-example: |-
        curl -X POST -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/account/station_link/regenerate.json
      x-wenmar-request-schema: CreateAccountStationLinkRegenerateRequest
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/appointments":
    get:
      summary: index
      tags:
      - appointments
      parameters:
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
      - name: q
        in: query
        required: false
        schema:
          type: string
      - name: status
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: GET /appointments -> 200
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/Appointment"
          headers:
            Link:
              schema:
                type: string
              description: RFC 5988 pagination links
            X-Total-Count:
              schema:
                type: integer
              description: Total matching records
            X-Per-Page:
              schema:
                type: integer
              description: Records per page
      description: List all appointments, paginated via the Link header.
      operationId: list_appointments
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/appointments.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
    post:
      summary: create
      tags:
      - appointments
      responses:
        '201':
          description: POST /appointments -> 201
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Appointment"
        '403':
          description: POST /appointments -> 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
        '422':
          description: POST /appointments -> 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateAppointmentRequest"
      description: Create a appointment.
      operationId: create_appointment
      x-curl-example: |-
        curl -X POST -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/appointments.json
      x-wenmar-request-schema: CreateAppointmentRequest
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/appointments/available_slots":
    get:
      summary: available_slots
      tags:
      - appointments
      parameters:
      - name: date
        in: query
        required: false
        schema:
          type: string
      - name: duration_minutes
        in: query
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: GET /appointments/available_slots -> 200
          content:
            application/json:
              schema:
                type: array
                items: {}
          headers:
            Link:
              schema:
                type: string
              description: RFC 5988 pagination links
            X-Total-Count:
              schema:
                type: integer
              description: Total matching records
            X-Per-Page:
              schema:
                type: integer
              description: Records per page
      description: List all appointments available slots, paginated via the Link header.
      operationId: list_appointments_available_slots
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/appointments/available_slots.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/appointments/{id}":
    delete:
      summary: destroy
      tags:
      - appointments
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '204':
          description: DELETE /appointments/{id} -> 204
      description: Delete a appointment by ID.
      operationId: delete_appointment
      x-curl-example: 'curl -X DELETE -H "User-Agent: wenmar-cli/0.2" -H "Authorization:
        Bearer $WENMAR_TOKEN" https://app.wenmarpro.com/appointments/<id>.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
    get:
      summary: show
      tags:
      - appointments
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: GET /appointments/{id} -> 200
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Appointment"
        '304':
          description: GET /appointments/{id} -> 304
      description: Show a appointment by ID.
      operationId: show_appointment
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/appointments/<id>.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
    patch:
      summary: update
      tags:
      - appointments
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/UpdateAppointmentRequest"
      responses:
        '200':
          description: PATCH /appointments/{id} -> 200
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Appointment"
      description: Update a appointment by ID.
      operationId: update_appointment
      x-curl-example: |-
        curl -X PATCH -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/appointments/<id>.json
      x-wenmar-request-schema: UpdateAppointmentRequest
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/appointments/{id}/approvals":
    post:
      summary: create
      tags:
      - appointments
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateAppointmentsApprovalRequest"
      responses:
        '200':
          description: POST /appointments/{id}/approvals -> 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  id:
                    type: integer
                  status:
                    type: string
                  appointment_type:
                    type: string
                  appointment_source:
                    nullable: true
                  intake_method:
                    type: string
                  all_day:
                    type: boolean
                  starts_at:
                    type: string
                  ends_at:
                    type: string
                  estimated_duration_minutes:
                    type: integer
                  customer_id:
                    nullable: true
                    type: integer
                  vehicle_id:
                    nullable: true
                    type: integer
                  service_advisor_id:
                    type: integer
                  work_order_id:
                    nullable: true
                    type: integer
                  driver_id:
                    nullable: true
                    type: integer
                  marketing_source_id:
                    nullable: true
                    type: integer
                  customer_name:
                    type: string
                  customer_email:
                    type: string
                  customer_phone:
                    type: string
                  customer_concern:
                    nullable: true
                  follow_up_reason:
                    nullable: true
                    type: string
                  year:
                    nullable: true
                  make:
                    nullable: true
                  model:
                    nullable: true
                    type: string
                  submodel:
                    nullable: true
                    type: string
                  vin:
                    nullable: true
                    type: string
                  license_plate:
                    nullable: true
                  customer_confirmed:
                    type: boolean
                  confirmation_sent_at:
                    nullable: true
                    type: string
                  reminder_sent_at:
                    nullable: true
                    type: string
                  customer_arrived_at:
                    nullable: true
                    type: string
                  customer_initiated:
                    type: boolean
                  rescheduled_from_id:
                    nullable: true
                    type: integer
                  messages_count:
                    type: integer
                  reschedules_count:
                    type: integer
                  display_name:
                    type: string
                  url:
                    type: string
                  app_url:
                    type: string
                  created_at:
                    type: string
                  updated_at:
                    type: string
                  customer:
                    nullable: true
                    type: object
                  vehicle:
                    nullable: true
                    type: object
                  service_advisor:
                    type: object
                    properties:
                      id:
                        type: integer
                      full_name:
                        type: string
                      display_name:
                        type: string
                      initials:
                        type: string
                      role:
                        type: string
                      url:
                        type: string
                      app_url:
                        type: string
                    required:
                    - id
                    - full_name
                    - display_name
                    - initials
                    - role
                    - url
                    - app_url
                  work_order:
                    nullable: true
                  location:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      url:
                        type: string
                    required:
                    - id
                    - name
                    - url
                  latest_reschedule_id:
                    nullable: true
                    type: integer
                  approve_url:
                    type: string
                  reject_url:
                    type: string
                  cancel_url:
                    type: string
                  follow_up_url:
                    type: string
                  work_order_url:
                    type: string
                  reconcile_vehicle_url:
                    type: string
                required:
                - type
                - id
                - status
                - appointment_type
                - appointment_source
                - intake_method
                - all_day
                - starts_at
                - ends_at
                - estimated_duration_minutes
                - customer_id
                - vehicle_id
                - service_advisor_id
                - work_order_id
                - driver_id
                - marketing_source_id
                - customer_name
                - customer_email
                - customer_phone
                - customer_concern
                - follow_up_reason
                - year
                - make
                - model
                - submodel
                - vin
                - license_plate
                - customer_confirmed
                - confirmation_sent_at
                - reminder_sent_at
                - customer_arrived_at
                - customer_initiated
                - rescheduled_from_id
                - messages_count
                - reschedules_count
                - display_name
                - url
                - app_url
                - created_at
                - updated_at
                - customer
                - vehicle
                - service_advisor
                - work_order
                - location
                - latest_reschedule_id
                - approve_url
                - reject_url
                - cancel_url
                - follow_up_url
                - work_order_url
                - reconcile_vehicle_url
      description: Create a appointments approval.
      operationId: create_appointments_approval
      x-curl-example: |-
        curl -X POST -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/appointments/<id>.json
      x-wenmar-request-schema: CreateAppointmentsApprovalRequest
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/appointments/{id}/cancellations":
    post:
      summary: create
      tags:
      - appointments
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateAppointmentsCancellationRequest"
      responses:
        '200':
          description: POST /appointments/{id}/cancellations -> 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  id:
                    type: integer
                  status:
                    type: string
                  appointment_type:
                    type: string
                  appointment_source:
                    nullable: true
                  intake_method:
                    type: string
                  all_day:
                    type: boolean
                  starts_at:
                    type: string
                  ends_at:
                    type: string
                  estimated_duration_minutes:
                    type: integer
                  customer_id:
                    nullable: true
                    type: integer
                  vehicle_id:
                    nullable: true
                    type: integer
                  service_advisor_id:
                    type: integer
                  work_order_id:
                    nullable: true
                    type: integer
                  driver_id:
                    nullable: true
                    type: integer
                  marketing_source_id:
                    nullable: true
                    type: integer
                  customer_name:
                    type: string
                  customer_email:
                    type: string
                  customer_phone:
                    type: string
                  customer_concern:
                    nullable: true
                  follow_up_reason:
                    nullable: true
                    type: string
                  year:
                    nullable: true
                  make:
                    nullable: true
                  model:
                    nullable: true
                    type: string
                  submodel:
                    nullable: true
                    type: string
                  vin:
                    nullable: true
                    type: string
                  license_plate:
                    nullable: true
                  customer_confirmed:
                    type: boolean
                  confirmation_sent_at:
                    nullable: true
                    type: string
                  reminder_sent_at:
                    nullable: true
                    type: string
                  customer_arrived_at:
                    nullable: true
                    type: string
                  customer_initiated:
                    type: boolean
                  rescheduled_from_id:
                    nullable: true
                    type: integer
                  messages_count:
                    type: integer
                  reschedules_count:
                    type: integer
                  display_name:
                    type: string
                  url:
                    type: string
                  app_url:
                    type: string
                  created_at:
                    type: string
                  updated_at:
                    type: string
                  customer:
                    nullable: true
                    type: object
                  vehicle:
                    nullable: true
                    type: object
                  service_advisor:
                    type: object
                    properties:
                      id:
                        type: integer
                      full_name:
                        type: string
                      display_name:
                        type: string
                      initials:
                        type: string
                      role:
                        type: string
                      url:
                        type: string
                      app_url:
                        type: string
                    required:
                    - id
                    - full_name
                    - display_name
                    - initials
                    - role
                    - url
                    - app_url
                  work_order:
                    nullable: true
                  location:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      url:
                        type: string
                    required:
                    - id
                    - name
                    - url
                  latest_reschedule_id:
                    nullable: true
                    type: integer
                  approve_url:
                    type: string
                  reject_url:
                    type: string
                  cancel_url:
                    type: string
                  follow_up_url:
                    type: string
                  work_order_url:
                    type: string
                  reconcile_vehicle_url:
                    type: string
                required:
                - type
                - id
                - status
                - appointment_type
                - appointment_source
                - intake_method
                - all_day
                - starts_at
                - ends_at
                - estimated_duration_minutes
                - customer_id
                - vehicle_id
                - service_advisor_id
                - work_order_id
                - driver_id
                - marketing_source_id
                - customer_name
                - customer_email
                - customer_phone
                - customer_concern
                - follow_up_reason
                - year
                - make
                - model
                - submodel
                - vin
                - license_plate
                - customer_confirmed
                - confirmation_sent_at
                - reminder_sent_at
                - customer_arrived_at
                - customer_initiated
                - rescheduled_from_id
                - messages_count
                - reschedules_count
                - display_name
                - url
                - app_url
                - created_at
                - updated_at
                - customer
                - vehicle
                - service_advisor
                - work_order
                - location
                - latest_reschedule_id
                - approve_url
                - reject_url
                - cancel_url
                - follow_up_url
                - work_order_url
                - reconcile_vehicle_url
      description: Create a appointments cancellation.
      operationId: create_appointments_cancellation
      x-curl-example: |-
        curl -X POST -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/appointments/<id>.json
      x-wenmar-request-schema: CreateAppointmentsCancellationRequest
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/appointments/{id}/follow_ups":
    post:
      summary: create
      tags:
      - appointments
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateAppointmentsFollowUpRequest"
      responses:
        '201':
          description: POST /appointments/{id}/follow_ups -> 201
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  id:
                    type: integer
                  status:
                    type: string
                  appointment_type:
                    type: string
                  appointment_source:
                    type: string
                  intake_method:
                    type: string
                  all_day:
                    type: boolean
                  starts_at:
                    type: string
                  ends_at:
                    type: string
                  estimated_duration_minutes:
                    type: integer
                  customer_id:
                    type: integer
                  vehicle_id:
                    type: integer
                  service_advisor_id:
                    nullable: true
                    type: integer
                  work_order_id:
                    type: integer
                  driver_id:
                    nullable: true
                    type: integer
                  marketing_source_id:
                    nullable: true
                    type: integer
                  customer_name:
                    type: string
                  customer_email:
                    type: string
                  customer_phone:
                    type: string
                  customer_concern:
                    nullable: true
                  follow_up_reason:
                    type: string
                  year:
                    type: integer
                  make:
                    type: string
                  model:
                    type: string
                  submodel:
                    nullable: true
                    type: string
                  vin:
                    type: string
                  license_plate:
                    type: string
                  customer_confirmed:
                    type: boolean
                  confirmation_sent_at:
                    nullable: true
                    type: string
                  reminder_sent_at:
                    nullable: true
                    type: string
                  customer_arrived_at:
                    nullable: true
                    type: string
                  customer_initiated:
                    type: boolean
                  rescheduled_from_id:
                    nullable: true
                    type: integer
                  messages_count:
                    type: integer
                  reschedules_count:
                    type: integer
                  display_name:
                    type: string
                  url:
                    type: string
                  app_url:
                    type: string
                  created_at:
                    type: string
                  updated_at:
                    type: string
                  customer:
                    type: object
                    properties:
                      id:
                        type: integer
                      full_name:
                        type: string
                      display_name:
                        type: string
                      url:
                        type: string
                      app_url:
                        type: string
                      phones_count:
                        type: integer
                      emails_count:
                        type: integer
                    required:
                    - id
                    - full_name
                    - display_name
                    - url
                    - app_url
                    - phones_count
                    - emails_count
                  vehicle:
                    type: object
                    properties:
                      id:
                        type: integer
                      display_name:
                        type: string
                      make:
                        type: string
                      model:
                        type: string
                      year:
                        type: integer
                      license_plate:
                        type: string
                      url:
                        type: string
                      app_url:
                        type: string
                    required:
                    - id
                    - display_name
                    - make
                    - model
                    - year
                    - license_plate
                    - url
                    - app_url
                  service_advisor:
                    nullable: true
                  work_order:
                    type: object
                    properties:
                      id:
                        type: integer
                      display_name:
                        type: string
                      status:
                        type: string
                      url:
                        type: string
                      app_url:
                        type: string
                    required:
                    - id
                    - display_name
                    - status
                    - url
                    - app_url
                  location:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      url:
                        type: string
                    required:
                    - id
                    - name
                    - url
                  latest_reschedule_id:
                    nullable: true
                    type: integer
                  approve_url:
                    type: string
                  reject_url:
                    type: string
                  cancel_url:
                    type: string
                  follow_up_url:
                    type: string
                required:
                - type
                - id
                - status
                - appointment_type
                - appointment_source
                - intake_method
                - all_day
                - starts_at
                - ends_at
                - estimated_duration_minutes
                - customer_id
                - vehicle_id
                - service_advisor_id
                - work_order_id
                - driver_id
                - marketing_source_id
                - customer_name
                - customer_email
                - customer_phone
                - customer_concern
                - follow_up_reason
                - year
                - make
                - model
                - submodel
                - vin
                - license_plate
                - customer_confirmed
                - confirmation_sent_at
                - reminder_sent_at
                - customer_arrived_at
                - customer_initiated
                - rescheduled_from_id
                - messages_count
                - reschedules_count
                - display_name
                - url
                - app_url
                - created_at
                - updated_at
                - customer
                - vehicle
                - service_advisor
                - work_order
                - location
                - latest_reschedule_id
                - approve_url
                - reject_url
                - cancel_url
                - follow_up_url
      description: Create a appointments follow up.
      operationId: create_appointments_follow_up
      x-curl-example: |-
        curl -X POST -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/appointments/<id>.json
      x-wenmar-request-schema: CreateAppointmentsFollowUpRequest
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/appointments/{id}/rejections":
    post:
      summary: create
      tags:
      - appointments
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateAppointmentsRejectionRequest"
      responses:
        '200':
          description: POST /appointments/{id}/rejections -> 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  id:
                    type: integer
                  status:
                    type: string
                  appointment_type:
                    type: string
                  appointment_source:
                    nullable: true
                  intake_method:
                    type: string
                  all_day:
                    type: boolean
                  starts_at:
                    type: string
                  ends_at:
                    type: string
                  estimated_duration_minutes:
                    type: integer
                  customer_id:
                    nullable: true
                    type: integer
                  vehicle_id:
                    nullable: true
                    type: integer
                  service_advisor_id:
                    type: integer
                  work_order_id:
                    nullable: true
                    type: integer
                  driver_id:
                    nullable: true
                    type: integer
                  marketing_source_id:
                    nullable: true
                    type: integer
                  customer_name:
                    type: string
                  customer_email:
                    type: string
                  customer_phone:
                    type: string
                  customer_concern:
                    nullable: true
                  follow_up_reason:
                    nullable: true
                    type: string
                  year:
                    nullable: true
                  make:
                    nullable: true
                  model:
                    nullable: true
                    type: string
                  submodel:
                    nullable: true
                    type: string
                  vin:
                    nullable: true
                    type: string
                  license_plate:
                    nullable: true
                  customer_confirmed:
                    type: boolean
                  confirmation_sent_at:
                    nullable: true
                    type: string
                  reminder_sent_at:
                    nullable: true
                    type: string
                  customer_arrived_at:
                    nullable: true
                    type: string
                  customer_initiated:
                    type: boolean
                  rescheduled_from_id:
                    nullable: true
                    type: integer
                  messages_count:
                    type: integer
                  reschedules_count:
                    type: integer
                  display_name:
                    type: string
                  url:
                    type: string
                  app_url:
                    type: string
                  created_at:
                    type: string
                  updated_at:
                    type: string
                  customer:
                    nullable: true
                    type: object
                  vehicle:
                    nullable: true
                    type: object
                  service_advisor:
                    type: object
                    properties:
                      id:
                        type: integer
                      full_name:
                        type: string
                      display_name:
                        type: string
                      initials:
                        type: string
                      role:
                        type: string
                      url:
                        type: string
                      app_url:
                        type: string
                    required:
                    - id
                    - full_name
                    - display_name
                    - initials
                    - role
                    - url
                    - app_url
                  work_order:
                    nullable: true
                  location:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      url:
                        type: string
                    required:
                    - id
                    - name
                    - url
                  latest_reschedule_id:
                    nullable: true
                    type: integer
                  approve_url:
                    type: string
                  reject_url:
                    type: string
                  cancel_url:
                    type: string
                  follow_up_url:
                    type: string
                  work_order_url:
                    type: string
                  reconcile_vehicle_url:
                    type: string
                required:
                - type
                - id
                - status
                - appointment_type
                - appointment_source
                - intake_method
                - all_day
                - starts_at
                - ends_at
                - estimated_duration_minutes
                - customer_id
                - vehicle_id
                - service_advisor_id
                - work_order_id
                - driver_id
                - marketing_source_id
                - customer_name
                - customer_email
                - customer_phone
                - customer_concern
                - follow_up_reason
                - year
                - make
                - model
                - submodel
                - vin
                - license_plate
                - customer_confirmed
                - confirmation_sent_at
                - reminder_sent_at
                - customer_arrived_at
                - customer_initiated
                - rescheduled_from_id
                - messages_count
                - reschedules_count
                - display_name
                - url
                - app_url
                - created_at
                - updated_at
                - customer
                - vehicle
                - service_advisor
                - work_order
                - location
                - latest_reschedule_id
                - approve_url
                - reject_url
                - cancel_url
                - follow_up_url
                - work_order_url
                - reconcile_vehicle_url
      description: Create a appointments rejection.
      operationId: create_appointments_rejection
      x-curl-example: |-
        curl -X POST -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/appointments/<id>.json
      x-wenmar-request-schema: CreateAppointmentsRejectionRequest
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/appointments/{id}/vehicle_reconciliations":
    post:
      summary: create
      tags:
      - appointments
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateAppointmentsVehicleReconciliationRequest"
      responses:
        '200':
          description: POST /appointments/{id}/vehicle_reconciliations -> 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  id:
                    type: integer
                  status:
                    type: string
                  appointment_type:
                    type: string
                  appointment_source:
                    nullable: true
                  intake_method:
                    type: string
                  all_day:
                    type: boolean
                  starts_at:
                    type: string
                  ends_at:
                    type: string
                  estimated_duration_minutes:
                    type: integer
                  customer_id:
                    type: integer
                  vehicle_id:
                    type: integer
                  service_advisor_id:
                    type: integer
                  work_order_id:
                    nullable: true
                    type: integer
                  driver_id:
                    nullable: true
                    type: integer
                  marketing_source_id:
                    nullable: true
                    type: integer
                  customer_name:
                    type: string
                  customer_email:
                    type: string
                  customer_phone:
                    type: string
                  customer_concern:
                    nullable: true
                  follow_up_reason:
                    nullable: true
                    type: string
                  year:
                    nullable: true
                  make:
                    nullable: true
                  model:
                    nullable: true
                    type: string
                  submodel:
                    nullable: true
                    type: string
                  vin:
                    nullable: true
                    type: string
                  license_plate:
                    nullable: true
                  customer_confirmed:
                    type: boolean
                  confirmation_sent_at:
                    nullable: true
                    type: string
                  reminder_sent_at:
                    nullable: true
                    type: string
                  customer_arrived_at:
                    nullable: true
                    type: string
                  customer_initiated:
                    type: boolean
                  rescheduled_from_id:
                    nullable: true
                    type: integer
                  messages_count:
                    type: integer
                  reschedules_count:
                    type: integer
                  display_name:
                    type: string
                  url:
                    type: string
                  app_url:
                    type: string
                  created_at:
                    type: string
                  updated_at:
                    type: string
                  customer:
                    type: object
                    properties:
                      id:
                        type: integer
                      full_name:
                        type: string
                      display_name:
                        type: string
                      url:
                        type: string
                      app_url:
                        type: string
                      phones_count:
                        type: integer
                      emails_count:
                        type: integer
                    required:
                    - id
                    - full_name
                    - display_name
                    - url
                    - app_url
                    - phones_count
                    - emails_count
                  vehicle:
                    type: object
                    properties:
                      id:
                        type: integer
                      display_name:
                        type: string
                      make:
                        type: string
                      model:
                        type: string
                      year:
                        type: integer
                      license_plate:
                        type: string
                      url:
                        type: string
                      app_url:
                        type: string
                    required:
                    - id
                    - display_name
                    - make
                    - model
                    - year
                    - license_plate
                    - url
                    - app_url
                  service_advisor:
                    type: object
                    properties:
                      id:
                        type: integer
                      full_name:
                        type: string
                      display_name:
                        type: string
                      initials:
                        type: string
                      role:
                        type: string
                      url:
                        type: string
                      app_url:
                        type: string
                    required:
                    - id
                    - full_name
                    - display_name
                    - initials
                    - role
                    - url
                    - app_url
                  work_order:
                    nullable: true
                  location:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      url:
                        type: string
                    required:
                    - id
                    - name
                    - url
                  latest_reschedule_id:
                    nullable: true
                    type: integer
                  approve_url:
                    type: string
                  reject_url:
                    type: string
                  cancel_url:
                    type: string
                  follow_up_url:
                    type: string
                  work_order_url:
                    type: string
                required:
                - type
                - id
                - status
                - appointment_type
                - appointment_source
                - intake_method
                - all_day
                - starts_at
                - ends_at
                - estimated_duration_minutes
                - customer_id
                - vehicle_id
                - service_advisor_id
                - work_order_id
                - driver_id
                - marketing_source_id
                - customer_name
                - customer_email
                - customer_phone
                - customer_concern
                - follow_up_reason
                - year
                - make
                - model
                - submodel
                - vin
                - license_plate
                - customer_confirmed
                - confirmation_sent_at
                - reminder_sent_at
                - customer_arrived_at
                - customer_initiated
                - rescheduled_from_id
                - messages_count
                - reschedules_count
                - display_name
                - url
                - app_url
                - created_at
                - updated_at
                - customer
                - vehicle
                - service_advisor
                - work_order
                - location
                - latest_reschedule_id
                - approve_url
                - reject_url
                - cancel_url
                - follow_up_url
                - work_order_url
      description: Create a appointments vehicle reconciliation.
      operationId: create_appointments_vehicle_reconciliation
      x-curl-example: |-
        curl -X POST -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/appointments/<id>.json
      x-wenmar-request-schema: CreateAppointmentsVehicleReconciliationRequest
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/appointments/{id}/work_orders":
    post:
      summary: create
      tags:
      - appointments
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateAppointmentsWorkOrderRequest"
      responses:
        '201':
          description: POST /appointments/{id}/work_orders -> 201
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/WorkOrder"
      description: Create a appointments work order.
      operationId: create_appointments_work_order
      x-curl-example: |-
        curl -X POST -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/appointments/<id>.json
      x-wenmar-request-schema: CreateAppointmentsWorkOrderRequest
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/calendar/blocked_times":
    post:
      summary: create
      tags:
      - calendar
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateCalendarBlockedTimeRequest"
      responses:
        '201':
          description: POST /calendar/blocked_times -> 201
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  starts_at:
                    type: string
                  ends_at:
                    type: string
                  reason:
                    type: string
                  recurring:
                    type: boolean
                  recurrence_rule:
                    nullable: true
                    type: string
                  created_at:
                    type: string
                  updated_at:
                    type: string
                  url:
                    type: string
                  app_url:
                    type: string
                required:
                - id
                - starts_at
                - ends_at
                - reason
                - recurring
                - recurrence_rule
                - created_at
                - updated_at
                - url
                - app_url
      description: Create a calendar blocked time.
      operationId: create_calendar_blocked_time
      x-curl-example: |-
        curl -X POST -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/calendar/blocked_times.json
      x-wenmar-request-schema: CreateCalendarBlockedTimeRequest
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/calendar/blocked_times/{id}":
    delete:
      summary: destroy
      tags:
      - calendar
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '204':
          description: DELETE /calendar/blocked_times/{id} -> 204
      description: Delete a calendar blocked time by ID.
      operationId: delete_calendar_blocked_time
      x-curl-example: 'curl -X DELETE -H "User-Agent: wenmar-cli/0.2" -H "Authorization:
        Bearer $WENMAR_TOKEN" https://app.wenmarpro.com/calendar/blocked_times/<id>.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
    patch:
      summary: update
      tags:
      - calendar
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/UpdateCalendarBlockedTimeRequest"
      responses:
        '200':
          description: PATCH /calendar/blocked_times/{id} -> 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  starts_at:
                    type: string
                  ends_at:
                    type: string
                  reason:
                    type: string
                  recurring:
                    type: boolean
                  recurrence_rule:
                    nullable: true
                    type: string
                  created_at:
                    type: string
                  updated_at:
                    type: string
                  url:
                    type: string
                  app_url:
                    type: string
                required:
                - id
                - starts_at
                - ends_at
                - reason
                - recurring
                - recurrence_rule
                - created_at
                - updated_at
                - url
                - app_url
      description: Update a calendar blocked time by ID.
      operationId: update_calendar_blocked_time
      x-curl-example: |-
        curl -X PATCH -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/calendar/blocked_times/<id>.json
      x-wenmar-request-schema: UpdateCalendarBlockedTimeRequest
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/campaigns":
    get:
      summary: index
      tags:
      - campaigns
      responses:
        '200':
          description: GET /campaigns -> 200
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/BroadcastCampaign"
          headers:
            Link:
              schema:
                type: string
              description: RFC 5988 pagination links
            X-Total-Count:
              schema:
                type: integer
              description: Total matching records
            X-Per-Page:
              schema:
                type: integer
              description: Records per page
      description: List all campaigns, paginated via the Link header.
      operationId: list_campaigns
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/campaigns.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
    post:
      summary: create
      tags:
      - campaigns
      responses:
        '201':
          description: POST /campaigns -> 201
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/BroadcastCampaign"
        '403':
          description: POST /campaigns -> 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateCampaignRequest"
      description: Create a campaign.
      operationId: create_campaign
      x-curl-example: |-
        curl -X POST -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/campaigns.json
      x-wenmar-request-schema: CreateCampaignRequest
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/campaigns/{id}":
    get:
      summary: show
      tags:
      - campaigns
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: GET /campaigns/{id} -> 200
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/BroadcastCampaign"
      description: Show a campaign by ID.
      operationId: show_campaign
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/campaigns/<id>.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/campaigns/{id}/duplicate":
    post:
      summary: duplicate
      tags:
      - campaigns
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/DuplicateCampaignRequest"
      responses:
        '200':
          description: POST /campaigns/{id}/duplicate -> 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  type:
                    type: string
                  name:
                    type: string
                  status:
                    type: string
                  sms_body:
                    type: string
                  filters:
                    type: object
                    properties: {}
                  recipient_count:
                    type: integer
                  sent_count:
                    type: integer
                  failed_count:
                    type: integer
                  progress_percentage:
                    type: integer
                  sent_at:
                    nullable: true
                    type: string
                  created_at:
                    type: string
                  updated_at:
                    type: string
                  url:
                    type: string
                  app_url:
                    type: string
                  creator:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      url:
                        type: string
                    required:
                    - id
                    - name
                    - url
                  location:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      url:
                        type: string
                    required:
                    - id
                    - name
                    - url
                required:
                - id
                - type
                - name
                - status
                - sms_body
                - filters
                - recipient_count
                - sent_count
                - failed_count
                - progress_percentage
                - sent_at
                - created_at
                - updated_at
                - url
                - app_url
                - creator
                - location
      description:
      operationId: duplicate_campaign
      x-curl-example: |-
        curl -X POST -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/campaigns/<id>.json
      x-wenmar-request-schema: DuplicateCampaignRequest
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/campaigns/{id}/send_campaign":
    post:
      summary: send_campaign
      tags:
      - campaigns
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/SendCampaignRequest"
      responses:
        '200':
          description: POST /campaigns/{id}/send_campaign -> 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  type:
                    type: string
                  name:
                    type: string
                  status:
                    type: string
                  sms_body:
                    type: string
                  filters:
                    type: object
                    properties: {}
                  recipient_count:
                    type: integer
                  sent_count:
                    type: integer
                  failed_count:
                    type: integer
                  progress_percentage:
                    type: integer
                  sent_at:
                    type: string
                  created_at:
                    type: string
                  updated_at:
                    type: string
                  url:
                    type: string
                  app_url:
                    type: string
                  creator:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      url:
                        type: string
                    required:
                    - id
                    - name
                    - url
                  location:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      url:
                        type: string
                    required:
                    - id
                    - name
                    - url
                required:
                - id
                - type
                - name
                - status
                - sms_body
                - filters
                - recipient_count
                - sent_count
                - failed_count
                - progress_percentage
                - sent_at
                - created_at
                - updated_at
                - url
                - app_url
                - creator
                - location
      description:
      operationId: send_campaign
      x-curl-example: |-
        curl -X POST -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/campaigns/<id>.json
      x-wenmar-request-schema: SendCampaignRequest
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/cash_drawer_session":
    post:
      summary: create
      tags:
      - cash_drawer_session
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateCashDrawerSessionRequest"
      responses:
        '200':
          description: POST /cash_drawer_session -> 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  state:
                    type: string
                  opened_at:
                    type: string
                  closed_at:
                    nullable: true
                    type: string
                  location_id:
                    type: integer
                  starting_float_cents:
                    type: integer
                  expected_cash_cents:
                    type: integer
                  actual_cash_cents:
                    type: integer
                  expected_cheques_cents:
                    type: integer
                  actual_cheques_cents:
                    type: integer
                  variance_cents:
                    type: integer
                  bank_deposit_cents:
                    type: integer
                  leave_behind_cents:
                    type: integer
                  variance_explanation:
                    nullable: true
                  opened_by:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                    required:
                    - id
                    - name
                  closed_by:
                    nullable: true
                  summary:
                    type: object
                    properties:
                      opening_balance_cents:
                        type: integer
                      payments_cash_cents:
                        type: integer
                      payments_cheque_cents:
                        type: integer
                      entries_paid_in_cents:
                        type: integer
                      entries_paid_out_cents:
                        type: integer
                      closing_balance_cents:
                        type: integer
                    required:
                    - opening_balance_cents
                    - payments_cash_cents
                    - payments_cheque_cents
                    - entries_paid_in_cents
                    - entries_paid_out_cents
                    - closing_balance_cents
                  ledger_url:
                    type: string
                  close_url:
                    type: string
                  url:
                    type: string
                required:
                - id
                - state
                - opened_at
                - closed_at
                - location_id
                - starting_float_cents
                - expected_cash_cents
                - actual_cash_cents
                - expected_cheques_cents
                - actual_cheques_cents
                - variance_cents
                - bank_deposit_cents
                - leave_behind_cents
                - variance_explanation
                - opened_by
                - closed_by
                - summary
                - ledger_url
                - close_url
                - url
        '201':
          description: POST /cash_drawer_session -> 201
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  state:
                    type: string
                  opened_at:
                    type: string
                  closed_at:
                    nullable: true
                    type: string
                  location_id:
                    type: integer
                  starting_float_cents:
                    type: integer
                  expected_cash_cents:
                    type: integer
                  actual_cash_cents:
                    type: integer
                  expected_cheques_cents:
                    type: integer
                  actual_cheques_cents:
                    type: integer
                  variance_cents:
                    type: integer
                  bank_deposit_cents:
                    type: integer
                  leave_behind_cents:
                    type: integer
                  variance_explanation:
                    nullable: true
                  opened_by:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                    required:
                    - id
                    - name
                  closed_by:
                    nullable: true
                  summary:
                    type: object
                    properties:
                      opening_balance_cents:
                        type: integer
                      payments_cash_cents:
                        type: integer
                      payments_cheque_cents:
                        type: integer
                      entries_paid_in_cents:
                        type: integer
                      entries_paid_out_cents:
                        type: integer
                      closing_balance_cents:
                        type: integer
                    required:
                    - opening_balance_cents
                    - payments_cash_cents
                    - payments_cheque_cents
                    - entries_paid_in_cents
                    - entries_paid_out_cents
                    - closing_balance_cents
                  ledger_url:
                    type: string
                  close_url:
                    type: string
                  url:
                    type: string
                required:
                - id
                - state
                - opened_at
                - closed_at
                - location_id
                - starting_float_cents
                - expected_cash_cents
                - actual_cash_cents
                - expected_cheques_cents
                - actual_cheques_cents
                - variance_cents
                - bank_deposit_cents
                - leave_behind_cents
                - variance_explanation
                - opened_by
                - closed_by
                - summary
                - ledger_url
                - close_url
                - url
      description: Create a cash drawer session.
      operationId: create_cash_drawer_session
      x-curl-example: |-
        curl -X POST -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/cash_drawer_session.json
      x-wenmar-request-schema: CreateCashDrawerSessionRequest
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/cash_entries":
    get:
      summary: index
      tags:
      - cash_entries
      parameters:
      - name: cash_drawer_session_id
        in: query
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: GET /cash_entries -> 200
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    cash_drawer_session_id:
                      type: integer
                    payment_id:
                      nullable: true
                      type: integer
                    amount_cents:
                      type: integer
                    direction:
                      type: string
                    entry_type:
                      type: string
                    category:
                      type: string
                    description:
[...]
