openapi: 3.0.3
info:
  title: Wenmar Pro API
  version: "1.0.0"
  description: |
    API for the Wenmar Pro automotive shop management system.
    This spec is synced from the private wenmar-pro repo. Do not edit it here.
servers:
  - url: https://app.wenmarpro.com
paths:
  /api/customers:
    get:
      summary: index
      security:
        - BearerAuth: []
      parameters:
        - name: page
          in: query
          required: false
          schema:
            type: integer
      responses:
        "200":
          description: List of customers
          headers:
            Link:
              description: RFC 5988 pagination links (rel="next" / rel="prev")
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        full_name:
                          type: string
                        email:
                          type: string
                        phone:
                          type: string
    post:
      summary: create
      tags:
        - customers
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                customer:
                  type: object
                  required:
                    - full_name
                  properties:
                    full_name:
                      type: string
                    email:
                      type: string
                    phone:
                      type: string
      responses:
        "201":
          description: Customer created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                      full_name:
                        type: string
                      email:
                        type: string
                      phone:
                        type: string
  /api/customers/{id}:
    get:
      summary: show
      tags:
        - customers
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: A single customer
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                      full_name:
                        type: string
                      email:
                        type: string
                      phone:
                        type: string
        "404":
          description: Customer not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                      details:
                        type: object
  /api/vehicles/{id}:
    get:
      summary: show
      tags:
        - vehicles
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: A single vehicle
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                      make:
                        type: string
                      model:
                        type: string
                      year:
                        type: integer
                      vin:
                        type: string
        "404":
          description: Vehicle not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                      details:
                        type: object
  /api/work_orders:
    get:
      summary: index
      tags:
        - work_orders
      security:
        - BearerAuth: []
      parameters:
        - name: page
          in: query
          required: false
          schema:
            type: integer
      responses:
        "200":
          description: List of work orders
          headers:
            Link:
              description: RFC 5988 pagination links (rel="next" / rel="prev")
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        status:
                          type: string
                        customer:
                          type: object
                          properties:
                            id:
                              type: integer
                            full_name:
                              type: string
                        vehicle:
                          type: object
                          properties:
                            id:
                              type: integer
                            make:
                              type: string
                            model:
                              type: string
  /api/work_orders/{id}:
    get:
      summary: show
      tags:
        - work_orders
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: A single work order
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                      status:
                        type: string
                      customer:
                        type: object
                        properties:
                          id:
                            type: integer
                          full_name:
                            type: string
                      vehicle:
                        type: object
                        properties:
                          id:
                            type: integer
                          make:
                            type: string
                          model:
                            type: string
        "404":
          description: Work order not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                      details:
                        type: object
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    OAuth2:
      type: oauth2
      flows: {}
