---
openapi: 3.0.0
info:
  title: Wenmar Pro API
  version: 1.0.0
servers:
- url: https://app.wenmarpro.com
paths:
  "/account":
    get:
      summary: show
      tags:
      - account
      responses:
        '200':
          description: GET /account -> 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  slug:
                    type: string
                  locations:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        url:
                          type: string
                        app_url:
                          type: string
                      required:
                      - id
                      - name
                      - url
                      - app_url
                  url:
                    type: string
                  app_url:
                    type: string
                required:
                - id
                - name
                - slug
                - locations
                - url
                - app_url
        '403':
          description: GET /account -> 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      description: List all account, paginated via the Link header.
      operationId: list_account
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/account.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/conversations":
    get:
      summary: index
      tags:
      - conversations
      responses:
        '200':
          description: GET /conversations -> 200
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    status:
                      type: string
                    reply_state:
                      type: string
                    channel:
                      type: string
                    customer:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        url:
                          type: string
                      required:
                      - id
                      - name
                      - url
                    unread_count:
                      type: integer
                    messages_url:
                      type: string
                    created_at:
                      type: string
                    updated_at:
                      type: string
                    url:
                      type: string
                    app_url:
                      type: string
                  required:
                  - id
                  - status
                  - reply_state
                  - channel
                  - customer
                  - unread_count
                  - messages_url
                  - created_at
                  - updated_at
                  - url
                  - app_url
        '302':
          description: GET /conversations -> 302
          content:
            text/html:
              schema:
                type: string
      description: List all conversations, paginated via the Link header.
      operationId: list_conversations
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/conversations.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/conversations/bulk_mark_read":
    post:
      summary: bulk_mark_read
      tags:
      - conversations
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateConversationRequest"
      responses:
        '200':
          description: POST /conversations/bulk_mark_read -> 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  affected:
                    type: integer
                required:
                - ok
                - affected
      description: Create a conversation.
      operationId: create_conversation
      x-curl-example: |-
        curl -X POST -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/conversations/bulk_mark_read.json
      x-wenmar-request-schema: CreateConversationRequest
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/conversations/{conversation_id}/customer_links":
    post:
      summary: create
      tags:
      - conversations
      parameters:
      - name: conversation_id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/PostConversationsCustomerLinkRequest"
      responses:
        '200':
          description: POST /conversations/{conversation_id}/customer_links -> 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  status:
                    type: string
                  reply_state:
                    type: string
                  channel:
                    type: string
                  customer:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      url:
                        type: string
                    required:
                    - id
                    - name
                    - url
                  unread_count:
                    type: integer
                  messages_url:
                    type: string
                  created_at:
                    type: string
                  updated_at:
                    type: string
                  url:
                    type: string
                  app_url:
                    type: string
                required:
                - id
                - status
                - reply_state
                - channel
                - customer
                - unread_count
                - messages_url
                - created_at
                - updated_at
                - url
                - app_url
      description:
      operationId: post_conversations_customer_link
      x-curl-example: |-
        curl -X POST -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/conversations/{conversation_id}/customer_links.json
      x-wenmar-request-schema: PostConversationsCustomerLinkRequest
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/conversations/{conversation_id}/ignores":
    post:
      summary: create
      tags:
      - conversations
      parameters:
      - name: conversation_id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/PostConversationsIgnoreRequest"
      responses:
        '200':
          description: POST /conversations/{conversation_id}/ignores -> 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  status:
                    type: string
                  reply_state:
                    type: string
                  channel:
                    type: string
                  customer:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      url:
                        type: string
                    required:
                    - id
                    - name
                    - url
                  unread_count:
                    type: integer
                  messages_url:
                    type: string
                  created_at:
                    type: string
                  updated_at:
                    type: string
                  url:
                    type: string
                  app_url:
                    type: string
                required:
                - id
                - status
                - reply_state
                - channel
                - customer
                - unread_count
                - messages_url
                - created_at
                - updated_at
                - url
                - app_url
      description:
      operationId: post_conversations_ignore
      x-curl-example: |-
        curl -X POST -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/conversations/{conversation_id}/ignores.json
      x-wenmar-request-schema: PostConversationsIgnoreRequest
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/conversations/{conversation_id}/messages":
    get:
      summary: index
      tags:
      - conversations
      parameters:
      - name: conversation_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: GET /conversations/{conversation_id}/messages -> 200
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    conversation_id:
                      type: integer
                    direction:
                      type: string
                    channel:
                      type: string
                    status:
                      type: string
                    body:
                      type: string
                    work_order_id:
                      nullable: true
                    statement_id:
                      nullable: true
                    appointment_id:
                      nullable: true
                    read_at:
                      nullable: true
                    created_at:
                      type: string
                  required:
                  - id
                  - conversation_id
                  - direction
                  - channel
                  - status
                  - body
                  - work_order_id
                  - statement_id
                  - appointment_id
                  - read_at
                  - created_at
      description:
      operationId: get_conversations_message
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/conversations/{conversation_id}/messages.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
    post:
      summary: create
      tags:
      - conversations
      parameters:
      - name: conversation_id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/PostConversationsMessageRequest"
      responses:
        '201':
          description: POST /conversations/{conversation_id}/messages -> 201
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  conversation_id:
                    type: integer
                  direction:
                    type: string
                  channel:
                    type: string
                  status:
                    type: string
                  body:
                    type: string
                  sender:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                    required:
                    - id
                    - name
                  work_order_id:
                    nullable: true
                  statement_id:
                    nullable: true
                  appointment_id:
                    nullable: true
                  read_at:
                    nullable: true
                  created_at:
                    type: string
                required:
                - id
                - conversation_id
                - direction
                - channel
                - status
                - body
                - sender
                - work_order_id
                - statement_id
                - appointment_id
                - read_at
                - created_at
      description:
      operationId: post_conversations_message
      x-curl-example: |-
        curl -X POST -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/conversations/{conversation_id}/messages.json
      x-wenmar-request-schema: PostConversationsMessageRequest
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/conversations/{conversation_id}/messages/{id}/resends":
    post:
      summary: create
      tags:
      - conversations
      parameters:
      - name: conversation_id
        in: path
        required: true
        schema:
          type: integer
      - name: id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/PostConversationsMessageResendsRequest"
      responses:
        '200':
          description: POST /conversations/{conversation_id}/messages/{id}/resends
            -> 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  conversation_id:
                    type: integer
                  direction:
                    type: string
                  channel:
                    type: string
                  status:
                    type: string
                  body:
                    type: string
                  work_order_id:
                    nullable: true
                  statement_id:
                    nullable: true
                  appointment_id:
                    nullable: true
                  read_at:
                    nullable: true
                  created_at:
                    type: string
                required:
                - id
                - conversation_id
                - direction
                - channel
                - status
                - body
                - work_order_id
                - statement_id
                - appointment_id
                - read_at
                - created_at
      description:
      operationId: post_conversations_message_resends
      x-curl-example: |-
        curl -X POST -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/conversations/<id>.json
      x-wenmar-request-schema: PostConversationsMessageResendsRequest
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/conversations/{id}":
    get:
      summary: show
      tags:
      - conversations
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: GET /conversations/{id} -> 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  status:
                    type: string
                  reply_state:
                    type: string
                  channel:
                    type: string
                  customer:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      url:
                        type: string
                    required:
                    - id
                    - name
                    - url
                  unread_count:
                    type: integer
                  messages_url:
                    type: string
                  created_at:
                    type: string
                  updated_at:
                    type: string
                  url:
                    type: string
                  app_url:
                    type: string
                required:
                - id
                - status
                - reply_state
                - channel
                - customer
                - unread_count
                - messages_url
                - created_at
                - updated_at
                - url
                - app_url
      description: Show a conversation by ID.
      operationId: show_conversation
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/conversations/<id>.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
    patch:
      summary: update
      tags:
      - conversations
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/UpdateConversationRequest"
      responses:
        '200':
          description: PATCH /conversations/{id} -> 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  status:
                    type: string
                  reply_state:
                    type: string
                  channel:
                    type: string
                  customer:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      url:
                        type: string
                    required:
                    - id
                    - name
                    - url
                  unread_count:
                    type: integer
                  messages_url:
                    type: string
                  created_at:
                    type: string
                  updated_at:
                    type: string
                  url:
                    type: string
                  app_url:
                    type: string
                required:
                - id
                - status
                - reply_state
                - channel
                - customer
                - unread_count
                - messages_url
                - created_at
                - updated_at
                - url
                - app_url
      description: Update a conversation by ID.
      operationId: update_conversation
      x-curl-example: |-
        curl -X PATCH -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/conversations/<id>.json
      x-wenmar-request-schema: UpdateConversationRequest
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/counter_sales":
    get:
      summary: index
      tags:
      - counter_sales
      responses:
        '200':
          description: GET /counter_sales -> 200
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    counter_sale_number:
                      type: integer
                    status:
                      type: string
                    walk_in_name:
                      nullable: true
                    notes:
                      nullable: true
                    subtotal_cents:
                      type: integer
                    tax_total_cents:
                      type: integer
                    total_cents:
                      type: integer
                    paid_cents:
                      type: integer
                    remaining_cents:
                      type: integer
                    paid:
                      type: boolean
                    currency:
                      type: string
                    line_items_count:
                      type: integer
                    processed_by:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                      required:
                      - id
                      - name
                    location:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        url:
                          type: string
                      required:
                      - id
                      - name
                      - url
                    created_at:
                      type: string
                    updated_at:
                      type: string
                    url:
                      type: string
                    app_url:
                      type: string
                  required:
                  - id
                  - counter_sale_number
                  - status
                  - walk_in_name
                  - notes
                  - subtotal_cents
                  - tax_total_cents
                  - total_cents
                  - paid_cents
                  - remaining_cents
                  - paid
                  - currency
                  - line_items_count
                  - processed_by
                  - location
                  - created_at
                  - updated_at
                  - url
                  - app_url
      description: List all counter sales, paginated via the Link header.
      operationId: list_counter_sales
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/counter_sales.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
    post:
      summary: create
      tags:
      - counter_sales
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateCounterSaleRequest"
      responses:
        '201':
          description: POST /counter_sales -> 201
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  counter_sale_number:
                    type: integer
                  status:
                    type: string
                  walk_in_name:
                    nullable: true
                  notes:
                    nullable: true
                  subtotal_cents:
                    type: integer
                  tax_total_cents:
                    type: integer
                  total_cents:
                    type: integer
                  paid_cents:
                    type: integer
                  remaining_cents:
                    type: integer
                  paid:
                    type: boolean
                  currency:
                    type: string
                  line_items_count:
                    type: integer
                  processed_by:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                    required:
                    - id
                    - name
                  location:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      url:
                        type: string
                    required:
                    - id
                    - name
                    - url
                  created_at:
                    type: string
                  updated_at:
                    type: string
                  url:
                    type: string
                  app_url:
                    type: string
                required:
                - id
                - counter_sale_number
                - status
                - walk_in_name
                - notes
                - subtotal_cents
                - tax_total_cents
                - total_cents
                - paid_cents
                - remaining_cents
                - paid
                - currency
                - line_items_count
                - processed_by
                - location
                - created_at
                - updated_at
                - url
                - app_url
        '403':
          description: POST /counter_sales -> 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      description: Create a counter sale.
      operationId: create_counter_sale
      x-curl-example: |-
        curl -X POST -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/counter_sales.json
      x-wenmar-request-schema: CreateCounterSaleRequest
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/counter_sales/{id}":
    get:
      summary: show
      tags:
      - counter_sales
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: GET /counter_sales/{id} -> 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  counter_sale_number:
                    type: integer
                  status:
                    type: string
                  walk_in_name:
                    nullable: true
                  notes:
                    nullable: true
                  subtotal_cents:
                    type: integer
                  tax_total_cents:
                    type: integer
                  total_cents:
                    type: integer
                  paid_cents:
                    type: integer
                  remaining_cents:
                    type: integer
                  paid:
                    type: boolean
                  currency:
                    type: string
                  line_items_count:
                    type: integer
                  processed_by:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                    required:
                    - id
                    - name
                  location:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      url:
                        type: string
                    required:
                    - id
                    - name
                    - url
                  created_at:
                    type: string
                  updated_at:
                    type: string
                  url:
                    type: string
                  app_url:
                    type: string
                required:
                - id
                - counter_sale_number
                - status
                - walk_in_name
                - notes
                - subtotal_cents
                - tax_total_cents
                - total_cents
                - paid_cents
                - remaining_cents
                - paid
                - currency
                - line_items_count
                - processed_by
                - location
                - created_at
                - updated_at
                - url
                - app_url
      description: Show a counter sale by ID.
      operationId: show_counter_sale
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/counter_sales/<id>.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
    patch:
      summary: update
      tags:
      - counter_sales
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/UpdateCounterSaleRequest"
      responses:
        '200':
          description: PATCH /counter_sales/{id} -> 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  counter_sale_number:
                    type: integer
                  status:
                    type: string
                  walk_in_name:
                    nullable: true
                  notes:
                    type: string
                  subtotal_cents:
                    type: integer
                  tax_total_cents:
                    type: integer
                  total_cents:
                    type: integer
                  paid_cents:
                    type: integer
                  remaining_cents:
                    type: integer
                  paid:
                    type: boolean
                  currency:
                    type: string
                  line_items_count:
                    type: integer
                  processed_by:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                    required:
                    - id
                    - name
                  location:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      url:
                        type: string
                    required:
                    - id
                    - name
                    - url
                  created_at:
                    type: string
                  updated_at:
                    type: string
                  url:
                    type: string
                  app_url:
                    type: string
                required:
                - id
                - counter_sale_number
                - status
                - walk_in_name
                - notes
                - subtotal_cents
                - tax_total_cents
                - total_cents
                - paid_cents
                - remaining_cents
                - paid
                - currency
                - line_items_count
                - processed_by
                - location
                - created_at
                - updated_at
                - url
                - app_url
      description: Update a counter sale by ID.
      operationId: update_counter_sale
      x-curl-example: |-
        curl -X PATCH -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/counter_sales/<id>.json
      x-wenmar-request-schema: UpdateCounterSaleRequest
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/courtesy_cars":
    get:
      summary: index
      tags:
      - courtesy_cars
      responses:
        '200':
          description: GET /courtesy_cars -> 200
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    type:
                      type: string
                    id:
                      type: integer
                    make:
                      type: string
                    model:
                      type: string
                    year:
                      type: integer
                    submodel:
                      nullable: true
                    body_style:
                      nullable: true
                    engine:
                      nullable: true
                    vin:
                      type: string
                    license_plate:
                      type: string
                    license_plate_state:
                      type: string
                    license_plate_country:
                      type: string
                    drivetrain:
                      nullable: true
                    transmission:
                      nullable: true
                    color:
                      nullable: true
                    vehicle_type:
                      type: string
                    unit_number:
                      nullable: true
                    fleet_identifier:
                      nullable: true
                    production_date:
                      nullable: true
                    annual_safety_expires_at:
                      nullable: true
                    notes:
                      nullable: true
                    odometer:
                      type: object
                      properties:
                        reading:
                          nullable: true
                        unit:
                          type: string
                      required:
                      - reading
                      - unit
                    work_orders_count:
                      type: integer
                    work_orders_url:
                      type: string
                    customer:
                      type: object
                      properties:
                        id:
                          type: integer
                        full_name:
                          type: string
                        url:
                          type: string
                      required:
                      - id
                      - full_name
                      - url
                    created_at:
                      type: string
                    updated_at:
                      type: string
                    url:
                      type: string
                    app_url:
                      type: string
                    location:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        url:
                          type: string
                      required:
                      - id
                      - name
                      - url
                  required:
                  - type
                  - id
                  - make
                  - model
                  - year
                  - submodel
                  - body_style
                  - engine
                  - vin
                  - license_plate
                  - license_plate_state
                  - license_plate_country
                  - drivetrain
                  - transmission
                  - color
                  - vehicle_type
                  - unit_number
                  - fleet_identifier
                  - production_date
                  - annual_safety_expires_at
                  - notes
                  - odometer
                  - work_orders_count
                  - work_orders_url
                  - customer
                  - created_at
                  - updated_at
                  - url
                  - app_url
                  - location
        '403':
          description: GET /courtesy_cars -> 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      description: List all courtesy cars, paginated via the Link header.
      operationId: list_courtesy_cars
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/courtesy_cars.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/customer_tags":
    get:
      summary: index
      tags:
      - customer_tags
      responses:
        '200':
          description: GET /customer_tags -> 200
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
                    color:
                      type: string
                    color_hex:
                      type: string
                    color_class:
                      type: string
                  required:
                  - id
                  - name
                  - color
                  - color_hex
                  - color_class
      description: List all customer tags, paginated via the Link header.
      operationId: list_customer_tags
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/customer_tags.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
    post:
      summary: create
      tags:
      - customer_tags
      responses:
        '201':
          description: POST /customer_tags -> 201
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  color:
                    type: string
                  color_hex:
                    type: string
                  color_class:
                    type: string
                required:
                - id
                - name
                - color
                - color_hex
                - color_class
        '403':
          description: POST /customer_tags -> 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
        '422':
          description: POST /customer_tags -> 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateCustomerTagRequest"
      description: Create a customer tag.
      operationId: create_customer_tag
      x-curl-example: |-
        curl -X POST -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/customer_tags.json
      x-wenmar-request-schema: CreateCustomerTagRequest
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/customer_tags/{id}":
    delete:
      summary: destroy
      tags:
      - customer_tags
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: DELETE /customer_tags/{id} -> 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  color:
                    type: string
                  color_hex:
                    type: string
                  color_class:
                    type: string
                required:
                - id
                - name
                - color
                - color_hex
                - color_class
      description: Delete a customer tag by ID.
      operationId: delete_customer_tag
      x-curl-example: 'curl -X DELETE -H "User-Agent: wenmar-cli/0.2" -H "Authorization:
        Bearer $WENMAR_TOKEN" https://app.wenmarpro.com/customer_tags/<id>.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
    patch:
      summary: update
      tags:
      - customer_tags
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/UpdateCustomerTagRequest"
      responses:
        '200':
          description: PATCH /customer_tags/{id} -> 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  color:
                    type: string
                  color_hex:
                    type: string
                  color_class:
                    type: string
                required:
                - id
                - name
                - color
                - color_hex
                - color_class
      description: Update a customer tag by ID.
      operationId: update_customer_tag
      x-curl-example: |-
        curl -X PATCH -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/customer_tags/<id>.json
      x-wenmar-request-schema: UpdateCustomerTagRequest
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/customers":
    get:
      summary: index
      tags:
      - customers
      parameters:
      - name: has_balance
        in: query
        required: false
        schema:
          type: boolean
      - name: has_vehicle
        in: query
        required: false
        schema:
          type: boolean
      - name: last_visit_months
        in: query
        required: false
        schema:
          type: integer
      - name: page
        in: query
        required: false
        schema:
          type: integer
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
      - name: query
        in: query
        required: false
        schema:
          type: string
      - name: tag_ids
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
      - name: type
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: GET /customers -> 200
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/Customer"
        '401':
          description: GET /customers -> 401
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      description: List all customers, paginated via the Link header.
      operationId: list_customers
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/customers.json'
      x-paginated: true
      x-pagination-header: Link
      x-pagination-format: rfc5988
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
    post:
      summary: create
      tags:
      - customers
      responses:
        '201':
          description: POST /customers -> 201
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Customer"
        '403':
          description: POST /customers -> 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
        '422':
          description: POST /customers -> 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateCustomerRequest"
      description: Create a customer.
      operationId: create_customer
      x-curl-example: |-
        curl -X POST -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/customers.json
      x-wenmar-request-schema: CreateCustomerRequest
      x-idempotent: false
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/customers/check_duplicate":
    get:
      summary: check_duplicate
      tags:
      - customers
      parameters:
      - name: email
        in: query
        required: false
        schema:
          type: string
      - name: first_name
        in: query
        required: false
        schema:
          type: string
      - name: last_name
        in: query
        required: false
        schema:
          type: string
      - name: phone
        in: query
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: GET /customers/check_duplicate -> 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  matches:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        phone:
                          type: string
                        email:
                          type: string
                        url:
                          type: string
                        reasons:
                          type: array
                          items:
                            type: string
                      required:
                      - id
                      - name
                      - phone
                      - email
                      - url
                      - reasons
                required:
                - matches
      description:
      operationId: check_customer_duplicate
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/customers/check_duplicate.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/customers/lookup":
    get:
      summary: lookup
      tags:
      - customers
      parameters:
      - name: id
        in: query
        required: false
        schema:
          type: integer
      - name: query
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: GET /customers/lookup -> 200
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/Customer"
      description:
      operationId: lookup_customer
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/customers/lookup.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/customers/{customer_id}/drivers":
    get:
      summary: index
      tags:
      - customers
      parameters:
      - name: customer_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: GET /customers/{customer_id}/drivers -> 200
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/Driver"
      description: List all customers drivers, paginated via the Link header.
      operationId: list_customers_drivers
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/customers/{customer_id}/drivers.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
    post:
      summary: create
      tags:
      - customers
      parameters:
      - name: customer_id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateDriverRequest"
      responses:
        '201':
          description: POST /customers/{customer_id}/drivers -> 201
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Driver"
        '422':
          description: POST /customers/{customer_id}/drivers -> 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      description: Create a driver.
      operationId: create_driver
      x-curl-example: |-
        curl -X POST -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/customers/{customer_id}/drivers.json
      x-wenmar-request-schema: CreateDriverRequest
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/customers/{customer_id}/drivers/{id}":
    delete:
      summary: destroy
      tags:
      - customers
      parameters:
      - name: customer_id
        in: path
        required: true
        schema:
          type: integer
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '204':
          description: DELETE /customers/{customer_id}/drivers/{id} -> 204
      description: Delete a driver by ID.
      operationId: delete_driver
      x-curl-example: 'curl -X DELETE -H "User-Agent: wenmar-cli/0.2" -H "Authorization:
        Bearer $WENMAR_TOKEN" https://app.wenmarpro.com/customers/<id>.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
    get:
      summary: show
      tags:
      - customers
      parameters:
      - name: customer_id
        in: path
        required: true
        schema:
          type: integer
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: GET /customers/{customer_id}/drivers/{id} -> 200
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Driver"
      description: Show a driver by ID.
      operationId: show_driver
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/customers/<id>.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
    patch:
      summary: update
      tags:
      - customers
      parameters:
      - name: customer_id
        in: path
        required: true
        schema:
          type: integer
      - name: id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/UpdateDriverRequest"
      responses:
        '200':
          description: PATCH /customers/{customer_id}/drivers/{id} -> 200
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Driver"
      description: Update a driver by ID.
      operationId: update_driver
      x-curl-example: |-
        curl -X PATCH -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/customers/<id>.json
      x-wenmar-request-schema: UpdateDriverRequest
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/customers/{customer_id}/statements":
    get:
      summary: index
      tags:
      - customers
      parameters:
      - name: customer_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: GET /customers/{customer_id}/statements -> 200
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/Statement"
      description: List all customers statements, paginated via the Link header.
      operationId: list_customers_statements
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/customers/{customer_id}/statements.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/customers/{customer_id}/vehicles":
    get:
      summary: index
      tags:
      - customers
      parameters:
      - name: customer_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: GET /customers/{customer_id}/vehicles -> 200
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/Vehicle"
      description: List all customers vehicles, paginated via the Link header.
      operationId: list_customers_vehicles
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/customers/{customer_id}/vehicles.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/customers/{customer_id}/vehicles/{vehicle_id}/history":
    get:
      summary: show
      tags:
      - customers
      parameters:
      - name: customer_id
        in: path
        required: true
        schema:
          type: integer
      - name: vehicle_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: GET /customers/{customer_id}/vehicles/{vehicle_id}/history
            -> 200
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Vehicle"
        '404':
          description: GET /customers/{customer_id}/vehicles/{vehicle_id}/history
            -> 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      description:
      operationId: get_customers_vehicle_history
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/customers/{customer_id}/vehicles/{vehicle_id}/history.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/customers/{customer_id}/work_orders":
    get:
      summary: index
      tags:
      - customers
      parameters:
      - name: customer_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: GET /customers/{customer_id}/work_orders -> 200
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/WorkOrder"
      description: List all customers work orders, paginated via the Link header.
      operationId: list_customers_work_orders
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/customers/{customer_id}/work_orders.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/customers/{id}":
    delete:
      summary: destroy
      tags:
      - customers
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '202':
          description: DELETE /customers/{id} -> 202
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Customer"
        '403':
          description: DELETE /customers/{id} -> 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
        '422':
          description: DELETE /customers/{id} -> 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      description: Delete a customer by ID.
      operationId: delete_customer
      x-curl-example: 'curl -X DELETE -H "User-Agent: wenmar-cli/0.2" -H "Authorization:
        Bearer $WENMAR_TOKEN" https://app.wenmarpro.com/customers/<id>.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
    get:
      summary: show
      tags:
      - customers
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: GET /customers/{id} -> 200
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Customer"
        '404':
          description: GET /customers/{id} -> 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      description: Show a customer by ID.
      operationId: show_customer
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/customers/<id>.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
    patch:
      summary: update
      tags:
      - customers
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/UpdateCustomerRequest"
      responses:
        '200':
          description: PATCH /customers/{id} -> 200
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Customer"
      description: Update a customer by ID.
      operationId: update_customer
      x-curl-example: |-
        curl -X PATCH -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/customers/<id>.json
      x-wenmar-request-schema: UpdateCustomerRequest
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/customers/{id}/merges":
    post:
      summary: create
      tags:
      - customers
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: POST /customers/{id}/merges -> 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  id:
                    type: integer
                  full_name:
                    type: string
                  company_name:
                    nullable: true
                  first_name:
                    type: string
                  last_name:
                    type: string
                  fleet_identifier:
                    nullable: true
                  marketing_opt_in:
                    type: boolean
                  tax_exempt:
                    type: boolean
                  vehicles_count:
                    type: integer
                  emails_count:
                    type: integer
                  phones_count:
                    type: integer
                  vehicles_url:
                    type: string
                  work_orders_url:
                    type: string
                  created_at:
                    type: string
                  updated_at:
                    type: string
                  url:
                    type: string
                  app_url:
                    type: string
                  location:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      url:
                        type: string
                    required:
                    - id
                    - name
                    - url
                  emails:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        address:
                          type: string
                        label:
                          type: string
                        primary:
                          type: boolean
                      required:
                      - id
                      - address
                      - label
                      - primary
                  phones:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        number:
                          type: string
                        label:
                          type: string
                        primary:
                          type: boolean
                      required:
                      - id
                      - number
                      - label
                      - primary
                  addresses:
                    type: array
                    items: {}
                  outstanding_balance_cents:
                    type: integer
                  total_revenue_cents:
                    type: integer
                  store_credit_cents:
                    type: integer
                  last_visit_at:
                    nullable: true
                  statements_count:
                    type: integer
                  currency:
                    type: string
                required:
                - type
                - id
                - full_name
                - company_name
                - first_name
                - last_name
                - fleet_identifier
                - marketing_opt_in
                - tax_exempt
                - vehicles_count
                - emails_count
                - phones_count
                - vehicles_url
                - work_orders_url
                - created_at
                - updated_at
                - url
                - app_url
                - location
                - emails
                - phones
                - addresses
                - outstanding_balance_cents
                - total_revenue_cents
                - store_credit_cents
                - last_visit_at
                - statements_count
                - currency
        '403':
          description: POST /customers/{id}/merges -> 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
        '422':
          description: POST /customers/{id}/merges -> 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/MergeCustomerRequest"
      description:
      operationId: merge_customer
      x-curl-example: |-
        curl -X POST -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/customers/<id>.json
      x-wenmar-request-schema: MergeCustomerRequest
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/expenses":
    get:
      summary: index
      tags:
      - expenses
      responses:
        '200':
          description: GET /expenses -> 200
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    payee:
                      type: string
                    category:
                      type: string
                    description:
                      type: string
                    amount_cents:
                      type: integer
                    amount_currency:
                      type: string
                    expense_date:
                      type: string
                    payment_method:
                      type: string
                    recurring:
                      type: boolean
                    recurrence_rule:
                      nullable: true
                    location:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        url:
                          type: string
                      required:
                      - id
                      - name
                      - url
                    created_at:
                      type: string
                    updated_at:
                      type: string
                    url:
                      type: string
                    app_url:
                      type: string
                    creator:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        url:
                          type: string
                      required:
                      - id
                      - name
                      - url
                  required:
                  - id
                  - payee
                  - category
                  - description
                  - amount_cents
                  - amount_currency
                  - expense_date
                  - payment_method
                  - recurring
                  - recurrence_rule
                  - location
                  - created_at
                  - updated_at
                  - url
                  - app_url
      description: List all expenses, paginated via the Link header.
      operationId: list_expenses
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/expenses.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
    post:
      summary: create
      tags:
      - expenses
      responses:
        '201':
          description: POST /expenses -> 201
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  payee:
                    type: string
                  category:
                    type: string
                  description:
                    type: string
                  amount_cents:
                    type: integer
                  amount_currency:
                    type: string
                  expense_date:
                    type: string
                  payment_method:
                    type: string
                  recurring:
                    type: boolean
                  recurrence_rule:
                    nullable: true
                  location:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      url:
                        type: string
                    required:
                    - id
                    - name
                    - url
                  created_at:
                    type: string
                  updated_at:
                    type: string
                  url:
                    type: string
                  app_url:
                    type: string
                  creator:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      url:
                        type: string
                    required:
                    - id
                    - name
                    - url
                required:
                - id
                - payee
                - category
                - description
                - amount_cents
                - amount_currency
                - expense_date
                - payment_method
                - recurring
                - recurrence_rule
                - location
                - created_at
                - updated_at
                - url
                - app_url
        '403':
          description: POST /expenses -> 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateExpenseRequest"
      description: Create a expense.
      operationId: create_expense
      x-curl-example: |-
        curl -X POST -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/expenses.json
      x-wenmar-request-schema: CreateExpenseRequest
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/expenses/{id}":
    delete:
      summary: destroy
      tags:
      - expenses
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '204':
          description: DELETE /expenses/{id} -> 204
      description: Delete a expense by ID.
      operationId: delete_expense
      x-curl-example: 'curl -X DELETE -H "User-Agent: wenmar-cli/0.2" -H "Authorization:
        Bearer $WENMAR_TOKEN" https://app.wenmarpro.com/expenses/<id>.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
    patch:
      summary: update
      tags:
      - expenses
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/UpdateExpenseRequest"
      responses:
        '200':
          description: PATCH /expenses/{id} -> 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  payee:
                    type: string
                  category:
                    type: string
                  description:
                    type: string
                  amount_cents:
                    type: integer
                  amount_currency:
                    type: string
                  expense_date:
                    type: string
                  payment_method:
                    type: string
                  recurring:
                    type: boolean
                  recurrence_rule:
                    nullable: true
                  location:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      url:
                        type: string
                    required:
                    - id
                    - name
                    - url
                  created_at:
                    type: string
                  updated_at:
                    type: string
                  url:
                    type: string
                  app_url:
                    type: string
                  creator:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      url:
                        type: string
                    required:
                    - id
                    - name
                    - url
                required:
                - id
                - payee
                - category
                - description
                - amount_cents
                - amount_currency
                - expense_date
                - payment_method
                - recurring
                - recurrence_rule
                - location
                - created_at
                - updated_at
                - url
                - app_url
      description: Update a expense by ID.
      operationId: update_expense
      x-curl-example: |-
        curl -X PATCH -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/expenses/<id>.json
      x-wenmar-request-schema: UpdateExpenseRequest
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/fleets":
    get:
      summary: index
      tags:
      - fleets
      responses:
        '200':
          description: GET /fleets -> 200
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    type:
                      type: string
                    id:
                      type: integer
                    full_name:
                      type: string
                    company_name:
                      type: string
                    first_name:
                      type: string
                    last_name:
                      type: string
                    fleet_identifier:
                      type: string
                    marketing_opt_in:
                      type: boolean
                    tax_exempt:
                      type: boolean
                    vehicles_count:
                      type: integer
                    emails_count:
                      type: integer
                    phones_count:
                      type: integer
                    vehicles_url:
                      type: string
                    work_orders_url:
                      type: string
                    created_at:
                      type: string
                    updated_at:
                      type: string
                    url:
                      type: string
                    app_url:
                      type: string
                    location:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        url:
                          type: string
                      required:
                      - id
                      - name
                      - url
                  required:
                  - type
                  - id
                  - full_name
                  - company_name
                  - first_name
                  - last_name
                  - fleet_identifier
                  - marketing_opt_in
                  - tax_exempt
                  - vehicles_count
                  - emails_count
                  - phones_count
                  - vehicles_url
                  - work_orders_url
                  - created_at
                  - updated_at
                  - url
                  - app_url
                  - location
        '403':
          description: GET /fleets -> 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      description: List all fleets, paginated via the Link header.
      operationId: list_fleets
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/fleets.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/locations/{id}":
    get:
      summary: show
      tags:
      - locations
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: GET /locations/{id} -> 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  location_type:
                    type: string
                  currency:
                    type: string
                  dock:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        enabled:
                          type: boolean
                        url:
                          type: string
                          nullable: true
                      required:
                      - name
                      - enabled
                      - url
                  url:
                    type: string
                  app_url:
                    type: string
                required:
                - id
                - name
                - location_type
                - currency
                - dock
                - url
                - app_url
        '403':
          description: GET /locations/{id} -> 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      description: Show a location by ID.
      operationId: show_location
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/locations/<id>.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/notifications":
    get:
      summary: index
      tags:
      - notifications
      responses:
        '200':
          description: GET /notifications -> 200
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    trigger_type:
                      type: string
                    title:
                      type: string
                    message_body:
                      type: string
                    read:
                      type: boolean
                    read_at:
                      nullable: true
                    created_at:
                      type: string
                    updated_at:
                      type: string
                    url:
                      type: string
                    app_url:
                      type: string
                  required:
                  - id
                  - trigger_type
                  - title
                  - message_body
                  - read
                  - read_at
                  - created_at
                  - updated_at
                  - url
                  - app_url
        '401':
          description: GET /notifications -> 401
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      description: List all notifications, paginated via the Link header.
      operationId: list_notifications
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/notifications.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/notifications/bulk_mark_read":
    post:
      summary: bulk_mark_read
      tags:
      - notifications
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateNotificationRequest"
      responses:
        '200':
          description: POST /notifications/bulk_mark_read -> 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  affected:
                    type: integer
                required:
                - ok
                - affected
      description: Create a notification.
      operationId: create_notification
      x-curl-example: |-
        curl -X POST -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/notifications/bulk_mark_read.json
      x-wenmar-request-schema: CreateNotificationRequest
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/notifications/{id}":
    get:
      summary: show
      tags:
      - notifications
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: GET /notifications/{id} -> 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  trigger_type:
                    type: string
                  title:
                    type: string
                  message_body:
                    type: string
                  read:
                    type: boolean
                  read_at:
                    type: string
                  created_at:
                    type: string
                  updated_at:
                    type: string
                  url:
                    type: string
                  app_url:
                    type: string
                required:
                - id
                - trigger_type
                - title
                - message_body
                - read
                - read_at
                - created_at
                - updated_at
                - url
                - app_url
        '404':
          description: GET /notifications/{id} -> 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      description: Show a notification by ID.
      operationId: show_notification
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/notifications/<id>.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
    patch:
      summary: update
      tags:
      - notifications
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/UpdateNotificationRequest"
      responses:
        '200':
          description: PATCH /notifications/{id} -> 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  trigger_type:
                    type: string
                  title:
                    type: string
                  message_body:
                    type: string
                  read:
                    type: boolean
                  read_at:
                    type: string
                  created_at:
                    type: string
                  updated_at:
                    type: string
                  url:
                    type: string
                  app_url:
                    type: string
                required:
                - id
                - trigger_type
                - title
                - message_body
                - read
                - read_at
                - created_at
                - updated_at
                - url
                - app_url
      description: Update a notification by ID.
      operationId: update_notification
      x-curl-example: |-
        curl -X PATCH -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/notifications/<id>.json
      x-wenmar-request-schema: UpdateNotificationRequest
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/packages":
    get:
      summary: index
      tags:
      - packages
      responses:
        '200':
          description: GET /packages -> 200
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
                    description:
                      type: string
                    service_type:
                      type: string
                    category_id:
                      nullable: true
                    category_name:
                      nullable: true
                    estimated_hours:
                      type: string
                    customer_notes:
                      nullable: true
                    show_tech_with_cert:
                      type: boolean
                    triggers_tire_storage:
                      type: boolean
                    price_cents:
                      nullable: true
                    active:
                      type: boolean
                    url:
                      type: string
                    app_url:
                      type: string
                    location:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        url:
                          type: string
                      required:
                      - id
                      - name
                      - url
                  required:
                  - id
                  - name
                  - description
                  - service_type
                  - category_id
                  - category_name
                  - estimated_hours
                  - customer_notes
                  - show_tech_with_cert
                  - triggers_tire_storage
                  - price_cents
                  - active
                  - url
                  - app_url
                  - location
      description: List all packages, paginated via the Link header.
      operationId: list_packages
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/packages.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
    post:
      summary: create
      tags:
      - packages
      responses:
        '201':
          description: POST /packages -> 201
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  description:
                    type: string
                  service_type:
                    type: string
                  category_id:
                    nullable: true
                  category_name:
                    nullable: true
                  estimated_hours:
                    nullable: true
                  customer_notes:
                    nullable: true
                  show_tech_with_cert:
                    type: boolean
                  triggers_tire_storage:
[...]
