---
openapi: 3.0.0
info:
  title: Wenmar Pro API
  version: 1.0.0
servers:
- url: https://app.wenmarpro.com
paths:
  "/account":
    get:
      summary: show
      tags:
      - account
      responses:
        '200':
          description: GET /account -> 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  slug:
                    type: string
                  locations:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        url:
                          type: string
                        app_url:
                          type: string
                      required:
                      - id
                      - name
                      - url
                      - app_url
                  url:
                    type: string
                  app_url:
                    type: string
                required:
                - id
                - name
                - slug
                - locations
                - url
                - app_url
        '403':
          description: GET /account -> 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      description: List all account, paginated via the Link header.
      operationId: list_account
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/account.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/customer_tags":
    get:
      summary: index
      tags:
      - customer_tags
      responses:
        '200':
          description: GET /customer_tags -> 200
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
                    color:
                      type: string
                    color_hex:
                      type: string
                    color_class:
                      type: string
                  required:
                  - id
                  - name
                  - color
                  - color_hex
                  - color_class
      description: List all customer tags, paginated via the Link header.
      operationId: list_customer_tags
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/customer_tags.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
    post:
      summary: create
      tags:
      - customer_tags
      responses:
        '201':
          description: POST /customer_tags -> 201
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  color:
                    type: string
                  color_hex:
                    type: string
                  color_class:
                    type: string
                required:
                - id
                - name
                - color
                - color_hex
        '403':
          description: POST /customer_tags -> 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
        '422':
          description: POST /customer_tags -> 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
              required:
              - name
      description: Create a customer tag.
      operationId: create_customer_tag
      x-curl-example: |-
        curl -X POST -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/customer_tags.json
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/customer_tags/{id}":
    delete:
      summary: destroy
      tags:
      - customer_tags
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: DELETE /customer_tags/{id} -> 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  color:
                    type: string
                  color_hex:
                    type: string
                  color_class:
                    type: string
                required:
                - id
                - name
                - color
                - color_hex
                - color_class
      description: Delete a customer tag by ID.
      operationId: delete_customer_tag
      x-curl-example: 'curl -X DELETE -H "User-Agent: wenmar-cli/0.2" -H "Authorization:
        Bearer $WENMAR_TOKEN" https://app.wenmarpro.com/customer_tags/<id>.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
    patch:
      summary: update
      tags:
      - customer_tags
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
              required:
              - name
      responses:
        '200':
          description: PATCH /customer_tags/{id} -> 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  color:
                    type: string
                  color_hex:
                    type: string
                  color_class:
                    type: string
                required:
                - id
                - name
                - color
                - color_hex
                - color_class
      description: Update a customer tag by ID.
      operationId: update_customer_tag
      x-curl-example: |-
        curl -X PATCH -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/customer_tags/<id>.json
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/customers":
    get:
      summary: index
      tags:
      - customers
      responses:
        '200':
          description: GET /customers -> 200
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/Customer"
        '401':
          description: GET /customers -> 401
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      description: List all customers, paginated via the Link header.
      parameters:
      - name: has_balance
        in: query
        required: false
        schema:
          type: boolean
      - name: has_vehicle
        in: query
        required: false
        schema:
          type: boolean
      - name: last_visit_months
        in: query
        required: false
        schema:
          type: integer
      - name: page
        in: query
        required: false
        schema:
          type: integer
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
      - name: query
        in: query
        required: false
        schema:
          type: string
      - name: tag_ids
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
      - name: type
        in: query
        required: false
        schema:
          type: string
      operationId: list_customers
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/customers.json'
      x-paginated: true
      x-pagination-header: Link
      x-pagination-format: rfc5988
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
    post:
      summary: create
      tags:
      - customers
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                customer:
                  type: object
                  properties:
                    first_name:
                      type: string
                    last_name:
                      type: string
                    company_name:
                      type: string
                    fleet_identifier:
                      type: string
                    billing_terms:
                      type: string
                    credit_limit_cents:
                      type: string
                    tax_exempt:
                      type: boolean
                    tax_exempt_number:
                      type: string
                    notes:
                      type: string
                    marketing_opt_in:
                      type: boolean
                    discount_percent:
                      type: string
                    po_required:
                      type: boolean
                    tag_ids:
                      type: array
                      items: {}
                    emails_attributes:
                      type: array
                      items:
                        type: object
                        properties:
                          email:
                            type: string
                          label:
                            type: string
                          primary:
                            type: boolean
                        required:
                        - email
                        - label
                        - primary
                    phones_attributes:
                      type: array
                      items:
                        type: object
                        properties:
                          number:
                            type: string
                          label:
                            type: string
                          primary:
                            type: boolean
                        required:
                        - number
                        - label
                        - primary
                    addresses_attributes:
                      type: array
                      items:
                        type: object
                        properties:
                          address1:
                            type: string
                          city:
                            type: string
                          state:
                            type: string
                          postal_code:
                            type: string
                          country:
                            type: string
                          is_billing:
                            type: boolean
                        required:
                        - address1
                        - city
                        - state
                        - postal_code
                        - country
                        - is_billing
                  required:
                  - first_name
                  - last_name
              required:
              - customer
      responses:
        '201':
          description: POST /customers -> 201
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Customer"
        '403':
          description: POST /customers -> 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
        '422':
          description: POST /customers -> 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      description: Create a customer.
      operationId: create_customer
      x-curl-example: |-
        curl -X POST -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/customers.json
      x-idempotent: false
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/customers/check_duplicate":
    get:
      summary: check_duplicate
      tags:
      - customers
      parameters:
      - name: email
        in: query
        required: false
        schema:
          type: string
      - name: first_name
        in: query
        required: false
        schema:
          type: string
      - name: last_name
        in: query
        required: false
        schema:
          type: string
      - name: phone
        in: query
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: GET /customers/check_duplicate -> 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  matches:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        phone:
                          type: string
                        email:
                          type: string
                        url:
                          type: string
                        reasons:
                          type: array
                          items:
                            type: string
                      required:
                      - id
                      - name
                      - phone
                      - email
                      - url
                      - reasons
                required:
                - matches
      description:
      operationId: check_customer_duplicate
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/customers/check_duplicate.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/customers/lookup":
    get:
      summary: lookup
      tags:
      - customers
      parameters:
      - name: id
        in: query
        required: false
        schema:
          type: integer
      - name: query
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: GET /customers/lookup -> 200
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/Customer"
      description:
      operationId: lookup_customer
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/customers/lookup.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/customers/{customer_id}/drivers":
    get:
      summary: index
      tags:
      - customers
      parameters:
      - name: customer_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: GET /customers/{customer_id}/drivers -> 200
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/Driver"
      description: List all customers drivers, paginated via the Link header.
      operationId: list_customers_drivers
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/customers/{customer_id}/drivers.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
    post:
      summary: create
      tags:
      - customers
      parameters:
      - name: customer_id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                driver:
                  type: object
                  properties:
                    full_name:
                      type: string
                    phone:
                      type: string
                  required:
                  - full_name
                  - phone
              required:
              - driver
      responses:
        '201':
          description: POST /customers/{customer_id}/drivers -> 201
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Driver"
        '422':
          description: POST /customers/{customer_id}/drivers -> 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      description: Create a driver.
      operationId: create_driver
      x-curl-example: |-
        curl -X POST -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/customers/{customer_id}/drivers.json
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/customers/{customer_id}/drivers/{id}":
    delete:
      summary: destroy
      tags:
      - customers
      parameters:
      - name: customer_id
        in: path
        required: true
        schema:
          type: integer
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '204':
          description: DELETE /customers/{customer_id}/drivers/{id} -> 204
      description: Delete a driver by ID.
      operationId: delete_driver
      x-curl-example: 'curl -X DELETE -H "User-Agent: wenmar-cli/0.2" -H "Authorization:
        Bearer $WENMAR_TOKEN" https://app.wenmarpro.com/customers/<id>.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
    get:
      summary: show
      tags:
      - customers
      parameters:
      - name: customer_id
        in: path
        required: true
        schema:
          type: integer
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: GET /customers/{customer_id}/drivers/{id} -> 200
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Driver"
      description: Show a driver by ID.
      operationId: show_driver
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/customers/<id>.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
    patch:
      summary: update
      tags:
      - customers
      parameters:
      - name: customer_id
        in: path
        required: true
        schema:
          type: integer
      - name: id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                driver:
                  type: object
                  properties:
                    full_name:
                      type: string
                  required:
                  - full_name
              required:
              - driver
      responses:
        '200':
          description: PATCH /customers/{customer_id}/drivers/{id} -> 200
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Driver"
      description: Update a driver by ID.
      operationId: update_driver
      x-curl-example: |-
        curl -X PATCH -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/customers/<id>.json
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/customers/{customer_id}/statements":
    get:
      summary: index
      tags:
      - customers
      parameters:
      - name: customer_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: GET /customers/{customer_id}/statements -> 200
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/Statement"
      description: List all customers statements, paginated via the Link header.
      operationId: list_customers_statements
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/customers/{customer_id}/statements.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/customers/{customer_id}/vehicles":
    get:
      summary: index
      tags:
      - customers
      parameters:
      - name: customer_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: GET /customers/{customer_id}/vehicles -> 200
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/Vehicle"
      description: List all customers vehicles, paginated via the Link header.
      operationId: list_customers_vehicles
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/customers/{customer_id}/vehicles.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/customers/{customer_id}/vehicles/{vehicle_id}/history":
    get:
      summary: show
      tags:
      - customers
      parameters:
      - name: customer_id
        in: path
        required: true
        schema:
          type: integer
      - name: vehicle_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: GET /customers/{customer_id}/vehicles/{vehicle_id}/history
            -> 200
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Vehicle"
        '404':
          description: GET /customers/{customer_id}/vehicles/{vehicle_id}/history
            -> 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      description:
      operationId: get_customers_vehicle_history
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/customers/{customer_id}/vehicles/{vehicle_id}/history.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/customers/{customer_id}/work_orders":
    get:
      summary: index
      tags:
      - customers
      parameters:
      - name: customer_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: GET /customers/{customer_id}/work_orders -> 200
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/WorkOrder"
      description: List all customers work orders, paginated via the Link header.
      operationId: list_customers_work_orders
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/customers/{customer_id}/work_orders.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/customers/{id}":
    delete:
      summary: destroy
      tags:
      - customers
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '202':
          description: DELETE /customers/{id} -> 202
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Customer"
        '403':
          description: DELETE /customers/{id} -> 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
        '422':
          description: DELETE /customers/{id} -> 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      description: Delete a customer by ID.
      operationId: delete_customer
      x-curl-example: 'curl -X DELETE -H "User-Agent: wenmar-cli/0.2" -H "Authorization:
        Bearer $WENMAR_TOKEN" https://app.wenmarpro.com/customers/<id>.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
    get:
      summary: show
      tags:
      - customers
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: GET /customers/{id} -> 200
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Customer"
        '404':
          description: GET /customers/{id} -> 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      description: Show a customer by ID.
      operationId: show_customer
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/customers/<id>.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
    patch:
      summary: update
      tags:
      - customers
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                customer:
                  type: object
                  properties:
                    phones_attributes:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: integer
                            nullable: true
                          _destroy:
                            type: boolean
                            nullable: true
                          number:
                            type: string
                            nullable: true
                          label:
                            type: string
                            nullable: true
                          primary:
                            type: boolean
                            nullable: true
                    first_name:
                      type: string
                    last_name:
                      type: string
                    company_name:
                      type: string
                    fleet_identifier:
                      type: string
                    billing_terms:
                      type: string
                    credit_limit_cents:
                      type: string
                    tax_exempt:
                      type: boolean
                    notes:
                      type: string
                    marketing_opt_in:
                      type: boolean
                    discount_percent:
                      type: string
                    po_required:
                      type: boolean
                    emails_attributes:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: integer
                            nullable: true
                          email:
                            type: string
                          label:
                            type: string
                            nullable: true
                        required:
                        - email
                    addresses_attributes:
                      type: array
                      items:
                        type: object
                        properties:
                          address1:
                            type: string
                          city:
                            type: string
                          state:
                            type: string
                          postal_code:
                            type: string
                          country:
                            type: string
                          is_billing:
                            type: boolean
                        required:
                        - address1
                        - city
                        - state
                        - postal_code
                        - country
                        - is_billing
              required:
              - customer
      responses:
        '200':
          description: PATCH /customers/{id} -> 200
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Customer"
      description: Update a customer by ID.
      operationId: update_customer
      x-curl-example: |-
        curl -X PATCH -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/customers/<id>.json
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/customers/{id}/merge":
    post:
      summary: perform_merge
      tags:
      - customers
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: POST /customers/{id}/merge -> 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  id:
                    type: integer
                  full_name:
                    type: string
                  company_name:
                    nullable: true
                  first_name:
                    type: string
                  last_name:
                    type: string
                  fleet_identifier:
                    nullable: true
                  marketing_opt_in:
                    type: boolean
                  tax_exempt:
                    type: boolean
                  vehicles_count:
                    type: integer
                  emails_count:
                    type: integer
                  phones_count:
                    type: integer
                  vehicles_url:
                    type: string
                  work_orders_url:
                    type: string
                  created_at:
                    type: string
                  updated_at:
                    type: string
                  url:
                    type: string
                  app_url:
                    type: string
                  location:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      url:
                        type: string
                    required:
                    - id
                    - name
                    - url
                  emails:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        address:
                          type: string
                        label:
                          type: string
                        primary:
                          type: boolean
                      required:
                      - id
                      - address
                      - label
                      - primary
                  phones:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        number:
                          type: string
                        label:
                          type: string
                        primary:
                          type: boolean
                      required:
                      - id
                      - number
                      - label
                      - primary
                  addresses:
                    type: array
                    items: {}
                  outstanding_balance_cents:
                    type: integer
                  total_revenue_cents:
                    type: integer
                  store_credit_cents:
                    type: integer
                  last_visit_at:
                    nullable: true
                  statements_count:
                    type: integer
                  currency:
                    type: string
                required:
                - type
                - id
                - full_name
                - company_name
                - first_name
                - last_name
                - fleet_identifier
                - marketing_opt_in
                - tax_exempt
                - vehicles_count
                - emails_count
                - phones_count
                - vehicles_url
                - work_orders_url
                - created_at
                - updated_at
                - url
                - app_url
                - location
                - emails
                - phones
                - addresses
                - outstanding_balance_cents
                - total_revenue_cents
                - store_credit_cents
                - last_visit_at
                - statements_count
                - currency
        '403':
          description: POST /customers/{id}/merge -> 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
        '422':
          description: POST /customers/{id}/merge -> 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                source_customer_id:
                  type: integer
              required:
              - source_customer_id
      description:
      operationId: merge_customer
      x-curl-example: |-
        curl -X POST -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/customers/<id>.json
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/locations/{id}":
    get:
      summary: show
      tags:
      - locations
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: GET /locations/{id} -> 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  location_type:
                    type: string
                  currency:
                    type: string
                  dock:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        enabled:
                          type: boolean
                        url:
                          type: string
                          nullable: true
                      required:
                      - name
                      - enabled
                      - url
                  url:
                    type: string
                  app_url:
                    type: string
                required:
                - id
                - name
                - location_type
                - currency
                - dock
                - url
                - app_url
        '403':
          description: GET /locations/{id} -> 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      description: Show a location by ID.
      operationId: show_location
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/locations/<id>.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/service_categories":
    get:
      summary: index
      tags:
      - service_categories
      responses:
        '200':
          description: GET /service_categories -> 200
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/ServiceCategory"
      description: List all service categories, paginated via the Link header.
      operationId: list_service_categories
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/service_categories.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
    post:
      summary: create
      tags:
      - service_categories
      responses:
        '201':
          description: POST /service_categories -> 201
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ServiceCategory"
        '403':
          description: POST /service_categories -> 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                service_category:
                  type: object
                  properties:
                    name:
                      type: string
                    service_type:
                      type: string
                    icon:
                      type: string
                  required:
                  - name
                  - service_type
                  - icon
              required:
              - service_category
      description: Create a service category.
      operationId: create_service_category
      x-curl-example: |-
        curl -X POST -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/service_categories.json
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/service_categories/seed_defaults":
    post:
      summary: seed_defaults
      tags:
      - service_categories
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties: {}
      responses:
        '200':
          description: POST /service_categories/seed_defaults -> 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  created:
                    type: integer
                  message:
                    type: string
                required:
                - created
                - message
      description:
      operationId: seed_defaults_service_categories
      x-curl-example: |-
        curl -X POST -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/service_categories/seed_defaults.json
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/service_categories/{id}":
    delete:
      summary: destroy
      tags:
      - service_categories
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: DELETE /service_categories/{id} -> 200
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ServiceCategory"
        '422':
          description: DELETE /service_categories/{id} -> 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      description: Delete a service category by ID.
      operationId: delete_service_category
      x-curl-example: 'curl -X DELETE -H "User-Agent: wenmar-cli/0.2" -H "Authorization:
        Bearer $WENMAR_TOKEN" https://app.wenmarpro.com/service_categories/<id>.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
    patch:
      summary: update
      tags:
      - service_categories
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                service_category:
                  type: object
                  properties:
                    name:
                      type: string
                  required:
                  - name
              required:
              - service_category
      responses:
        '200':
          description: PATCH /service_categories/{id} -> 200
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ServiceCategory"
      description: Update a service category by ID.
      operationId: update_service_category
      x-curl-example: |-
        curl -X PATCH -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/service_categories/<id>.json
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/service_categories/{id}/deactivate":
    patch:
      summary: deactivate
      tags:
      - service_categories
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties: {}
      responses:
        '200':
          description: PATCH /service_categories/{id}/deactivate -> 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  description:
                    nullable: true
                  service_type:
                    type: string
                  icon:
                    nullable: true
                  color:
                    nullable: true
                  active:
                    type: boolean
                  position:
                    type: integer
                  canonical:
                    type: boolean
                  canonical_key:
                    nullable: true
                  job_count:
                    type: integer
                  url:
                    type: string
                  app_url:
                    type: string
                required:
                - id
                - name
                - description
                - service_type
                - icon
                - color
                - active
                - position
                - canonical
                - canonical_key
                - job_count
                - url
                - app_url
      description:
      operationId: deactivate_service_category
      x-curl-example: |-
        curl -X PATCH -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/service_categories/<id>.json
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/service_categories/{id}/move_down":
    patch:
      summary: move_down
      tags:
      - service_categories
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties: {}
      responses:
        '200':
          description: PATCH /service_categories/{id}/move_down -> 200
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
                    description:
                      nullable: true
                    service_type:
                      type: string
                    icon:
                      type: string
                      nullable: true
                    color:
                      type: string
                      nullable: true
                    active:
                      type: boolean
                    position:
                      type: integer
                    canonical:
                      type: boolean
                    canonical_key:
                      type: string
                      nullable: true
                    job_count:
                      type: integer
                    url:
                      type: string
                    app_url:
                      type: string
                  required:
                  - id
                  - name
                  - description
                  - service_type
                  - icon
                  - color
                  - active
                  - position
                  - canonical
                  - canonical_key
                  - job_count
                  - url
                  - app_url
      description:
      operationId: move_down_service_category
      x-curl-example: |-
        curl -X PATCH -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/service_categories/<id>.json
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/service_categories/{id}/move_up":
    patch:
      summary: move_up
      tags:
      - service_categories
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties: {}
      responses:
        '200':
          description: PATCH /service_categories/{id}/move_up -> 200
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
                    description:
                      nullable: true
                    service_type:
                      type: string
                    icon:
                      type: string
                      nullable: true
                    color:
                      type: string
                      nullable: true
                    active:
                      type: boolean
                    position:
                      type: integer
                    canonical:
                      type: boolean
                    canonical_key:
                      type: string
                      nullable: true
                    job_count:
                      type: integer
                    url:
                      type: string
                    app_url:
                      type: string
                  required:
                  - id
                  - name
                  - description
                  - service_type
                  - icon
                  - color
                  - active
                  - position
                  - canonical
                  - canonical_key
                  - job_count
                  - url
                  - app_url
      description:
      operationId: move_up_service_category
      x-curl-example: |-
        curl -X PATCH -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/service_categories/<id>.json
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/service_categories/{id}/reactivate":
    patch:
      summary: reactivate
      tags:
      - service_categories
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties: {}
      responses:
        '200':
          description: PATCH /service_categories/{id}/reactivate -> 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  description:
                    nullable: true
                  service_type:
                    type: string
                  icon:
                    nullable: true
                  color:
                    nullable: true
                  active:
                    type: boolean
                  position:
                    type: integer
                  canonical:
                    type: boolean
                  canonical_key:
                    nullable: true
                  job_count:
                    type: integer
                  url:
                    type: string
                  app_url:
                    type: string
                required:
                - id
                - name
                - description
                - service_type
                - icon
                - color
                - active
                - position
                - canonical
                - canonical_key
                - job_count
                - url
                - app_url
      description:
      operationId: reactivate_service_category
      x-curl-example: |-
        curl -X PATCH -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/service_categories/<id>.json
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/settings/tags":
    get:
      summary: show
      tags:
      - settings
      responses:
        '200':
          description: GET /settings/tags -> 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  customer_tags:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        account_id:
                          type: integer
                        color:
                          type: string
                        created_at:
                          type: string
                        customers_count:
                          type: integer
                        metadata:
                          type: object
                          properties: {}
                        name:
                          type: string
                        updated_at:
                          type: string
                      required:
                      - id
                      - account_id
                      - color
                      - created_at
                      - customers_count
                      - metadata
                      - name
                      - updated_at
                  vehicle_tags:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        account_id:
                          type: integer
                        color:
                          type: string
                        created_at:
                          type: string
                        name:
                          type: string
                        updated_at:
                          type: string
                      required:
                      - id
                      - account_id
                      - color
                      - created_at
                      - name
                      - updated_at
                required:
                - customer_tags
                - vehicle_tags
        '404':
          description: GET /settings/tags -> 404
      description: List all tags, paginated via the Link header.
      operationId: list_tags
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/settings/tags.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
    patch:
      summary: update
      tags:
      - settings
      responses:
        '200':
          description: PATCH /settings/tags -> 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  customer_tags:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        account_id:
                          type: integer
                        color:
                          type: string
                        created_at:
                          type: string
                        customers_count:
                          type: integer
                        metadata:
                          type: object
                          properties: {}
                        name:
                          type: string
                        updated_at:
                          type: string
                      required:
                      - id
                      - account_id
                      - color
                      - created_at
                      - customers_count
                      - metadata
                      - name
                      - updated_at
                  vehicle_tags:
                    type: array
                    items: {}
                required:
                - customer_tags
                - vehicle_tags
        '403':
          description: PATCH /settings/tags -> 403
          content:
            text/html:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                vehicle_tags:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: integer
                      _destroy:
                        type: string
                    required:
                    - id
                    - _destroy
                customer_tags:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      _destroy:
                        type: string
                    required:
                    - id
      description: Update a tags by ID.
      operationId: update_tags
      x-curl-example: |-
        curl -X PATCH -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/settings/tags.json
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/statements/{id}":
    get:
      summary: show
      tags:
      - statements
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: GET /statements/{id} -> 200
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Statement"
        '404':
          description: GET /statements/{id} -> 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      description: Show a statement by ID.
      operationId: show_statement
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/statements/<id>.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/team/members":
    get:
      summary: index
      tags:
      - team
      responses:
        '200':
          description: GET /team/members -> 200
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    full_name:
                      type: string
                    email:
                      nullable: true
                    role:
                      type: string
                    disabled:
                      type: boolean
                    home_location:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        url:
                          type: string
                      required:
                      - id
                      - name
                      - url
                    locations:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: integer
                          name:
                            type: string
                        required:
                        - id
                        - name
                    created_at:
                      type: string
                    updated_at:
                      type: string
                  required:
                  - id
                  - full_name
                  - email
                  - role
                  - disabled
                  - home_location
                  - locations
                  - created_at
                  - updated_at
        '403':
          description: GET /team/members -> 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      description: List all team, paginated via the Link header.
      operationId: list_team
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/team/members.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/vehicle_tags":
    get:
      summary: index
      tags:
      - vehicle_tags
      responses:
        '200':
          description: GET /vehicle_tags -> 200
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
                    color:
                      type: string
                    color_hex:
                      type: string
                    color_class:
                      type: string
                  required:
                  - id
                  - name
                  - color
                  - color_hex
                  - color_class
      description: List all vehicle tags, paginated via the Link header.
      operationId: list_vehicle_tags
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/vehicle_tags.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
    post:
      summary: create
      tags:
      - vehicle_tags
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
              required:
              - name
      responses:
        '201':
          description: POST /vehicle_tags -> 201
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  color:
                    type: string
                  color_hex:
                    type: string
                  color_class:
                    type: string
                required:
                - id
                - name
                - color
                - color_hex
      description: Create a vehicle tag.
      operationId: create_vehicle_tag
      x-curl-example: |-
        curl -X POST -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/vehicle_tags.json
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/vehicle_tags/{id}":
    delete:
      summary: destroy
      tags:
      - vehicle_tags
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: DELETE /vehicle_tags/{id} -> 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  color:
                    type: string
                  color_hex:
                    type: string
                  color_class:
                    type: string
                required:
                - id
                - name
                - color
                - color_hex
                - color_class
      description: Delete a vehicle tag by ID.
      operationId: delete_vehicle_tag
      x-curl-example: 'curl -X DELETE -H "User-Agent: wenmar-cli/0.2" -H "Authorization:
        Bearer $WENMAR_TOKEN" https://app.wenmarpro.com/vehicle_tags/<id>.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
    patch:
      summary: update
      tags:
      - vehicle_tags
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
              required:
              - name
      responses:
        '200':
          description: PATCH /vehicle_tags/{id} -> 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  color:
                    type: string
                  color_hex:
                    type: string
                  color_class:
                    type: string
                required:
                - id
                - name
                - color
                - color_hex
                - color_class
      description: Update a vehicle tag by ID.
      operationId: update_vehicle_tag
      x-curl-example: |-
        curl -X PATCH -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/vehicle_tags/<id>.json
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/vehicles":
    get:
      summary: index
      tags:
      - vehicles
      responses:
        '200':
          description: GET /vehicles -> 200
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/Vehicle"
        '403':
          description: GET /vehicles -> 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      parameters:
      - name: customer_id
        in: query
        required: false
        schema:
          type: integer
      - name: page
        in: query
        required: false
        schema:
          type: integer
      description: List all vehicles, paginated via the Link header.
      operationId: list_vehicles
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/vehicles.json'
      x-paginated: true
      x-pagination-header: Link
      x-pagination-format: rfc5988
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
    post:
      summary: create
      tags:
      - vehicles
      responses:
        '201':
          description: POST /vehicles -> 201
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Vehicle"
        '403':
          description: POST /vehicles -> 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
        '422':
          description: POST /vehicles -> 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                vehicle:
                  type: object
                  properties:
                    make:
                      type: string
                    model:
                      type: string
                    year:
                      type: integer
                    customer_id:
                      type: integer
                    vin:
                      type: string
                    submodel:
                      type: string
                    body_style:
                      type: string
                    engine:
                      type: string
                    transmission:
                      type: string
                    drivetrain:
                      type: string
                    color:
                      type: string
                    license_plate:
                      type: string
                    license_plate_state:
                      type: string
                    odometer_reading:
                      type: integer
                    odometer_unit:
                      type: string
                    unit_number:
                      type: string
                    fleet_identifier:
                      type: string
                    notes:
                      type: string
                    production_date:
                      type: string
                    vehicle_tag_ids:
                      type: array
                      items: {}
                  required:
                  - make
                  - model
                  - year
                  - customer_id
              required:
              - vehicle
      description: Create a vehicle.
      operationId: create_vehicle
      x-curl-example: |-
        curl -X POST -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/vehicles.json
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/vehicles/check_duplicate":
    get:
      summary: check_duplicate
      tags:
      - vehicles
      parameters:
      - name: vin
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: GET /vehicles/check_duplicate -> 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  matches:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        display_name:
                          type: string
                        url:
                          type: string
                        reasons:
                          type: array
                          items:
                            type: string
                      required:
                      - id
                      - display_name
                      - url
                      - reasons
                required:
                - matches
      description:
      operationId: check_vehicle_duplicate
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/vehicles/check_duplicate.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/vehicles/lookup":
    get:
      summary: lookup
      tags:
      - vehicles
      parameters:
      - name: query
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: GET /vehicles/lookup -> 200
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/Vehicle"
      description:
      operationId: lookup_vehicle
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/vehicles/lookup.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/vehicles/prefill":
    get:
      summary: prefill
      tags:
      - vehicles
      parameters:
      - name: make
        in: query
        required: false
        schema:
          type: string
      - name: model
        in: query
        required: false
        schema:
          type: string
      - name: vin
        in: query
        required: false
        schema:
          type: string
      - name: year
        in: query
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: GET /vehicles/prefill -> 200
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Vehicle"
        '404':
          description: GET /vehicles/prefill -> 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      description:
      operationId: prefill_vehicle
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/vehicles/prefill.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/vehicles/vin_decode":
    get:
      summary: vin_decode
      tags:
      - vehicles
      parameters:
      - name: vin
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: GET /vehicles/vin_decode -> 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  make:
                    type: string
                  model:
                    type: string
                  vin:
                    type: string
                required:
                - make
                - model
                - vin
        '404':
          description: GET /vehicles/vin_decode -> 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      description:
      operationId: decode_vin
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/vehicles/vin_decode.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/vehicles/{id}":
    delete:
      summary: destroy
      tags:
      - vehicles
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '202':
          description: DELETE /vehicles/{id} -> 202
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Vehicle"
        '422':
          description: DELETE /vehicles/{id} -> 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      description: Delete a vehicle by ID.
      operationId: delete_vehicle
      x-curl-example: 'curl -X DELETE -H "User-Agent: wenmar-cli/0.2" -H "Authorization:
        Bearer $WENMAR_TOKEN" https://app.wenmarpro.com/vehicles/<id>.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
    get:
      summary: show
      tags:
      - vehicles
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: GET /vehicles/{id} -> 200
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Vehicle"
        '404':
          description: GET /vehicles/{id} -> 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      description: Show a vehicle by ID.
      operationId: show_vehicle
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/vehicles/<id>.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
    patch:
      summary: update
      tags:
      - vehicles
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                vehicle:
                  type: object
                  properties:
                    make:
                      type: string
                    model:
                      type: string
                    year:
                      type: integer
                    vin:
                      type: string
                    submodel:
                      type: string
                    body_style:
                      type: string
                    engine:
                      type: string
                    transmission:
                      type: string
                    drivetrain:
                      type: string
                    color:
                      type: string
                    license_plate:
                      type: string
                    license_plate_state:
                      type: string
                    odometer_reading:
                      type: integer
                    odometer_unit:
                      type: string
                    notes:
                      type: string
                  required:
                  - make
              required:
              - vehicle
      responses:
        '200':
          description: PATCH /vehicles/{id} -> 200
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Vehicle"
      description: Update a vehicle by ID.
      operationId: update_vehicle
      x-curl-example: |-
        curl -X PATCH -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/vehicles/<id>.json
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/vehicles/{id}/merge":
    post:
      summary: perform_merge
      tags:
      - vehicles
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: POST /vehicles/{id}/merge -> 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  id:
                    type: integer
                  make:
                    type: string
                  model:
                    type: string
                  year:
                    type: integer
                  submodel:
                    nullable: true
                  body_style:
                    nullable: true
                  engine:
                    nullable: true
                  vin:
                    type: string
                  license_plate:
                    type: string
                  license_plate_state:
                    type: string
                  license_plate_country:
                    type: string
                  drivetrain:
                    nullable: true
                  transmission:
                    nullable: true
                  color:
                    nullable: true
                  vehicle_type:
                    type: string
                  unit_number:
                    nullable: true
                  fleet_identifier:
                    nullable: true
                  production_date:
                    nullable: true
                  annual_safety_expires_at:
                    nullable: true
                  notes:
                    nullable: true
                  odometer:
                    type: object
                    properties:
                      reading:
                        nullable: true
                      unit:
                        type: string
                    required:
                    - reading
                    - unit
                  work_orders_count:
                    type: integer
                  work_orders_url:
                    type: string
                  customer:
                    type: object
                    properties:
                      id:
                        type: integer
                      full_name:
                        type: string
                      url:
                        type: string
                    required:
                    - id
                    - full_name
                    - url
                  created_at:
                    type: string
                  updated_at:
                    type: string
                  url:
                    type: string
                  app_url:
                    type: string
                  location:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      url:
                        type: string
                    required:
                    - id
                    - name
                    - url
                  last_serviced_at:
                    nullable: true
                  lifetime_revenue_cents:
                    type: integer
                  open_work_orders_count:
                    type: integer
                  appointments_count:
                    type: integer
                required:
                - type
                - id
                - make
                - model
                - year
                - submodel
                - body_style
                - engine
                - vin
                - license_plate
                - license_plate_state
                - license_plate_country
                - drivetrain
                - transmission
                - color
                - vehicle_type
                - unit_number
                - fleet_identifier
                - production_date
                - annual_safety_expires_at
                - notes
                - odometer
                - work_orders_count
                - work_orders_url
                - customer
                - created_at
                - updated_at
                - url
                - app_url
                - location
                - last_serviced_at
                - lifetime_revenue_cents
                - open_work_orders_count
                - appointments_count
        '422':
          description: POST /vehicles/{id}/merge -> 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                source_vehicle_id:
                  type: integer
              required:
              - source_vehicle_id
      description:
      operationId: merge_vehicle
      x-curl-example: |-
        curl -X POST -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/vehicles/<id>.json
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/vehicles/{id}/transfer":
    patch:
      summary: perform_transfer
      tags:
      - vehicles
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: PATCH /vehicles/{id}/transfer -> 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  id:
                    type: integer
                  make:
                    type: string
                  model:
                    type: string
                  year:
                    type: integer
                  submodel:
                    nullable: true
                  body_style:
                    nullable: true
                  engine:
                    nullable: true
                  vin:
                    type: string
                  license_plate:
                    type: string
                  license_plate_state:
                    type: string
                  license_plate_country:
                    type: string
                  drivetrain:
                    nullable: true
                  transmission:
                    nullable: true
                  color:
                    nullable: true
                  vehicle_type:
                    type: string
                  unit_number:
                    nullable: true
                  fleet_identifier:
                    nullable: true
                  production_date:
                    nullable: true
                  annual_safety_expires_at:
                    nullable: true
                  notes:
                    nullable: true
                  odometer:
                    type: object
                    properties:
                      reading:
                        nullable: true
                      unit:
                        type: string
                    required:
                    - reading
                    - unit
                  work_orders_count:
                    type: integer
                  work_orders_url:
                    type: string
                  customer:
                    type: object
                    properties:
                      id:
                        type: integer
                      full_name:
                        type: string
                      url:
                        type: string
                    required:
                    - id
                    - full_name
                    - url
                  created_at:
                    type: string
                  updated_at:
                    type: string
                  url:
                    type: string
                  app_url:
                    type: string
                  location:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      url:
                        type: string
                    required:
                    - id
                    - name
                    - url
                  last_serviced_at:
                    nullable: true
                  lifetime_revenue_cents:
                    type: integer
                  open_work_orders_count:
                    type: integer
                  appointments_count:
                    type: integer
                required:
                - type
                - id
                - make
                - model
                - year
                - submodel
                - body_style
                - engine
                - vin
                - license_plate
                - license_plate_state
                - license_plate_country
                - drivetrain
                - transmission
                - color
                - vehicle_type
                - unit_number
                - fleet_identifier
                - production_date
                - annual_safety_expires_at
                - notes
                - odometer
                - work_orders_count
                - work_orders_url
                - customer
                - created_at
                - updated_at
                - url
                - app_url
                - location
                - last_serviced_at
                - lifetime_revenue_cents
                - open_work_orders_count
                - appointments_count
        '403':
          description: PATCH /vehicles/{id}/transfer -> 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
        '422':
          description: PATCH /vehicles/{id}/transfer -> 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                customer_id:
                  type: integer
                mode:
                  type: string
              required:
              - customer_id
              - mode
      description:
      operationId: transfer_vehicle
      x-curl-example: |-
        curl -X PATCH -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/vehicles/<id>.json
      x-retry:
        max: 3
        backoff: exponential
[...]
