---
openapi: 3.0.0
info:
  title: Wenmar Pro API
  version: 1.0.0
servers:
- url: https://app.wenmarpro.com
paths:
  "/account":
    get:
      summary: show
      tags:
      - account
      responses:
        '200':
          description: GET /account -> 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  slug:
                    type: string
                  locations:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        url:
                          type: string
                        app_url:
                          type: string
                      required:
                      - id
                      - name
                      - url
                      - app_url
                  url:
                    type: string
                  app_url:
                    type: string
                required:
                - id
                - name
                - slug
                - locations
                - url
                - app_url
        '403':
          description: GET /account -> 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      description: List all account, paginated via the Link header.
      operationId: list_account
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/account.json'
      x-retry: &1
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/customers":
    get:
      summary: index
      tags:
      - customers
      responses:
        '200':
          description: GET /customers -> 200
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/Customer"
        '401':
          description: GET /customers -> 401
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      description: List all customers, paginated via the Link header.
      operationId: list_customers
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/customers.json'
      x-paginated: true
      x-pagination-header: Link
      x-pagination-format: rfc5988
      x-retry: *1
    post:
      summary: create
      tags:
      - customers
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                customer:
                  type: object
                  properties:
                    first_name:
                      type: string
                    last_name:
                      type: string
                  required:
                  - first_name
                  - last_name
              required:
              - customer
      responses:
        '201':
          description: POST /customers -> 201
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Customer"
        '403':
          description: POST /customers -> 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
        '422':
          description: POST /customers -> 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      description: Create a customer.
      operationId: create_customer
      x-curl-example: |-
        curl -X POST -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/customers.json
      x-idempotent: false
      x-retry: *1
  "/customers/{customer_id}/vehicles":
    get:
      summary: index
      tags:
      - customers
      parameters:
      - name: customer_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: GET /customers/{customer_id}/vehicles -> 200
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    type:
                      type: string
                    id:
                      type: integer
                    make:
                      type: string
                    model:
                      type: string
                    year:
                      type: integer
                    submodel:
                      nullable: true
                    body_style:
                      nullable: true
                    engine:
                      nullable: true
                    vin:
                      type: string
                    license_plate:
                      type: string
                    license_plate_state:
                      type: string
                    license_plate_country:
                      type: string
                    drivetrain:
                      nullable: true
                    transmission:
                      nullable: true
                    color:
                      nullable: true
                    vehicle_type:
                      type: string
                    unit_number:
                      nullable: true
                    fleet_identifier:
                      nullable: true
                    production_date:
                      nullable: true
                    annual_safety_expires_at:
                      nullable: true
                    notes:
                      nullable: true
                    odometer:
                      type: object
                      properties:
                        reading:
                          nullable: true
                        unit:
                          type: string
                      required:
                      - reading
                      - unit
                    work_orders_count:
                      type: integer
                    work_orders_url:
                      type: string
                    customer:
                      type: object
                      properties:
                        id:
                          type: integer
                        full_name:
                          type: string
                        url:
                          type: string
                      required:
                      - id
                      - full_name
                      - url
                    created_at:
                      type: string
                    updated_at:
                      type: string
                    url:
                      type: string
                    app_url:
                      type: string
                    location:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        url:
                          type: string
                      required:
                      - id
                      - name
                      - url
                  required:
                  - type
                  - id
                  - make
                  - model
                  - year
                  - submodel
                  - body_style
                  - engine
                  - vin
                  - license_plate
                  - license_plate_state
                  - license_plate_country
                  - drivetrain
                  - transmission
                  - color
                  - vehicle_type
                  - unit_number
                  - fleet_identifier
                  - production_date
                  - annual_safety_expires_at
                  - notes
                  - odometer
                  - work_orders_count
                  - work_orders_url
                  - customer
                  - created_at
                  - updated_at
                  - url
                  - app_url
                  - location
      description:
      operationId: get_customers_vehicle
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/customers/{customer_id}/vehicles.json'
      x-retry: *1
  "/customers/{customer_id}/vehicles/{vehicle_id}/history":
    get:
      summary: show
      tags:
      - customers
      parameters:
      - name: customer_id
        in: path
        required: true
        schema:
          type: integer
      - name: vehicle_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: GET /customers/{customer_id}/vehicles/{vehicle_id}/history
            -> 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_work_orders:
                    type: integer
                  work_orders:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                        id:
                          type: integer
                        work_order_number:
                          type: integer
                        status:
                          type: string
                        intake_method:
                          type: string
                        scheduled_for:
                          nullable: true
                        authorized:
                          type: boolean
                        paid:
                          type: boolean
                        created_at:
                          type: string
                        updated_at:
                          type: string
                        closed_at:
                          nullable: true
                        location_id:
                          type: integer
                        service_advisor_id:
                          nullable: true
                        assigned_technician_id:
                          nullable: true
                        work_order_services_count:
                          type: integer
                        inspection_reports_count:
                          type: integer
                        customer:
                          type: object
                          properties:
                            id:
                              type: integer
                            full_name:
                              type: string
                            url:
                              type: string
                          required:
                          - id
                          - full_name
                          - url
                        vehicle:
                          type: object
                          properties:
                            id:
                              type: integer
                            make:
                              type: string
                            model:
                              type: string
                            year:
                              type: integer
                            vin:
                              type: string
                            url:
                              type: string
                          required:
                          - id
                          - make
                          - model
                          - year
                          - vin
                          - url
                        totals:
                          type: object
                          properties:
                            subtotal_cents:
                              type: integer
                            tax_cents:
                              type: integer
                            total_cents:
                              type: integer
                            paid_cents:
                              type: integer
                            remaining_cents:
                              type: integer
                            currency:
                              type: string
                          required:
                          - subtotal_cents
                          - tax_cents
                          - total_cents
                          - paid_cents
                          - remaining_cents
                          - currency
                        url:
                          type: string
                        app_url:
                          type: string
                        location:
                          type: object
                          properties:
                            id:
                              type: integer
                            name:
                              type: string
                            url:
                              type: string
                          required:
                          - id
                          - name
                          - url
                      required:
                      - type
                      - id
                      - work_order_number
                      - status
                      - intake_method
                      - scheduled_for
                      - authorized
                      - paid
                      - created_at
                      - updated_at
                      - closed_at
                      - location_id
                      - service_advisor_id
                      - assigned_technician_id
                      - work_order_services_count
                      - inspection_reports_count
                      - customer
                      - vehicle
                      - totals
                      - url
                      - app_url
                      - location
                required:
                - total_work_orders
                - work_orders
        '404':
          description: GET /customers/{customer_id}/vehicles/{vehicle_id}/history
            -> 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      description:
      operationId: get_customers_vehicle_history
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/customers/{customer_id}/vehicles/{vehicle_id}/history.json'
      x-retry: *1
  "/customers/{customer_id}/work_orders":
    get:
      summary: index
      tags:
      - customers
      parameters:
      - name: customer_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: GET /customers/{customer_id}/work_orders -> 200
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    type:
                      type: string
                    id:
                      type: integer
                    work_order_number:
                      type: integer
                    status:
                      type: string
                    intake_method:
                      type: string
                    scheduled_for:
                      nullable: true
                    authorized:
                      type: boolean
                    paid:
                      type: boolean
                    created_at:
                      type: string
                    updated_at:
                      type: string
                    closed_at:
                      nullable: true
                    location_id:
                      type: integer
                    service_advisor_id:
                      nullable: true
                    assigned_technician_id:
                      nullable: true
                    work_order_services_count:
                      type: integer
                    inspection_reports_count:
                      type: integer
                    customer:
                      type: object
                      properties:
                        id:
                          type: integer
                        full_name:
                          type: string
                        url:
                          type: string
                      required:
                      - id
                      - full_name
                      - url
                    vehicle:
                      type: object
                      properties:
                        id:
                          type: integer
                        make:
                          type: string
                        model:
                          type: string
                        year:
                          type: integer
                        vin:
                          type: string
                        url:
                          type: string
                      required:
                      - id
                      - make
                      - model
                      - year
                      - vin
                      - url
                    totals:
                      type: object
                      properties:
                        subtotal_cents:
                          type: integer
                        tax_cents:
                          type: integer
                        total_cents:
                          type: integer
                        paid_cents:
                          type: integer
                        remaining_cents:
                          type: integer
                        currency:
                          type: string
                      required:
                      - subtotal_cents
                      - tax_cents
                      - total_cents
                      - paid_cents
                      - remaining_cents
                      - currency
                    url:
                      type: string
                    app_url:
                      type: string
                    location:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        url:
                          type: string
                      required:
                      - id
                      - name
                      - url
                  required:
                  - type
                  - id
                  - work_order_number
                  - status
                  - intake_method
                  - scheduled_for
                  - authorized
                  - paid
                  - created_at
                  - updated_at
                  - closed_at
                  - location_id
                  - service_advisor_id
                  - assigned_technician_id
                  - work_order_services_count
                  - inspection_reports_count
                  - customer
                  - vehicle
                  - totals
                  - url
                  - app_url
                  - location
      description:
      operationId: get_customers_work_order
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/customers/{customer_id}/work_orders.json'
      x-retry: *1
  "/customers/{id}":
    delete:
      summary: destroy
      tags:
      - customers
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '202':
          description: DELETE /customers/{id} -> 202
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Customer"
        '403':
          description: DELETE /customers/{id} -> 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
        '422':
          description: DELETE /customers/{id} -> 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      description: Delete a customer by ID.
      operationId: delete_customer
      x-curl-example: 'curl -X DELETE -H "User-Agent: wenmar-cli/0.2" -H "Authorization:
        Bearer $WENMAR_TOKEN" https://app.wenmarpro.com/customers/<id>.json'
      x-retry: *1
    get:
      summary: show
      tags:
      - customers
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: GET /customers/{id} -> 200
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Customer"
        '404':
          description: GET /customers/{id} -> 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      description: Show a customer by ID.
      operationId: show_customer
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/customers/<id>.json'
      x-retry: *1
    patch:
      summary: update
      tags:
      - customers
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                customer:
                  type: object
                  properties:
                    phones_attributes:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: integer
                          _destroy:
                            type: boolean
                        required:
                        - id
                        - _destroy
                    emails_attributes:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: integer
                            nullable: true
                          email:
                            type: string
                          label:
                            type: string
                            nullable: true
                        required:
                        - email
              required:
              - customer
      responses:
        '200':
          description: PATCH /customers/{id} -> 200
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Customer"
      description: Update a customer by ID.
      operationId: update_customer
      x-curl-example: |-
        curl -X PATCH -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/customers/<id>.json
      x-retry: *1
  "/locations/{id}":
    get:
      summary: show
      tags:
      - locations
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: GET /locations/{id} -> 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  location_type:
                    type: string
                  currency:
                    type: string
                  dock:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        enabled:
                          type: boolean
                        url:
                          type: string
                          nullable: true
                      required:
                      - name
                      - enabled
                      - url
                  url:
                    type: string
                  app_url:
                    type: string
                required:
                - id
                - name
                - location_type
                - currency
                - dock
                - url
                - app_url
        '403':
          description: GET /locations/{id} -> 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      description: Show a location by ID.
      operationId: show_location
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/locations/<id>.json'
      x-retry: *1
  "/team/members":
    get:
      summary: index
      tags:
      - team
      responses:
        '200':
          description: GET /team/members -> 200
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    full_name:
                      type: string
                    email:
                      nullable: true
                    role:
                      type: string
                    disabled:
                      type: boolean
                    home_location:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        url:
                          type: string
                      required:
                      - id
                      - name
                      - url
                    locations:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: integer
                          name:
                            type: string
                        required:
                        - id
                        - name
                    created_at:
                      type: string
                    updated_at:
                      type: string
                  required:
                  - id
                  - full_name
                  - email
                  - role
                  - disabled
                  - home_location
                  - locations
                  - created_at
                  - updated_at
        '403':
          description: GET /team/members -> 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      description: List all team, paginated via the Link header.
      operationId: list_team
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/team/members.json'
      x-retry: *1
  "/vehicles":
    get:
      summary: index
      tags:
      - vehicles
      responses:
        '200':
          description: GET /vehicles -> 200
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/Vehicle"
        '403':
          description: GET /vehicles -> 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      parameters:
      - name: customer_id
        in: query
        required: false
        schema:
          type: integer
      - name: page
        in: query
        required: false
        schema:
          type: integer
      description: List all vehicles, paginated via the Link header.
      operationId: list_vehicles
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/vehicles.json'
      x-paginated: true
      x-pagination-header: Link
      x-pagination-format: rfc5988
      x-retry: *1
    post:
      summary: create
      tags:
      - vehicles
      responses:
        '201':
          description: POST /vehicles -> 201
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Vehicle"
        '403':
          description: POST /vehicles -> 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
        '422':
          description: POST /vehicles -> 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                vehicle:
                  type: object
                  properties:
                    make:
                      type: string
                    model:
                      type: string
                    year:
                      type: integer
                    customer_id:
                      type: integer
                  required:
                  - make
                  - model
                  - year
                  - customer_id
              required:
              - vehicle
      description: Create a vehicle.
      operationId: create_vehicle
      x-curl-example: |-
        curl -X POST -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/vehicles.json
      x-retry: *1
  "/vehicles/check_duplicate":
    get:
      summary: check_duplicate
      tags:
      - vehicles
      parameters:
      - name: vin
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: GET /vehicles/check_duplicate -> 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  matches:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        display_name:
                          type: string
                        url:
                          type: string
                        reasons:
                          type: array
                          items:
                            type: string
                      required:
                      - id
                      - display_name
                      - url
                      - reasons
                required:
                - matches
      description:
      operationId: check_duplicate
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/vehicles/check_duplicate.json'
      x-retry: *1
  "/vehicles/vin_decode":
    get:
      summary: vin_decode
      tags:
      - vehicles
      parameters:
      - name: vin
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: GET /vehicles/vin_decode -> 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  make:
                    type: string
                  model:
                    type: string
                  vin:
                    type: string
                required:
                - make
                - model
                - vin
        '404':
          description: GET /vehicles/vin_decode -> 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      description:
      operationId: decode_vin
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/vehicles/vin_decode.json'
      x-retry: *1
  "/vehicles/{id}":
    delete:
      summary: destroy
      tags:
      - vehicles
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '202':
          description: DELETE /vehicles/{id} -> 202
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Vehicle"
        '422':
          description: DELETE /vehicles/{id} -> 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      description: Delete a vehicle by ID.
      operationId: delete_vehicle
      x-curl-example: 'curl -X DELETE -H "User-Agent: wenmar-cli/0.2" -H "Authorization:
        Bearer $WENMAR_TOKEN" https://app.wenmarpro.com/vehicles/<id>.json'
      x-retry: *1
    get:
      summary: show
      tags:
      - vehicles
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: GET /vehicles/{id} -> 200
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Vehicle"
        '404':
          description: GET /vehicles/{id} -> 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      description: Show a vehicle by ID.
      operationId: show_vehicle
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/vehicles/<id>.json'
      x-retry: *1
    patch:
      summary: update
      tags:
      - vehicles
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                vehicle:
                  type: object
                  properties:
                    make:
                      type: string
                  required:
                  - make
              required:
              - vehicle
      responses:
        '200':
          description: PATCH /vehicles/{id} -> 200
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Vehicle"
      description: Update a vehicle by ID.
      operationId: update_vehicle
      x-curl-example: |-
        curl -X PATCH -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/vehicles/<id>.json
      x-retry: *1
  "/vehicles/{vehicle_id}/work_orders":
    get:
      summary: index
      tags:
      - vehicles
      parameters:
      - name: vehicle_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: GET /vehicles/{vehicle_id}/work_orders -> 200
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    type:
                      type: string
                    id:
                      type: integer
                    work_order_number:
                      type: integer
                    status:
                      type: string
                    intake_method:
                      type: string
                    scheduled_for:
                      nullable: true
                    authorized:
                      type: boolean
                    paid:
                      type: boolean
                    created_at:
                      type: string
                    updated_at:
                      type: string
                    closed_at:
                      nullable: true
                    location_id:
                      type: integer
                    service_advisor_id:
                      nullable: true
                    assigned_technician_id:
                      nullable: true
                    work_order_services_count:
                      type: integer
                    inspection_reports_count:
                      type: integer
                    customer:
                      type: object
                      properties:
                        id:
                          type: integer
                        full_name:
                          type: string
                        url:
                          type: string
                      required:
                      - id
                      - full_name
                      - url
                    vehicle:
                      type: object
                      properties:
                        id:
                          type: integer
                        make:
                          type: string
                        model:
                          type: string
                        year:
                          type: integer
                        vin:
                          type: string
                        url:
                          type: string
                      required:
                      - id
                      - make
                      - model
                      - year
                      - vin
                      - url
                    totals:
                      type: object
                      properties:
                        subtotal_cents:
                          type: integer
                        tax_cents:
                          type: integer
                        total_cents:
                          type: integer
                        paid_cents:
                          type: integer
                        remaining_cents:
                          type: integer
                        currency:
                          type: string
                      required:
                      - subtotal_cents
                      - tax_cents
                      - total_cents
                      - paid_cents
                      - remaining_cents
                      - currency
                    url:
                      type: string
                    app_url:
                      type: string
                    location:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        url:
                          type: string
                      required:
                      - id
                      - name
                      - url
                  required:
                  - type
                  - id
                  - work_order_number
                  - status
                  - intake_method
                  - scheduled_for
                  - authorized
                  - paid
                  - created_at
                  - updated_at
                  - closed_at
                  - location_id
                  - service_advisor_id
                  - assigned_technician_id
                  - work_order_services_count
                  - inspection_reports_count
                  - customer
                  - vehicle
                  - totals
                  - url
                  - app_url
                  - location
      description:
      operationId: get_vehicles_work_order
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/vehicles/{vehicle_id}/work_orders.json'
      x-retry: *1
  "/work_orders":
    get:
      summary: index
      tags:
      - work_orders
      responses:
        '200':
          description: GET /work_orders -> 200
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/WorkOrder"
      description: List all work orders, paginated via the Link header.
      operationId: list_work_orders
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/work_orders.json'
      x-paginated: true
      x-pagination-header: Link
      x-pagination-format: rfc5988
      x-retry: *1
    post:
      summary: create
      tags:
      - work_orders
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                work_order:
                  type: object
                  properties:
                    customer_id:
                      type: integer
                    vehicle_id:
                      type: integer
                  required:
                  - customer_id
                  - vehicle_id
              required:
              - work_order
      responses:
        '201':
          description: POST /work_orders -> 201
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/WorkOrder"
      description: Create a work order.
      operationId: create_work_order
      x-curl-example: |-
        curl -X POST -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/work_orders.json
      x-retry: *1
  "/work_orders/{id}":
    delete:
      summary: destroy
      tags:
      - work_orders
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '204':
          description: DELETE /work_orders/{id} -> 204
      description: Delete a work order by ID.
      operationId: delete_work_order
      x-curl-example: 'curl -X DELETE -H "User-Agent: wenmar-cli/0.2" -H "Authorization:
        Bearer $WENMAR_TOKEN" https://app.wenmarpro.com/work_orders/<id>.json'
      x-retry: *1
    get:
      summary: show
      tags:
      - work_orders
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: GET /work_orders/{id} -> 200
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/WorkOrder"
      description: Show a work order by ID.
      operationId: show_work_order
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/work_orders/<id>.json'
      x-retry: *1
    patch:
      summary: update
      tags:
      - work_orders
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                work_order:
                  type: object
                  properties:
                    intake_method:
                      type: string
                  required:
                  - intake_method
              required:
              - work_order
      responses:
        '200':
          description: PATCH /work_orders/{id} -> 200
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/WorkOrder"
      description: Update a work order by ID.
      operationId: update_work_order
      x-curl-example: |-
        curl -X PATCH -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/work_orders/<id>.json
      x-retry: *1
  "/work_orders/{work_order_id}/payments":
    post:
      summary: create
      tags:
      - work_orders
      parameters:
      - name: work_order_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '201':
          description: POST /work_orders/{work_order_id}/payments -> 201
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  amount_cents:
                    type: integer
                  method:
                    type: string
                  processor_status:
                    nullable: true
                  is_refund:
                    type: boolean
                  processed_at:
                    type: string
                  reference:
                    nullable: true
                  created_at:
                    type: string
                  updated_at:
                    type: string
                  work_order_id:
                    type: integer
                  customer_id:
                    type: integer
                  processed_by:
                    type: object
                    properties:
                      id:
                        type: integer
                      full_name:
                        type: string
                    required:
                    - id
                    - full_name
                required:
                - id
                - amount_cents
                - method
                - processor_status
                - is_refund
                - processed_at
                - reference
                - created_at
                - updated_at
                - work_order_id
                - customer_id
                - processed_by
        '403':
          description: POST /work_orders/{work_order_id}/payments -> 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
        '422':
          description: POST /work_orders/{work_order_id}/payments -> 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payment:
                  type: object
                  properties:
                    method:
                      type: string
                    amount_cents:
                      type: string
                  required:
                  - method
                  - amount_cents
              required:
              - payment
      description:
      operationId: post_work_orders_payment
      x-curl-example: |-
        curl -X POST -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/work_orders/{work_order_id}/payments.json
      x-retry: *1
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: token
  schemas:
    Customer:
      type: object
      properties:
        type:
          type: string
        id:
          type: integer
          example: 7
        full_name:
          type: string
          example: Jane Doe
        company_name:
          nullable: true
          example: Acme Auto
        first_name:
          type: string
        last_name:
          type: string
        fleet_identifier:
          nullable: true
        marketing_opt_in:
          type: boolean
        tax_exempt:
          type: boolean
        vehicles_count:
          type: integer
        emails_count:
          type: integer
        phones_count:
          type: integer
        vehicles_url:
          type: string
        work_orders_url:
          type: string
        created_at:
          type: string
        updated_at:
          type: string
        url:
          type: string
        app_url:
          type: string
        location:
          type: object
          properties:
            id:
              type: integer
            name:
              type: string
            url:
              type: string
          required:
          - id
          - name
          - url
        emails:
          type: array
          items: {}
          example:
          - id: 42
            address: jane@acmeauto.com
            label: work
            primary: true
        phones:
          type: array
          items: {}
        addresses:
          type: array
          items: {}
        outstanding_balance_cents:
          type: integer
        total_revenue_cents:
          type: integer
        store_credit_cents:
          type: integer
        last_visit_at:
          nullable: true
        statements_count:
          type: integer
        currency:
          type: string
      required:
      - type
      - id
      - full_name
      - company_name
      - first_name
      - last_name
      - fleet_identifier
      - marketing_opt_in
      - tax_exempt
      - vehicles_count
      - emails_count
      - phones_count
      - vehicles_url
      - work_orders_url
      - created_at
      - updated_at
      - url
      - app_url
      - location
      - emails
      - phones
      - addresses
      - outstanding_balance_cents
      - total_revenue_cents
      - store_credit_cents
      - last_visit_at
      - statements_count
      - currency
    Vehicle:
      type: object
      properties:
        type:
          type: string
        id:
          type: integer
          example: 13
        make:
          type: string
          example: Honda
        model:
          type: string
          example: Civic
        year:
          type: integer
          example: 2020
        submodel:
          nullable: true
        body_style:
          nullable: true
        engine:
          nullable: true
        vin:
          nullable: true
          example: 1HGCN2345ABC
        license_plate:
          nullable: true
        license_plate_state:
          nullable: true
        license_plate_country:
          type: string
        drivetrain:
          nullable: true
        transmission:
          nullable: true
        color:
          nullable: true
        vehicle_type:
          type: string
        unit_number:
          nullable: true
        fleet_identifier:
          nullable: true
        production_date:
          nullable: true
        annual_safety_expires_at:
          nullable: true
        notes:
          nullable: true
        odometer:
          type: object
          properties:
            reading:
              nullable: true
              example: 182340
            unit:
              type: string
              example: km
          required:
          - reading
          - unit
        work_orders_count:
          type: integer
        work_orders_url:
          type: string
        customer:
          type: object
          properties:
            id:
              type: integer
            full_name:
              type: string
            url:
              type: string
          required:
          - id
          - full_name
          - url
        created_at:
          type: string
        updated_at:
          type: string
        url:
          type: string
        app_url:
          type: string
        location:
          type: object
          properties:
            id:
              type: integer
            name:
              type: string
            url:
              type: string
          required:
          - id
          - name
          - url
        last_serviced_at:
          nullable: true
        lifetime_revenue_cents:
          type: integer
        open_work_orders_count:
          type: integer
        appointments_count:
          type: integer
      required:
      - type
      - id
      - make
      - model
      - year
      - submodel
      - body_style
      - engine
      - vin
      - license_plate
      - license_plate_state
      - license_plate_country
      - drivetrain
      - transmission
      - color
      - vehicle_type
      - unit_number
      - fleet_identifier
      - production_date
      - annual_safety_expires_at
      - notes
      - odometer
      - work_orders_count
      - work_orders_url
      - customer
      - created_at
      - updated_at
      - url
      - app_url
      - location
      - last_serviced_at
      - lifetime_revenue_cents
      - open_work_orders_count
      - appointments_count
    WorkOrder:
      type: object
      properties:
        type:
          type: string
        id:
          type: integer
          example: 42
        work_order_number:
          type: integer
          example: WO-0042
        status:
          type: string
          example: in_progress
        intake_method:
          type: string
        scheduled_for:
          nullable: true
        authorized:
          type: boolean
        paid:
          type: boolean
        created_at:
          type: string
        updated_at:
          type: string
        closed_at:
          nullable: true
        location_id:
          type: integer
        service_advisor_id:
          type: integer
        assigned_technician_id:
          nullable: true
        work_order_services_count:
          type: integer
        inspection_reports_count:
          type: integer
        customer:
          type: object
          properties:
            id:
              type: integer
            full_name:
              type: string
            url:
              type: string
          required:
          - id
          - full_name
          - url
        vehicle:
          type: object
          properties:
            id:
              type: integer
            make:
              type: string
            model:
              type: string
            year:
              type: integer
            vin:
              type: string
            url:
              type: string
          required:
          - id
          - make
          - model
          - year
          - vin
          - url
        totals:
          type: object
          properties:
            subtotal_cents:
              type: integer
              example: 12000
            tax_cents:
              type: integer
            total_cents:
              type: integer
            paid_cents:
              type: integer
            remaining_cents:
              type: integer
            currency:
              type: string
              example: CAD
          required:
          - subtotal_cents
          - tax_cents
          - total_cents
          - paid_cents
          - remaining_cents
          - currency
        url:
          type: string
        app_url:
          type: string
        location:
          type: object
          properties:
            id:
              type: integer
            name:
              type: string
            url:
              type: string
          required:
          - id
          - name
          - url
        odometer_in:
          nullable: true
        odometer_out:
          nullable: true
        odometer_unit:
          type: string
        authorized_at:
          nullable: true
        authorized_total_cents:
          type: integer
        customer_notified:
          type: boolean
        customer_notified_ready:
          type: boolean
        vehicle_arrived_at:
          type: string
        ready_for_pickup_at:
          nullable: true
        completed_at:
          nullable: true
        declined_at:
          nullable: true
        decline_reason:
          nullable: true
        discount_cents:
          type: integer
        fees_cents:
          type: integer
        parts_cents:
          type: integer
        labor_cents:
          type: integer
        tires_cents:
          type: integer
        subcontracts_cents:
          type: integer
        credit_balance_cents:
          type: integer
        saved_for_later:
          type: boolean
        closure_reason:
          nullable: true
        closure_reason_notes:
          nullable: true
        notes:
          nullable: true
        purchase_order_number:
          nullable: true
        return_method:
          type: string
        return_method_notes:
          nullable: true
        vehicle_keys_location:
          type: string
        vehicle_location:
          type: string
        services:
          type: array
          items: {}
        payments:
          type: array
          items: {}
      required:
      - type
      - id
      - work_order_number
      - status
      - intake_method
      - scheduled_for
      - authorized
      - paid
      - created_at
      - updated_at
      - closed_at
      - location_id
      - service_advisor_id
      - assigned_technician_id
      - work_order_services_count
      - inspection_reports_count
      - customer
      - vehicle
      - totals
      - url
      - app_url
      - location
      - odometer_in
      - odometer_out
      - odometer_unit
      - authorized_at
      - authorized_total_cents
      - customer_notified
      - customer_notified_ready
      - vehicle_arrived_at
      - ready_for_pickup_at
      - completed_at
      - declined_at
      - decline_reason
      - discount_cents
      - fees_cents
      - parts_cents
      - labor_cents
      - tires_cents
      - subcontracts_cents
      - credit_balance_cents
      - saved_for_later
      - closure_reason
      - closure_reason_notes
      - notes
      - purchase_order_number
      - return_method
      - return_method_notes
      - vehicle_keys_location
      - vehicle_location
      - services
      - payments
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        details:
          type: object
          properties: {}
      required:
      - code
      - message
      - details
