---
openapi: 3.0.0
info:
  title: Wenmar Pro API
  version: 1.0.0
servers:
- url: https://app.wenmarpro.com
paths:
  "/account":
    get:
      summary: show
      tags:
      - account
      responses:
        '200':
          description: GET /account -> 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  slug:
                    type: string
                  locations:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        url:
                          type: string
                        app_url:
                          type: string
                      required:
                      - id
                      - name
                      - url
                      - app_url
                  url:
                    type: string
                  app_url:
                    type: string
                required:
                - id
                - name
                - slug
                - locations
                - url
                - app_url
        '403':
          description: GET /account -> 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      description: List all account, paginated via the Link header.
      operationId: list_account
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/account.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/ai_suggestions/{id}":
    patch:
      summary: update
      tags:
      - ai_suggestions
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: PATCH /ai_suggestions/{id} -> 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  status:
                    type: string
                required:
                - id
                - status
        '403':
          description: PATCH /ai_suggestions/{id} -> 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
        '422':
          description: PATCH /ai_suggestions/{id} -> 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/UpdateAiSuggestionRequest"
      description: Update a ai suggestion by ID.
      operationId: update_ai_suggestion
      x-curl-example: |-
        curl -X PATCH -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/ai_suggestions/<id>.json
      x-wenmar-request-schema: UpdateAiSuggestionRequest
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/appointments/available_slots":
    get:
      summary: available_slots
      tags:
      - appointments
      parameters:
      - name: date
        in: query
        required: false
        schema:
          type: string
      - name: duration_minutes
        in: query
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: GET /appointments/available_slots -> 200
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    time:
                      type: string
                    booked:
                      type: integer
                    capacity:
                      type: integer
                    available:
                      type: boolean
                    blocked:
                      type: boolean
                    slots_needed:
                      type: integer
                  required:
                  - time
                  - booked
                  - capacity
                  - available
                  - blocked
                  - slots_needed
          headers:
            Link:
              schema:
                type: string
              description: RFC 5988 pagination links
            X-Total-Count:
              schema:
                type: integer
              description: Total matching records
            X-Per-Page:
              schema:
                type: integer
              description: Records per page
        '403':
          description: GET /appointments/available_slots -> 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      description: List all appointments available slots, paginated via the Link header.
      operationId: list_appointments_available_slots
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/appointments/available_slots.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/cash_drawer_banner":
    patch:
      summary: update
      tags:
      - cash_drawer_banner
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/UpdateCashDrawerBannerRequest"
      responses:
        '204':
          description: PATCH /cash_drawer_banner -> 204
      description: Update a cash drawer banner by ID.
      operationId: update_cash_drawer_banner
      x-curl-example: |-
        curl -X PATCH -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/cash_drawer_banner.json
      x-wenmar-request-schema: UpdateCashDrawerBannerRequest
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/catalog_cleanups/{catalog_cleanup_id}/applications":
    post:
      summary: create
      tags:
      - catalog_cleanups
      parameters:
      - name: catalog_cleanup_id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateCatalogCleanupsApplicationRequest"
      responses:
        '200':
          description: POST /catalog_cleanups/{catalog_cleanup_id}/applications ->
            200
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  applied_count:
                    type: integer
                required:
                - status
                - applied_count
        '403':
          description: POST /catalog_cleanups/{catalog_cleanup_id}/applications ->
            403
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      description: Create a catalog cleanups application.
      operationId: create_catalog_cleanups_application
      x-curl-example: |-
        curl -X POST -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/catalog_cleanups/{catalog_cleanup_id}/applications.json
      x-wenmar-request-schema: CreateCatalogCleanupsApplicationRequest
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/conversations":
    get:
      summary: index
      tags:
      - conversations
      responses:
        '200':
          description: GET /conversations -> 200
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    status:
                      type: string
                    reply_state:
                      type: string
                    channel:
                      type: string
                    customer:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        url:
                          type: string
                      required:
                      - id
                      - name
                      - url
                    unread_count:
                      type: integer
                    messages_url:
                      type: string
                    created_at:
                      type: string
                    updated_at:
                      type: string
                    url:
                      type: string
                    app_url:
                      type: string
                  required:
                  - id
                  - status
                  - reply_state
                  - channel
                  - customer
                  - unread_count
                  - messages_url
                  - created_at
                  - updated_at
                  - url
                  - app_url
          headers:
            Link:
              schema:
                type: string
              description: RFC 5988 pagination links
            X-Total-Count:
              schema:
                type: integer
              description: Total matching records
            X-Per-Page:
              schema:
                type: integer
              description: Records per page
        '302':
          description: GET /conversations -> 302
          content:
            text/html:
              schema:
                type: string
      description: List all conversations, paginated via the Link header.
      operationId: list_conversations
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/conversations.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/conversations/bulk_mark_read":
    post:
      summary: bulk_mark_read
      tags:
      - conversations
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateConversationsBulkMarkReadRequest"
      responses:
        '200':
          description: POST /conversations/bulk_mark_read -> 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  affected:
                    type: integer
                required:
                - ok
                - affected
      description: Create a conversations bulk mark read.
      operationId: create_conversations_bulk_mark_read
      x-curl-example: |-
        curl -X POST -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/conversations/bulk_mark_read.json
      x-wenmar-request-schema: CreateConversationsBulkMarkReadRequest
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/conversations/{conversation_id}/customer_links":
    post:
      summary: create
      tags:
      - conversations
      parameters:
      - name: conversation_id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateConversationsCustomerLinkRequest"
      responses:
        '200':
          description: POST /conversations/{conversation_id}/customer_links -> 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  status:
                    type: string
                  reply_state:
                    type: string
                  channel:
                    type: string
                  customer:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      url:
                        type: string
                    required:
                    - id
                    - name
                    - url
                  unread_count:
                    type: integer
                  messages_url:
                    type: string
                  created_at:
                    type: string
                  updated_at:
                    type: string
                  url:
                    type: string
                  app_url:
                    type: string
                required:
                - id
                - status
                - reply_state
                - channel
                - customer
                - unread_count
                - messages_url
                - created_at
                - updated_at
                - url
                - app_url
      description: Create a conversations customer link.
      operationId: create_conversations_customer_link
      x-curl-example: |-
        curl -X POST -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/conversations/{conversation_id}/customer_links.json
      x-wenmar-request-schema: CreateConversationsCustomerLinkRequest
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/conversations/{conversation_id}/ignores":
    post:
      summary: create
      tags:
      - conversations
      parameters:
      - name: conversation_id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateConversationsIgnoreRequest"
      responses:
        '200':
          description: POST /conversations/{conversation_id}/ignores -> 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  status:
                    type: string
                  reply_state:
                    type: string
                  channel:
                    type: string
                  customer:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      url:
                        type: string
                    required:
                    - id
                    - name
                    - url
                  unread_count:
                    type: integer
                  messages_url:
                    type: string
                  created_at:
                    type: string
                  updated_at:
                    type: string
                  url:
                    type: string
                  app_url:
                    type: string
                required:
                - id
                - status
                - reply_state
                - channel
                - customer
                - unread_count
                - messages_url
                - created_at
                - updated_at
                - url
                - app_url
      description: Create a conversations ignore.
      operationId: create_conversations_ignore
      x-curl-example: |-
        curl -X POST -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/conversations/{conversation_id}/ignores.json
      x-wenmar-request-schema: CreateConversationsIgnoreRequest
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/conversations/{conversation_id}/messages":
    get:
      summary: index
      tags:
      - conversations
      parameters:
      - name: conversation_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: GET /conversations/{conversation_id}/messages -> 200
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    conversation_id:
                      type: integer
                    direction:
                      type: string
                    channel:
                      type: string
                    status:
                      type: string
                    body:
                      type: string
                    work_order_id:
                      nullable: true
                      type: integer
                    statement_id:
                      nullable: true
                      type: integer
                    appointment_id:
                      nullable: true
                      type: integer
                    read_at:
                      nullable: true
                      type: string
                    created_at:
                      type: string
                  required:
                  - id
                  - conversation_id
                  - direction
                  - channel
                  - status
                  - body
                  - work_order_id
                  - statement_id
                  - appointment_id
                  - read_at
                  - created_at
          headers:
            Link:
              schema:
                type: string
              description: RFC 5988 pagination links
            X-Total-Count:
              schema:
                type: integer
              description: Total matching records
            X-Per-Page:
              schema:
                type: integer
              description: Records per page
      description: List all conversations messages, paginated via the Link header.
      operationId: list_conversations_messages
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/conversations/{conversation_id}/messages.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
    post:
      summary: create
      tags:
      - conversations
      parameters:
      - name: conversation_id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateConversationsMessageRequest"
      responses:
        '201':
          description: POST /conversations/{conversation_id}/messages -> 201
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  conversation_id:
                    type: integer
                  direction:
                    type: string
                  channel:
                    type: string
                  status:
                    type: string
                  body:
                    type: string
                  sender:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                    required:
                    - id
                    - name
                  work_order_id:
                    nullable: true
                    type: integer
                  statement_id:
                    nullable: true
                    type: integer
                  appointment_id:
                    nullable: true
                    type: integer
                  read_at:
                    nullable: true
                    type: string
                  created_at:
                    type: string
                required:
                - id
                - conversation_id
                - direction
                - channel
                - status
                - body
                - sender
                - work_order_id
                - statement_id
                - appointment_id
                - read_at
                - created_at
      description: Create a conversations message.
      operationId: create_conversations_message
      x-curl-example: |-
        curl -X POST -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/conversations/{conversation_id}/messages.json
      x-wenmar-request-schema: CreateConversationsMessageRequest
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/conversations/{conversation_id}/messages/{id}/resends":
    post:
      summary: create
      tags:
      - conversations
      parameters:
      - name: conversation_id
        in: path
        required: true
        schema:
          type: integer
      - name: id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateConversationsMessagesResendRequest"
      responses:
        '200':
          description: POST /conversations/{conversation_id}/messages/{id}/resends
            -> 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  conversation_id:
                    type: integer
                  direction:
                    type: string
                  channel:
                    type: string
                  status:
                    type: string
                  body:
                    type: string
                  work_order_id:
                    nullable: true
                    type: integer
                  statement_id:
                    nullable: true
                    type: integer
                  appointment_id:
                    nullable: true
                    type: integer
                  read_at:
                    nullable: true
                    type: string
                  created_at:
                    type: string
                required:
                - id
                - conversation_id
                - direction
                - channel
                - status
                - body
                - work_order_id
                - statement_id
                - appointment_id
                - read_at
                - created_at
      description: Create a conversations messages resend.
      operationId: create_conversations_messages_resend
      x-curl-example: |-
        curl -X POST -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/conversations/<id>.json
      x-wenmar-request-schema: CreateConversationsMessagesResendRequest
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/conversations/{id}":
    get:
      summary: show
      tags:
      - conversations
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: GET /conversations/{id} -> 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  status:
                    type: string
                  reply_state:
                    type: string
                  channel:
                    type: string
                  customer:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      url:
                        type: string
                    required:
                    - id
                    - name
                    - url
                  unread_count:
                    type: integer
                  messages_url:
                    type: string
                  created_at:
                    type: string
                  updated_at:
                    type: string
                  url:
                    type: string
                  app_url:
                    type: string
                required:
                - id
                - status
                - reply_state
                - channel
                - customer
                - unread_count
                - messages_url
                - created_at
                - updated_at
                - url
                - app_url
      description: Show a conversation by ID.
      operationId: show_conversation
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/conversations/<id>.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
    patch:
      summary: update
      tags:
      - conversations
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/UpdateConversationRequest"
      responses:
        '200':
          description: PATCH /conversations/{id} -> 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  status:
                    type: string
                  reply_state:
                    type: string
                  channel:
                    type: string
                  customer:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      url:
                        type: string
                    required:
                    - id
                    - name
                    - url
                  unread_count:
                    type: integer
                  messages_url:
                    type: string
                  created_at:
                    type: string
                  updated_at:
                    type: string
                  url:
                    type: string
                  app_url:
                    type: string
                required:
                - id
                - status
                - reply_state
                - channel
                - customer
                - unread_count
                - messages_url
                - created_at
                - updated_at
                - url
                - app_url
      description: Update a conversation by ID.
      operationId: update_conversation
      x-curl-example: |-
        curl -X PATCH -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/conversations/<id>.json
      x-wenmar-request-schema: UpdateConversationRequest
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/counter_sales":
    get:
      summary: index
      tags:
      - counter_sales
      responses:
        '200':
          description: GET /counter_sales -> 200
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    counter_sale_number:
                      type: integer
                    status:
                      type: string
                    walk_in_name:
                      nullable: true
                      type: string
                    notes:
                      nullable: true
                      type: string
                    subtotal_cents:
                      type: integer
                    tax_total_cents:
                      type: integer
                    total_cents:
                      type: integer
                    paid_cents:
                      type: integer
                    remaining_cents:
                      type: integer
                    paid:
                      type: boolean
                    currency:
                      type: string
                    line_items_count:
                      type: integer
                    processed_by:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                      required:
                      - id
                      - name
                    location:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        url:
                          type: string
                      required:
                      - id
                      - name
                      - url
                    created_at:
                      type: string
                    updated_at:
                      type: string
                    url:
                      type: string
                    app_url:
                      type: string
                  required:
                  - id
                  - counter_sale_number
                  - status
                  - walk_in_name
                  - notes
                  - subtotal_cents
                  - tax_total_cents
                  - total_cents
                  - paid_cents
                  - remaining_cents
                  - paid
                  - currency
                  - line_items_count
                  - processed_by
                  - location
                  - created_at
                  - updated_at
                  - url
                  - app_url
          headers:
            Link:
              schema:
                type: string
              description: RFC 5988 pagination links
            X-Total-Count:
              schema:
                type: integer
              description: Total matching records
            X-Per-Page:
              schema:
                type: integer
              description: Records per page
      description: List all counter sales, paginated via the Link header.
      operationId: list_counter_sales
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/counter_sales.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
    post:
      summary: create
      tags:
      - counter_sales
      responses:
        '201':
          description: POST /counter_sales -> 201
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  counter_sale_number:
                    type: integer
                  status:
                    type: string
                  walk_in_name:
                    nullable: true
                    type: string
                  notes:
                    nullable: true
                    type: string
                  subtotal_cents:
                    type: integer
                  tax_total_cents:
                    type: integer
                  total_cents:
                    type: integer
                  paid_cents:
                    type: integer
                  remaining_cents:
                    type: integer
                  paid:
                    type: boolean
                  currency:
                    type: string
                  line_items_count:
                    type: integer
                  processed_by:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                    required:
                    - id
                    - name
                  location:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      url:
                        type: string
                    required:
                    - id
                    - name
                    - url
                  created_at:
                    type: string
                  updated_at:
                    type: string
                  url:
                    type: string
                  app_url:
                    type: string
                required:
                - id
                - counter_sale_number
                - status
                - walk_in_name
                - notes
                - subtotal_cents
                - tax_total_cents
                - total_cents
                - paid_cents
                - remaining_cents
                - paid
                - currency
                - line_items_count
                - processed_by
                - location
                - created_at
                - updated_at
                - url
                - app_url
        '403':
          description: POST /counter_sales -> 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateCounterSaleRequest"
      description: Create a counter sale.
      operationId: create_counter_sale
      x-curl-example: |-
        curl -X POST -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/counter_sales.json
      x-wenmar-request-schema: CreateCounterSaleRequest
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/counter_sales/{counter_sale_id}/line_items/brands":
    get:
      summary: brands
      tags:
      - counter_sales
      parameters:
      - name: counter_sale_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '403':
          description: GET /counter_sales/{counter_sale_id}/line_items/brands -> 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      description: List all counter sales line items brands, paginated via the Link
        header.
      operationId: list_counter_sales_line_items_brands
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/counter_sales/{counter_sale_id}/line_items/brands.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/counter_sales/{id}":
    get:
      summary: show
      tags:
      - counter_sales
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: GET /counter_sales/{id} -> 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  counter_sale_number:
                    type: integer
                  status:
                    type: string
                  walk_in_name:
                    nullable: true
                    type: string
                  notes:
                    nullable: true
                    type: string
                  subtotal_cents:
                    type: integer
                  tax_total_cents:
                    type: integer
                  total_cents:
                    type: integer
                  paid_cents:
                    type: integer
                  remaining_cents:
                    type: integer
                  paid:
                    type: boolean
                  currency:
                    type: string
                  line_items_count:
                    type: integer
                  processed_by:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                    required:
                    - id
                    - name
                  location:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      url:
                        type: string
                    required:
                    - id
                    - name
                    - url
                  created_at:
                    type: string
                  updated_at:
                    type: string
                  url:
                    type: string
                  app_url:
                    type: string
                required:
                - id
                - counter_sale_number
                - status
                - walk_in_name
                - notes
                - subtotal_cents
                - tax_total_cents
                - total_cents
                - paid_cents
                - remaining_cents
                - paid
                - currency
                - line_items_count
                - processed_by
                - location
                - created_at
                - updated_at
                - url
                - app_url
      description: Show a counter sale by ID.
      operationId: show_counter_sale
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/counter_sales/<id>.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
    patch:
      summary: update
      tags:
      - counter_sales
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/UpdateCounterSaleRequest"
      responses:
        '200':
          description: PATCH /counter_sales/{id} -> 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  counter_sale_number:
                    type: integer
                  status:
                    type: string
                  walk_in_name:
                    nullable: true
                    type: string
                  notes:
                    type: string
                  subtotal_cents:
                    type: integer
                  tax_total_cents:
                    type: integer
                  total_cents:
                    type: integer
                  paid_cents:
                    type: integer
                  remaining_cents:
                    type: integer
                  paid:
                    type: boolean
                  currency:
                    type: string
                  line_items_count:
                    type: integer
                  processed_by:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                    required:
                    - id
                    - name
                  location:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      url:
                        type: string
                    required:
                    - id
                    - name
                    - url
                  created_at:
                    type: string
                  updated_at:
                    type: string
                  url:
                    type: string
                  app_url:
                    type: string
                required:
                - id
                - counter_sale_number
                - status
                - walk_in_name
                - notes
                - subtotal_cents
                - tax_total_cents
                - total_cents
                - paid_cents
                - remaining_cents
                - paid
                - currency
                - line_items_count
                - processed_by
                - location
                - created_at
                - updated_at
                - url
                - app_url
      description: Update a counter sale by ID.
      operationId: update_counter_sale
      x-curl-example: |-
        curl -X PATCH -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/counter_sales/<id>.json
      x-wenmar-request-schema: UpdateCounterSaleRequest
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/courtesy_cars":
    get:
      summary: index
      tags:
      - courtesy_cars
      responses:
        '200':
          description: GET /courtesy_cars -> 200
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    type:
                      type: string
                    id:
                      type: integer
                    make:
                      type: string
                    model:
                      type: string
                    year:
                      type: integer
                    submodel:
                      nullable: true
                      type: string
                    body_style:
                      nullable: true
                      type: string
                    engine:
                      nullable: true
                      type: string
                    vin:
                      type: string
                    license_plate:
                      type: string
                    license_plate_state:
                      type: string
                    license_plate_country:
                      type: string
                    drivetrain:
                      nullable: true
                      type: string
                    transmission:
                      nullable: true
                      type: string
                    color:
                      nullable: true
                      type: string
                    vehicle_type:
                      type: string
                    unit_number:
                      nullable: true
                      type: string
                    fleet_identifier:
                      nullable: true
                      type: string
                    production_date:
                      nullable: true
                      type: string
                    annual_safety_expires_at:
                      nullable: true
                      type: string
                    notes:
                      nullable: true
                      type: string
                    odometer:
                      type: object
                      properties:
                        reading:
                          nullable: true
                          type: number
                        unit:
                          type: string
                      required:
                      - reading
                      - unit
                    work_orders_count:
                      type: integer
                    work_orders_url:
                      type: string
                    customer:
                      type: object
                      properties:
                        id:
                          type: integer
                        full_name:
                          type: string
                        url:
                          type: string
                      required:
                      - id
                      - full_name
                      - url
                    created_at:
                      type: string
                    updated_at:
                      type: string
                    url:
                      type: string
                    app_url:
                      type: string
                    location:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        url:
                          type: string
                      required:
                      - id
                      - name
                      - url
                  required:
                  - type
                  - id
                  - make
                  - model
                  - year
                  - submodel
                  - body_style
                  - engine
                  - vin
                  - license_plate
                  - license_plate_state
                  - license_plate_country
                  - drivetrain
                  - transmission
                  - color
                  - vehicle_type
                  - unit_number
                  - fleet_identifier
                  - production_date
                  - annual_safety_expires_at
                  - notes
                  - odometer
                  - work_orders_count
                  - work_orders_url
                  - customer
                  - created_at
                  - updated_at
                  - url
                  - app_url
                  - location
          headers:
            Link:
              schema:
                type: string
              description: RFC 5988 pagination links
            X-Total-Count:
              schema:
                type: integer
              description: Total matching records
            X-Per-Page:
              schema:
                type: integer
              description: Records per page
        '403':
          description: GET /courtesy_cars -> 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      description: List all courtesy cars, paginated via the Link header.
      operationId: list_courtesy_cars
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/courtesy_cars.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/customer_tags":
    get:
      summary: index
      tags:
      - customer_tags
      responses:
        '200':
          description: GET /customer_tags -> 200
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
                    color:
                      type: string
                    color_hex:
                      type: string
                    color_class:
                      type: string
                  required:
                  - id
                  - name
                  - color
                  - color_hex
                  - color_class
          headers:
            Link:
              schema:
                type: string
              description: RFC 5988 pagination links
            X-Total-Count:
              schema:
                type: integer
              description: Total matching records
            X-Per-Page:
              schema:
                type: integer
              description: Records per page
      description: List all customer tags, paginated via the Link header.
      operationId: list_customer_tags
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/customer_tags.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
    post:
      summary: create
      tags:
      - customer_tags
      responses:
        '201':
          description: POST /customer_tags -> 201
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  color:
                    type: string
                  color_hex:
                    type: string
                  color_class:
                    type: string
                required:
                - id
                - name
                - color
                - color_hex
                - color_class
        '403':
          description: POST /customer_tags -> 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
        '422':
          description: POST /customer_tags -> 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateCustomerTagRequest"
      description: Create a customer tag.
      operationId: create_customer_tag
      x-curl-example: |-
        curl -X POST -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/customer_tags.json
      x-wenmar-request-schema: CreateCustomerTagRequest
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/customer_tags/{id}":
    delete:
      summary: destroy
      tags:
      - customer_tags
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: DELETE /customer_tags/{id} -> 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  color:
                    type: string
                  color_hex:
                    type: string
                  color_class:
                    type: string
                required:
                - id
                - name
                - color
                - color_hex
                - color_class
      description: Delete a customer tag by ID.
      operationId: delete_customer_tag
      x-curl-example: 'curl -X DELETE -H "User-Agent: wenmar-cli/0.2" -H "Authorization:
        Bearer $WENMAR_TOKEN" https://app.wenmarpro.com/customer_tags/<id>.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
    patch:
      summary: update
      tags:
      - customer_tags
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/UpdateCustomerTagRequest"
      responses:
        '200':
          description: PATCH /customer_tags/{id} -> 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  color:
                    type: string
                  color_hex:
                    type: string
                  color_class:
                    type: string
                required:
                - id
                - name
                - color
                - color_hex
                - color_class
      description: Update a customer tag by ID.
      operationId: update_customer_tag
      x-curl-example: |-
        curl -X PATCH -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/customer_tags/<id>.json
      x-wenmar-request-schema: UpdateCustomerTagRequest
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/customers":
    get:
      summary: index
      tags:
      - customers
      responses:
        '200':
          description: GET /customers -> 200
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/Customer"
          headers:
            Link:
              schema:
                type: string
              description: RFC 5988 pagination links
            X-Total-Count:
              schema:
                type: integer
              description: Total matching records
            X-Per-Page:
              schema:
                type: integer
              description: Records per page
        '401':
          description: GET /customers -> 401
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      parameters:
      - name: has_balance
        in: query
        required: false
        schema:
          type: boolean
      - name: has_vehicle
        in: query
        required: false
        schema:
          type: boolean
      - name: last_visit_months
        in: query
        required: false
        schema:
          type: integer
      - name: page
        in: query
        required: false
        schema:
          type: integer
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
      - name: q
        in: query
        required: false
        schema:
          type: string
      - name: tag_ids
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
      - name: type
        in: query
        required: false
        schema:
          type: string
      description: List all customers, paginated via the Link header.
      operationId: list_customers
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/customers.json'
      x-paginated: true
      x-pagination-header: Link
      x-pagination-format: rfc5988
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
    post:
      summary: create
      tags:
      - customers
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateCustomerRequest"
      responses:
        '201':
          description: POST /customers -> 201
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Customer"
        '403':
          description: POST /customers -> 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
        '422':
          description: POST /customers -> 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      description: Create a customer.
      operationId: create_customer
      x-curl-example: |-
        curl -X POST -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/customers.json
      x-wenmar-request-schema: CreateCustomerRequest
      x-idempotent: false
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/customers/1043910089/merge":
    get:
      summary: GET /customers/1043910089/merge
      responses:
        '404':
          description: GET /customers/1043910089/merge -> 404
          content:
            text/html:
              schema:
                type: string
      description: List all customers merge, paginated via the Link header.
      operationId: list_customers_merge
      tags:
      - customers
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/customers/1043910089/merge.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/customers/check_duplicate":
    get:
      summary: check_duplicate
      tags:
      - customers
      parameters:
      - name: email
        in: query
        required: false
        schema:
          type: string
      - name: first_name
        in: query
        required: false
        schema:
          type: string
      - name: last_name
        in: query
        required: false
        schema:
          type: string
      - name: phone
        in: query
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: GET /customers/check_duplicate -> 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  matches:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        phone:
                          type: string
                        email:
                          type: string
                        url:
                          type: string
                        reasons:
                          type: array
                          items:
                            type: string
                      required:
                      - id
                      - name
                      - phone
                      - email
                      - url
                      - reasons
                required:
                - matches
        '403':
          description: GET /customers/check_duplicate -> 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      description:
      operationId: check_customer_duplicate
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/customers/check_duplicate.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/customers/lookup":
    get:
      summary: lookup
      tags:
      - customers
      parameters:
      - name: id
        in: query
        required: false
        schema:
          type: integer
      - name: query
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: GET /customers/lookup -> 200
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/Customer"
          headers:
            Link:
              schema:
                type: string
              description: RFC 5988 pagination links
            X-Total-Count:
              schema:
                type: integer
              description: Total matching records
            X-Per-Page:
              schema:
                type: integer
              description: Records per page
        '403':
          description: GET /customers/lookup -> 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      description:
      operationId: lookup_customer
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/customers/lookup.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/customers/{customer_id}/drivers":
    get:
      summary: index
      tags:
      - customers
      parameters:
      - name: customer_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: GET /customers/{customer_id}/drivers -> 200
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/Driver"
          headers:
            Link:
              schema:
                type: string
              description: RFC 5988 pagination links
            X-Total-Count:
              schema:
                type: integer
              description: Total matching records
            X-Per-Page:
              schema:
                type: integer
              description: Records per page
      description: List all customers drivers, paginated via the Link header.
      operationId: list_customers_drivers
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/customers/{customer_id}/drivers.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
    post:
      summary: create
      tags:
      - customers
      parameters:
      - name: customer_id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateDriverRequest"
      responses:
        '201':
          description: POST /customers/{customer_id}/drivers -> 201
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Driver"
        '422':
          description: POST /customers/{customer_id}/drivers -> 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      description: Create a driver.
      operationId: create_driver
      x-curl-example: |-
        curl -X POST -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/customers/{customer_id}/drivers.json
      x-wenmar-request-schema: CreateDriverRequest
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/customers/{customer_id}/drivers/{id}":
    delete:
      summary: destroy
      tags:
      - customers
      parameters:
      - name: customer_id
        in: path
        required: true
        schema:
          type: integer
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '204':
          description: DELETE /customers/{customer_id}/drivers/{id} -> 204
      description: Delete a driver by ID.
      operationId: delete_driver
      x-curl-example: 'curl -X DELETE -H "User-Agent: wenmar-cli/0.2" -H "Authorization:
        Bearer $WENMAR_TOKEN" https://app.wenmarpro.com/customers/<id>.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
    get:
      summary: show
      tags:
      - customers
      parameters:
      - name: customer_id
        in: path
        required: true
        schema:
          type: integer
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: GET /customers/{customer_id}/drivers/{id} -> 200
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Driver"
      description: Show a driver by ID.
      operationId: show_driver
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/customers/<id>.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
    patch:
      summary: update
      tags:
      - customers
      parameters:
      - name: customer_id
        in: path
        required: true
        schema:
          type: integer
      - name: id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/UpdateDriverRequest"
      responses:
        '200':
          description: PATCH /customers/{customer_id}/drivers/{id} -> 200
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Driver"
      description: Update a driver by ID.
      operationId: update_driver
      x-curl-example: |-
        curl -X PATCH -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/customers/<id>.json
      x-wenmar-request-schema: UpdateDriverRequest
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/customers/{customer_id}/statements":
    get:
      summary: index
      tags:
      - customers
      parameters:
      - name: customer_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: GET /customers/{customer_id}/statements -> 200
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/Statement"
          headers:
            Link:
              schema:
                type: string
              description: RFC 5988 pagination links
            X-Total-Count:
              schema:
                type: integer
              description: Total matching records
            X-Per-Page:
              schema:
                type: integer
              description: Records per page
      description: List all customers statements, paginated via the Link header.
      operationId: list_customers_statements
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/customers/{customer_id}/statements.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/customers/{customer_id}/vehicles":
    get:
      summary: index
      tags:
      - customers
      parameters:
      - name: customer_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: GET /customers/{customer_id}/vehicles -> 200
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/Vehicle"
          headers:
            Link:
              schema:
                type: string
              description: RFC 5988 pagination links
            X-Total-Count:
              schema:
                type: integer
              description: Total matching records
            X-Per-Page:
              schema:
                type: integer
              description: Records per page
      description: List all customers vehicles, paginated via the Link header.
      operationId: list_customers_vehicles
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/customers/{customer_id}/vehicles.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/customers/{customer_id}/vehicles/{vehicle_id}/history":
    get:
      summary: show
      tags:
      - customers
      parameters:
      - name: customer_id
        in: path
        required: true
        schema:
          type: integer
      - name: vehicle_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: GET /customers/{customer_id}/vehicles/{vehicle_id}/history
            -> 200
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Vehicle"
        '404':
          description: GET /customers/{customer_id}/vehicles/{vehicle_id}/history
            -> 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      description: List all customers vehicles history, paginated via the Link header.
      operationId: list_customers_vehicles_history
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/customers/{customer_id}/vehicles/{vehicle_id}/history.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/customers/{customer_id}/work_orders":
    get:
      summary: index
      tags:
      - customers
      parameters:
      - name: customer_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: GET /customers/{customer_id}/work_orders -> 200
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/WorkOrder"
          headers:
            Link:
              schema:
                type: string
              description: RFC 5988 pagination links
            X-Total-Count:
              schema:
                type: integer
              description: Total matching records
            X-Per-Page:
              schema:
                type: integer
              description: Records per page
      description: List all customers work orders, paginated via the Link header.
      operationId: list_customers_work_orders
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/customers/{customer_id}/work_orders.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/customers/{id}":
    delete:
      summary: destroy
      tags:
      - customers
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '202':
          description: DELETE /customers/{id} -> 202
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Customer"
        '403':
          description: DELETE /customers/{id} -> 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
        '422':
          description: DELETE /customers/{id} -> 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      description: Delete a customer by ID.
      operationId: delete_customer
      x-curl-example: 'curl -X DELETE -H "User-Agent: wenmar-cli/0.2" -H "Authorization:
        Bearer $WENMAR_TOKEN" https://app.wenmarpro.com/customers/<id>.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
    get:
      summary: show
      tags:
      - customers
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: GET /customers/{id} -> 200
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Customer"
        '404':
          description: GET /customers/{id} -> 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      description: Show a customer by ID.
      operationId: show_customer
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/customers/<id>.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
    patch:
      summary: update
      tags:
      - customers
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/UpdateCustomerRequest"
      responses:
        '200':
          description: PATCH /customers/{id} -> 200
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Customer"
      description: Update a customer by ID.
      operationId: update_customer
      x-curl-example: |-
        curl -X PATCH -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/customers/<id>.json
      x-wenmar-request-schema: UpdateCustomerRequest
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/customers/{id}/merges":
    post:
      summary: create
      tags:
      - customers
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: POST /customers/{id}/merges -> 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  id:
                    type: integer
                  full_name:
                    type: string
                  company_name:
                    nullable: true
                    type: string
                  first_name:
                    type: string
                  last_name:
                    type: string
                  fleet_identifier:
                    nullable: true
                    type: string
                  marketing_opt_in:
                    type: boolean
                  tax_exempt:
                    type: boolean
                  vehicles_count:
                    type: integer
                  emails_count:
                    type: integer
                  phones_count:
                    type: integer
                  vehicles_url:
                    type: string
                  work_orders_url:
                    type: string
                  created_at:
                    type: string
                  updated_at:
                    type: string
                  url:
                    type: string
                  app_url:
                    type: string
                  location:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      url:
                        type: string
                    required:
                    - id
                    - name
                    - url
                  emails:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        address:
                          type: string
                        label:
                          type: string
                        primary:
                          type: boolean
                      required:
                      - id
                      - address
                      - label
                      - primary
                  phones:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        number:
                          type: string
                        label:
                          type: string
                        primary:
                          type: boolean
                      required:
                      - id
                      - number
                      - label
                      - primary
                  addresses:
                    type: array
                    items: {}
                  outstanding_balance_cents:
                    type: integer
                  total_revenue_cents:
                    type: integer
                  store_credit_cents:
                    type: integer
                  last_visit_at:
                    nullable: true
                    type: string
                  statements_count:
                    type: integer
                  currency:
                    type: string
                required:
                - type
                - id
                - full_name
                - company_name
                - first_name
                - last_name
                - fleet_identifier
                - marketing_opt_in
                - tax_exempt
                - vehicles_count
                - emails_count
                - phones_count
                - vehicles_url
                - work_orders_url
                - created_at
                - updated_at
                - url
                - app_url
                - location
                - emails
                - phones
                - addresses
                - outstanding_balance_cents
                - total_revenue_cents
                - store_credit_cents
                - last_visit_at
                - statements_count
                - currency
        '403':
          description: POST /customers/{id}/merges -> 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
        '422':
          description: POST /customers/{id}/merges -> 422
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/MergeCustomerRequest"
      description:
      operationId: merge_customer
      x-curl-example: |-
        curl -X POST -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/customers/<id>.json
      x-wenmar-request-schema: MergeCustomerRequest
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/expenses":
    get:
      summary: index
      tags:
      - expenses
      responses:
        '200':
          description: GET /expenses -> 200
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    payee:
                      type: string
                    category:
                      type: string
                    description:
                      type: string
                    amount_cents:
                      type: integer
                    amount_currency:
                      type: string
                    expense_date:
                      type: string
                    payment_method:
                      type: string
                    recurring:
                      type: boolean
                    recurrence_rule:
                      nullable: true
                      type: string
                    creator:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        url:
                          type: string
                      required:
                      - id
                      - name
                      - url
                    location:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        url:
                          type: string
                      required:
                      - id
                      - name
                      - url
                    created_at:
                      type: string
                    updated_at:
                      type: string
                    url:
                      type: string
                    app_url:
                      type: string
                  required:
                  - id
                  - payee
                  - category
                  - description
                  - amount_cents
                  - amount_currency
                  - expense_date
                  - payment_method
                  - recurring
                  - recurrence_rule
                  - creator
                  - location
                  - created_at
                  - updated_at
                  - url
                  - app_url
          headers:
            Link:
              schema:
                type: string
              description: RFC 5988 pagination links
            X-Total-Count:
              schema:
                type: integer
              description: Total matching records
            X-Per-Page:
              schema:
                type: integer
              description: Records per page
      description: List all expenses, paginated via the Link header.
      operationId: list_expenses
      x-curl-example: 'curl -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer
        $WENMAR_TOKEN" https://app.wenmarpro.com/expenses.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
    post:
      summary: create
      tags:
      - expenses
      responses:
        '201':
          description: POST /expenses -> 201
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  payee:
                    type: string
                  category:
                    type: string
                  description:
                    type: string
                  amount_cents:
                    type: integer
                  amount_currency:
                    type: string
                  expense_date:
                    type: string
                  payment_method:
                    type: string
                  recurring:
                    type: boolean
                  recurrence_rule:
                    nullable: true
                    type: string
                  creator:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      url:
                        type: string
                    required:
                    - id
                    - name
                    - url
                  location:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      url:
                        type: string
                    required:
                    - id
                    - name
                    - url
                  created_at:
                    type: string
                  updated_at:
                    type: string
                  url:
                    type: string
                  app_url:
                    type: string
                required:
                - id
                - payee
                - category
                - description
                - amount_cents
                - amount_currency
                - expense_date
                - payment_method
                - recurring
                - recurrence_rule
                - creator
                - location
                - created_at
                - updated_at
                - url
                - app_url
        '403':
          description: POST /expenses -> 403
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    "$ref": "#/components/schemas/Error"
                required:
                - error
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateExpenseRequest"
      description: Create a expense.
      operationId: create_expense
      x-curl-example: |-
        curl -X POST -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/expenses.json
      x-wenmar-request-schema: CreateExpenseRequest
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/expenses/{id}":
    delete:
      summary: destroy
      tags:
      - expenses
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '204':
          description: DELETE /expenses/{id} -> 204
      description: Delete a expense by ID.
      operationId: delete_expense
      x-curl-example: 'curl -X DELETE -H "User-Agent: wenmar-cli/0.2" -H "Authorization:
        Bearer $WENMAR_TOKEN" https://app.wenmarpro.com/expenses/<id>.json'
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
    patch:
      summary: update
      tags:
      - expenses
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/UpdateExpenseRequest"
      responses:
        '200':
          description: PATCH /expenses/{id} -> 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  payee:
                    type: string
                  category:
                    type: string
                  description:
                    type: string
                  amount_cents:
                    type: integer
                  amount_currency:
                    type: string
                  expense_date:
                    type: string
                  payment_method:
                    type: string
                  recurring:
                    type: boolean
                  recurrence_rule:
                    nullable: true
                    type: string
                  creator:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      url:
                        type: string
                    required:
                    - id
                    - name
                    - url
                  location:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      url:
                        type: string
                    required:
                    - id
                    - name
                    - url
                  created_at:
                    type: string
                  updated_at:
                    type: string
                  url:
                    type: string
                  app_url:
                    type: string
                required:
                - id
                - payee
                - category
                - description
                - amount_cents
                - amount_currency
                - expense_date
                - payment_method
                - recurring
                - recurrence_rule
                - creator
                - location
                - created_at
                - updated_at
                - url
                - app_url
      description: Update a expense by ID.
      operationId: update_expense
      x-curl-example: |-
        curl -X PATCH -H "User-Agent: wenmar-cli/0.2" -H "Authorization: Bearer $WENMAR_TOKEN" -H "Content-Type: application/json" \
             -d '{"...":"..."}' https://app.wenmarpro.com/expenses/<id>.json
      x-wenmar-request-schema: UpdateExpenseRequest
      x-retry:
        max: 3
        backoff: exponential
        retry-on:
        - 429
        - 500
        - 502
        - 503
        - 504
        method-gated: true
  "/fleets":
    get:
      summary: index
      tags:
      - fleets
      responses:
        '200':
          description: GET /fleets -> 200
          content:
            application/json:
              schema:
[...]
